.titleHeader {
    text-align: center !important;
    font-size: 20px !important;
    color: #005fb2;
    font-weight: bold !important;
}
.button-space{
    margin-left:23px;
}
.slds-input-has-icon .slds-input__icon{
    top: 61%;
}
.special{
    top: 20%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    position: absolute;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .slds-popover--tooltip .slds-popover_body, .slds-popover_tooltip .slds-popover_body{
    font-size: .80rem
    }
.divHelp {
    z-index: 1000;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .rfcTooltip {
    position: absolute !important;
    z-index: 1 !important;
  }