<template>
    <lightning-card>
        <div class="c-container">
            <div class="slds-align_absolute-center">
                <h3 class="titleHeader">Dirección del contratante</h3>
            </div>
        </div>
        <div class="slds-card slds-has-bottom-magnet">
            <template if:true={modvisdircont}>
                <c-mx_sb_vts_vsd_mod_dir_contratante onparamdc={handleParams}></c-mx_sb_vts_vsd_mod_dir_contratante>
            </template>
            <template if:true={modvisenvpoli}>
                <c-mx_sb_vts_vsd_mod_env_poliza lwcparamdc={objdatadc}></c-mx_sb_vts_vsd_mod_env_poliza>
            </template>
        </div>
        <div slot="footer" class="noFoot">
            <lightning-button class="slds-m-top_small button-space" type="submit" label="Regresar"></lightning-button>
            <lightning-button class="slds-m-top_small button-space" type="submit" label="Guardar"></lightning-button>
            <lightning-button class="slds-m-top_small button-space" onclick={handledNextAction} variant="brand" type="submit" label="Continuar"></lightning-button>
        </div>
    </lightning-card>
</template>