.THIS {
}
.THIS divEstilo{
    background-color: #fff
}
.THIS tabla1{
    width:100%; 
    background-color: #fff
}
.THIS tabla2{
    width:100%; 
    background-color: #fff
}
.THIS tabla3{
    width:100%; 
    background-color: #fff
}
.THIS tabla4{
    width:100%; 
    background-color: #fff
}
.THIS tabla5{
    width:100%; 
    background-color: #fff
}
.THIS tabla6{
    width:100%; 
    background-color: #fff
}
.THIS radioGroup{
    display:grid;
}