.THIS {
    background-color: white;
}

.THIS.row {
    padding: 15px 0;
    margin-bottom: 20px;
}
.THIS.slds-accordion__content {
    display:none;
}
.THIS .acordeoncolor.tittle {
    display: flex;
    align-items: center;
    background: var(--lwc-colorBackground,rgb(243, 242, 242));
            cursor: pointer;
            width: 100%;
            text-align: left;
            color: currentColor;
            font-size: inherit;
            padding: 0 var(--lwc-spacingXSmall,0.5rem);
            }
            
            .THIS .slds-modal__header{
                background-color: blue; 
            } 
            
            .THIS .myModal .slds-modal__header{
                background-color: blue; 
            } 
            
            /*Modal Body*/
            .THIS div .myModal .slds-modal__header{
                background-color: blue; 
            }
            
            .THIS .mdlMetodoPagoH {
                height:60px;
                display:flex;
                justify-content:center;
                align-content:center;
                flex-direction:column;
                text-align:center;
                border-top-left-radius:.25rem;
                border-top-right-radius:.25rem;
            }
            .THIS .mdlMetodoPagoB {
                background-color:#F3F2F2;
                height:90px;
                display:flex;
                justify-content:center;
                align-content:center;
                flex-direction:column;
                text-align:center;
            }
            .THIS .mdlHeaderTypeCveInc{
                background-image:repeating-linear-gradient(55deg,#FFB75D 0 30px,#F8B259 30px 60px);
                color:black;
            }
            .THIS .mdlHeaderTypeCobEx{
                background-image:repeating-linear-gradient(55deg,#04844c 0 30px,#047c4c 30px 60px);
                color:white;
            }
            .THIS .mdlHeaderTypeOTPSuccess{
                background-image:repeating-linear-gradient(55deg,#3c3c3c 0 30px,#484848 30px 60px);
                color:white;
            }
            .THIS .mdlHeaderTypeCobNr{
                background-image:repeating-linear-gradient(55deg,#C23934 0 30px,#BA3632 30px 60px);
                color:white;
            }
            .THIS div div div div div div div div .slds-radio {
                display: inline !important;
                border-right: grey solid;
                border-right-width: 1px;
                margin-right: 5px;
            }
            .THIS .resume-contract {
                
                background-color:#DBEBFB;
                
            }
            .THIS .verdeColor {
                background-color: #04834c;
            }
            .THIS .redColor {
                background-color: #bf3732;
            }
            .THIS.selectToAura {
                background-color: #fff;
                border: 1px solid #dddbda;
                border-radius: .25rem;
                width: 100%;
                transition: border .1s linear,background-color .1s linear;
                height: calc(1.875rem + 2px);
            }
            .THIS.cssResume{
                text-align: center;
                text-transform: uppercase;
                color: #4CAF50;
            }
            .THIS.hide-error-message.slds-form-element__help {
 	   			display: none;
			}
            .THIS.hide-error-message.slds-input {
                display: none;
            }
            .THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -1.5rem;
    left: -1rem;
    white-space: nowrap;
}