<!--
  @File Name          : mX_SB_SAC_CaseComments.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 4/13/2020, 12:30:35 PM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    1/8/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card>
        <section class='slds-var-m-left_medium slds-var-m-right_medium'>
            <textarea rows={rows} id='customText' class='custom-textarea' disabled> {customText} Le atendió { userName } de BBVA Seguros fue un gusto atenderle.</textarea>
        <lightning-textarea label='Comentarios' required data-field='Description' value={record.Description}></lightning-textarea>
        </section>
    </lightning-card>
    <lightning-card class='custom-footer'>
        <lightning-button label='Guardar' variant='brand' class='slds-is-absolute' onclick={handleUpdateCase}></lightning-button>
    </lightning-card>
</template>