<!--
  @description       : 
  @author            : Eduardo Hernandez Cuamatzi
  @group             : 
  @last modified on  : 12-01-2020
  @last modified by  : Diego Olvera
  Modifications Log 
  Ver   Date         Author         Modification
  1.0   12-01-2020   Eduardo Hernandez   Initial Version
-->
<template>
  <lightning-card>
    <div class="c-container">
      <div class="slds-align_absolute-center slds-m-around_medium slds-size_1-of-1">
        <h3 class="titleHeader">Frecuencia de pago {stagecount}/{totalstages}</h3>
      </div>
      <div>
        <template if:true={isLoadOk}>
          <c-mx_sb_vts_cotiz-payments record-id={recordId} isquarterly={hasquartly} hasfoot={hasFoot} hastitle={hasTitle}></c-mx_sb_vts_cotiz-payments>
        </template>
      </div>
    </div>
    <div slot="footer" class="noFoot">
      <lightning-button class="slds-m-top_small button-space" type="submit" label="Regresar">
      </lightning-button>
      <lightning-button class="slds-m-top_small button-space" type="submit" label="Guardar">
      </lightning-button>
      <lightning-button class="slds-m-top_small button-space" onclick={handledNextAction} variant="brand" type="submit"
        label="Continuar">
      </lightning-button>
    </div>
  </lightning-card>
</template>