<template>
    <!--
    <template if:false={bitEmpty.data}>
        <template if:true={visit}>
            <lightning-card icon-name="standard:custom">
                <h1 slot="title">
                    <lightning-formatted-url value={visitUrl} tooltip="Bitácora" label="Bitácora" target="_blank">
                    </lightning-formatted-url>
                </h1>
                <lightning-record-view-form record-id={visit.Id} object-api-name="dwp_kitv__Visit__c">
                    <div class="slds-box slds-theme_default">
                        <lightning-output-field field-name="BPyP_TipoDeLlamada__c">
                        </lightning-output-field>
                        <lightning-output-field field-name="dwp_kitv__visit_status_type__c">
                        </lightning-output-field>
                        <lightning-output-field field-name="BPyP_Comentarios__c">
                        </lightning-output-field>
                        <lightning-output-field field-name="Consulta_Saldos__c">
                        </lightning-output-field>
                    </div>
                </lightning-record-view-form>
            </lightning-card>
        </template>
    </template>
    -->
    <!--<template if:true={bitEmpty.data}>-->
        <lightning-card title="Registrar Conversación" icon-name="standard:custom">

            <lightning-record-edit-form object-api-name="dwp_kitv__Visit__c" onsuccess={handleCreated}>
                <lightning-messages>
                </lightning-messages>
                <lightning-input-field class="inpFields" field-name="BPyP_Comentarios__c"></lightning-input-field>
                <lightning-input-field class="inpFields" field-name="MX_BPP_TipoOperacion__c"></lightning-input-field>
                <lightning-input-field class="inpFields" field-name="Consulta_Saldos__c"></lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="dwp_kitv__visit_duration_number__c"
                    value='15'>
                </lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="dwp_kitv__visit_start_date__c"
                    value={createdDate}>
                </lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="BPyP_TipoDeLlamada__c"
                    value='Conversación'>
                </lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="Name" value='Conversación'>
                </lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="dwp_kitv__visit_status_type__c"
                    value='05'>
                </lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="BPyP_Folio__c"
                    value={conversationId}>
                </lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="dwp_kitv__account_id__c"
                    value={accountId}>
                </lightning-input-field>
                <lightning-input-field class="slds-hide" disabled="true" field-name="MX_MC_IdConv__c" value={caseId}>
                </lightning-input-field>
                <lightning-button class="slds-align_absolute-center" type="submit" variant="brand" label="Guardar">
                </lightning-button>
            </lightning-record-edit-form>
        </lightning-card>
    <!--</template>-->
</template>