.centerText {
    text-align: center;
}

.slds-form-element__label {
    font-size: 0.8125rem;
}

.slds-input:focus, .slds-input:active, .slds-input:focus-visible {
    outline: 0;
    border-color: rgb(21, 137, 238); /* This is the blue color of the border */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #0070d2; /* This is the blue color of the shadow */
}