<template>
    <template if:true={isLoading}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
         </div>
    </template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">No fue posible obtener la Suma Asegurada del Cliente</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

                    <div class = "centerText">
                        <label>Por favor pídela e ingrésala manualmente y posteriormente da clic en el botón "Continuar"</label>
                    </div>
                    
                    <br>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col"></div>
                        <div class="slds-col">

                            <div class="centerText">
                                <p>Múltiplos de $50,000</p>
                            </div>

                            <div class="slds-form_horizontal">
                                <lightning-input name="insuredAmount" type="number" label="Suma Asegurada Manual: " value={insuredAmount} onchange={handleAmount} 
                                    min = {minValue}
                                    max = {maxValue}    
                                    message-when-value-missing="Por favor complete este campo"
                                    message-when-step-mismatch = "La suma asegurada es incorrecta, sólo se aceptan valores númericos enteros"
                                    message-when-range-overflow = "El máximo de la suma asegurada es mayor del límite" 
                                    message-when-range-underflow = "El mínimo de la suma asegurada es menor del límite">
                                </lightning-input>
                            </div>

                            <div class="centerText" if:true={condition}>
                                <p>Min: {minVal} &emsp; Max:{maxVal}</p>
                            </div>

                            <div class="centerText" if:false={condition}>
                                <p>Min: {minVal} &emsp; Max:{maxVal}</p>
                            </div>
                                


                        </div>
                        <div class="slds-col"></div>
                    </div>
                
                </div>

                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_brand" onclick={returnOpt} title="Regresar">Regresar</button>
                    <button class="slds-button slds-button_brand" data-id="save" disabled={disableOpt} title="Guardar">Guardar</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="Continuar">Continuar</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
 </template>