.THIS .slds-col{
    background: red;
   width:20%;
}
.lgc-bg {
    background-color:  rgb(100, 178, 227);
}

.resume-contract {
    background-color: rgb(100, 178, 227);

}
.THIS .slds-radio {
    display: inline !important;
    }