<template>
    <div>
        <div class="slds-m-around_large">
            <p hidden if:true={isLoaded}>Content has been loaded.</p>
            <div if:false={isLoaded} class="slds-is-relative">
                <lightning-spinner alternative-text="Loading..." variant="brand">
                </lightning-spinner>
            </div>
        </div>
            <div class="slds-grid slds-wrap">
                <div class="slds-size_1-of-12">
                </div>
                <div class="slds-size_2-of-12">
                    <label for="select-01">Tipo de plan:</label>
                </div>
                <div class="slds-size_5-of-12">
                    <select class="slds-select tipopoliza" id="select-01" aria-label="Tipo de poliza"
                        onchange={changetipopoliza}>
                        <template for:each={polizaOptions} for:item="pol">
                            <option key={pol.id} id={pol.description} value={pol.id}>{pol.description}</option>
                        </template>
                    </select>
                </div>
                <div class="slds-size_4-of-12">
                </div>
            </div>
    </div>
    <br />
    <br />
    <div>
        <lightning-tabset variant="scoped" class="slds-tabs--default radiolapsos">
            <template for:each={planTabs} for:item="pln">
                <lightning-tab key={pln} label={pln} value={pln} onactive={tabselect}>
                    <div class="slds-grid slds-page-header__detail-row">
                        <div class="slds-grid slds-size_2-of-2 pfpradio">
                            <lightning-radio-group name={pln} options={options} value={selectedValue} type="button"
                                onchange={handleradiochange}>
                            </lightning-radio-group>
                        </div>
                    </div>
                </lightning-tab>
            </template>
        </lightning-tabset>
    </div>
    <br />
    <div class="slds-box "><Strong><h1 class="slds-tile__title slds-truncate slds-border_bottom">Coberturas de Respaldo Seguro para Hospitalización</h1></Strong>
    <div class="slds-m-around--large slds-grid slds-wrap slds-grid_vertical">
        <article class="slds-tile slds-col">
            <div class="slds-col slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--12-of-12">
                <h3 class="slds-tile__title slds-truncate" title="Apoyo para gastos hospitalarios"></a></h3>
                <b>
                    <div class="slds-tile__title slds-truncate "><h2>Apoyo para gastos por hospitalización:</h2></div>
                </b>
                <br/>
                    <lightning-layout horizontal-align="spread" class="slds-grid slds-gutters slds-align_absolute-center">
                        <lightning-layout-item padding="around-small" class="slds-box slds-col">
                            <p>De 3 a 5 días hospitalizado:</p>
                            <p><lightning-formatted-number value={coberturaSeguro.dias5} format-style="currency">
                            </lightning-formatted-number></p>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" class="slds-col"></lightning-layout-item>
                        <lightning-layout-item padding="around-small" class="slds-box slds-col">
                            <p>De 6 a 35 días hospitalizado:</p>
                            <p><lightning-formatted-number value={coberturaSeguro.dias35} format-style="currency">
                            </lightning-formatted-number></p>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" class="slds-col"></lightning-layout-item>
                        <lightning-layout-item padding="around-small" class="slds-box slds-col">
                            <p>Más 35 días hospitalizado:</p>
                            <p><lightning-formatted-number value={coberturaSeguro.dias35mas} format-style="currency">
                            </lightning-formatted-number></p>
                        </lightning-layout-item>
                    </lightning-layout>
                    <br />
                </div>
        </article>
        <article class="slds-tile slds-col">
            <b>
                <div class="slds-tile__title slds-truncate"><h2>Apoyo para gastos funerarios:</h2></div>
            </b>
            <br/>
            <lightning-layout horizontal-align="spread" class="slds-col slds-box">
                <lightning-layout-item padding="around-small">
                    <b>Suma asegurada:</b>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <lightning-formatted-number value={coberturaSeguro.agf} format-style="currency">
                    </lightning-formatted-number>
                </lightning-layout-item>
            </lightning-layout>
        </article>
    </div>
</div>
    <template if:true={showResumen}>
    </template>
</template>