<template>
    <lightning-card>
        <div class="c-container">
          <template if:true={areDetailsVisible}>
            <div class="spinValidPoliz slds-is-relative">
              <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
          </template>
          <div class="slds-grid slds-grid_vertical-align-end">
            <div class="slds-size_5-of-12">
              <div class="slds-form-element">
                  <label class="slds-form-element__label" for="polizinput">Número de poliza</label>
                  <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                    <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" icon-name="utility:search"></lightning-icon>
                    <input type="text" name="polizNum" id="polizinput" placeholder="ej: 8CF0021A0A" class="slds-input upperCaseText" minlength="10" maxlength="10" pattern="[a-zA-Z0-9-]+" readonly={isValidPol} value={polizNum} onchange={handleFormInputChange} message-when-too-short="El número de poliza debe de ser de 10 digitos"/>
                  </div>
              </div>
            </div>
            <div class="slds-size_4-of-12">
              <lightning-button label="Validar" title="Validar poliza" icon-name="utility:search" icon-position="left" class="slds-m-left_x-small" onclick={handledValidPoliz} disabled={isValidPol}></lightning-button>
            </div>
          </div>
        </div>
    </lightning-card>    
</template>