.titleHeader {
    text-align: center !important;
    font-size: 20px !important;
    color: #005fb2;
    font-weight: bold !important; 
}
.totalAmount {
    font-size: 13px !important;
    font-weight: bold !important; 
}
.totalText {
    font-size: 12px !important;
}
.button-space{
    margin-left:23px;
}