<template>
  <lightning-card>
    <div class="c-container">
      <template if:true={isLoading}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
         </div>
      </template>
      <template if:false={hastitle}>
        <div class="slds-align_absolute-center slds-m-around_medium slds-size_1-of-1">
          <h3 class="titleHeader">Frecuencia de pago (3/5)</h3>
        </div>
      </template>
      <div class="slds-form slds-grid slds-wrap slds-grid_align-center">
        <template for:each={payments} for:item='payment'>
          <div key={payment.Id} class="slds-form__row slds-col slds-size_10-of-12">
            <div class="slds-form__item" role="listitem">
              <div class="slds-form-element__control">
                <template if:true={payment.checked}>
                  <lightning-input type="checkbox" data-id="checkboxPayments" name="optionsPayments" id={payment.Id}
                  value={payment.Id} onchange={onCheckPayment} checked label={payment.label} data-ramo="INCE"
                  data-categorie="INVENTORY_AND_FURNITURE" data-goodtype="CONTENT"></lightning-input>
                </template>
                <template if:false={payment.checked}>
                  <lightning-input type="checkbox" data-id="checkboxPayments" name="optionsPayments" id={payment.Id}
                  value={payment.Id} onchange={onCheckPayment} label={payment.label} data-ramo="INCE"
                  data-categorie="INVENTORY_AND_FURNITURE" data-goodtype="CONTENT"></lightning-input>
                </template>
                <label class="slds-form-element__label slds-text-heading_medium totalText">Total a pagar: </label><label
                  class="totalAmount">{payment.totalToPay}</label>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div class="slds-form slds-grid slds-wrap slds-grid_align-center slds-p-top_large">
        <div class="slds-form__row slds-col slds-size_10-of-12">
          <div class="slds-col slds-size_6-of-12">
            <div class="slds-input-has-icon slds-input-has-icon_right">
              <lightning-input type="text" class="cupon" id="text-input-id-1" placeholder="ejemplo: CMX001"
                label="Ingrese código de promoción" value={valCupon} onchange={updateVal} data-ramo="INCE"
                data-categorie="INVENTORY_AND_FURNITURE" data-goodtype="CONTENT" data-covercode="CODIGO_CUPON"></lightning-input>
              <lightning-icon
                class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default slds-p-top_small"
                icon-name="utility:edit" size="x-small"></lightning-icon>
            </div><br/>
            <lightning-button variant="brand-outline" onclick={handleBlur} icon-name="utility:product_warranty_term" label="Valida cupón" data-ramo="INCE"
            data-categorie="INVENTORY_AND_FURNITURE" data-goodtype="CONTENT" data-covercode="CODIGO_CUPON"></lightning-button>
          </div>
          <div class="slds-col slds-size_1-of-12"></div>
          <div class="slds-col slds-size_5-of-12 slsds slds-m-top_medium">
            <lightning-button variant="brand-outline" onclick={handleClick} icon-name="utility:email"
              label="Enviar cotización por correo">
            </lightning-button>
          </div>
        </div>
      </div>
    </div>
    <template if:false={hasfoot}>
      <div slot="footer" class="noFoot">
        <lightning-button class="slds-m-top_small button-space" label="Regresar" onclick={handledBackAction}>
        </lightning-button>
        <lightning-button class="slds-m-top_small button-space" variant="brand" type="submit" label="Guardar"
          onclick={saveStage}>
        </lightning-button>
        <lightning-button class="slds-m-top_small button-space" variant="brand" label="Continuar"
          onclick={handledNextAction} disabled={paymentSelect}>
        </lightning-button>
      </div>
    </template>
  </lightning-card>
  <template if:true={showModalEmail}>
    <c-mx_sb_vts_cotiz-send-cot-email show-modal-email={showModalEmail} client-name={clientName}
      onclosedialog={handledCloseDialog}></c-mx_sb_vts_cotiz-send-cot-email>
  </template>
</template>