.THIS {
}
.THIS tablaDatos{
    width:100%; 
    background-color: #fff
}
.THIS tablaDatosUno{
    width:100%; 
    background-color: #fff
}
.THIS tablaDatosDos{
    width:100%; 
    background-color: #fff
}
.THIS.selectToAura {
	background-color: #fff;
	border: 1px solid #dddbda;
	border-radius: .25rem;
	width: 100%;
	transition: border .1s linear,background-color .1s linear;
	height: calc(1.875rem + 2px);
}