<template>
    <div class="slds-box pagos slds-p-top_xx-small slds-m-top_xx-small stik-stle">
        <h1 class="titleTexts slds-align_absolute-center">Información de Pagos</h1><br>
        <div class="slds-clearfix float-update">
            <div class="slds-float_right">
                <lightning-button label="Actualizar" title="Actualizar" variant="brand" onclick={updtTotal} class="slds-m-left_x-small"></lightning-button>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_4-of-12"></div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                                <h3 class="slds-align_absolute-center paymentsText">Total <br>mensual:</h3>
                                <h3 class="slds-align_absolute-center paymentsText">{totalmonth}</h3>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                                <h3 class="slds-align_absolute-center paymentsText">Total <br>semestral:</h3>
                                <h3 class="slds-align_absolute-center paymentsText">{totalsemianual}</h3>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                                <h3 class="slds-align_absolute-center paymentsText">Total <br>anual:</h3>
                                <h3 class="slds-align_absolute-center paymentsText">{totalanual}</h3>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>