.paymentsText {
    color: #005fb2 !important;
    font-weight: bold !important;
}
.paymentsBorderBox {
    border-color: #005fb2 !important;
    min-height: 7em;
    max-height: 7em;
    align-content: center;
    text-align: center;
}
.paymentsBackGroundBox {
    background-color: #DFF4FA !important;
}

.pagos{
    border: 2px solid #1B4F72;
    background-color: whitesmoke;
}

.stik-stle {
    position: sticky;
    position: -webkit-sticky;
    bottom: 30px;
    z-index: 90;
}

.titleTexts {
    text-align: center !important;
    font-size: 1.5em !important;
    color: #005fb2;
    font-weight: bold !important;
    text-decoration: underline;
}

.float-update {
    position: absolute;
    top: 15px;
    right: 20px;
}

.slds-center-pagos {
    margin-left: 500px !important;
}