.titleHeader {
    text-align: center !important;
    font-size: 2em !important;
    color: #005fb2;
    font-weight: bold !important;
}
.suma {
width: 98%;
margin-top: 3%;
margin-left: 5px;
}
.suma-color{
border: 2px solid #1B4F72;
background-color: whitesmoke;
}
.btnValues {
border: solid 1px #1B4F72;
height: 50px;
margin-left: 4.5px;
background: #1B4F72;
color: #ffffff !important;
margin-top: 5px;
}
.btnlightValues {
border: solid 1px #1B4F72;
height: 50px;
margin-left: 4.5px;
background: #D6EAF8;
color: #1B4F72 !important;
margin-top: 5px;
}

.class1 {
background: #FDFDFD !important;
}
.textOptional {
float: left;
width: auto;
height: auto;
text-align: left;
padding-left: 5px;
padding-bottom: 14px;
font-size: calc(.40em + .40vw);
}
.textTitleSA {
text-align: left;
padding-left: 5px;
font-size: calc(.40em + .40vw);
}
.textTitles {
float: left;
width: auto;
height: auto;
text-align: left;
padding-left: 15px;
padding-bottom: 20px;
font-size: calc(.40em + .40vw);
}
.textPosition {
float: left;
width: 100%;
}
.txtImportValue {
float: right;
width: auto;
text-align: right;
padding-right: 15px;
font-size: calc(.40em + .40vw);
}
.titleTexts {
text-align: center !important;
font-size: 1.5em !important;
color: #005fb2;
font-weight: bold !important;
text-decoration: underline;
}
.totalPagos{
border: 2px solid #217B9A;
background-color: #DFF4FA;
margin-left: auto;
margin-right: auto;
}
.slds-button {
align-items: unset;
}
.pagos{
border: 2px solid #1B4F72;
background-color: whitesmoke;
}
.button-space {
margin-left: 23px;
}
.textSA {
float: left;
width: 100%;
text-align: left;
margin-top: -10px;
font-size: calc(.40em + .40vw);
}
.textSAO {
float: left;
width: 100%;
text-align: left;
margin-top: -14px;
padding-left: 5px;
font-size: calc(.38em + .40vw);
}

.txtTitleName {
float: left;
width: auto;
text-align: left;
padding-left: 15px;
font-size: calc(.40em + .40vw);
}
.txtTitleNameStatic {
float: left;
width: auto;
text-align: left;
padding-left: 15px;
margin-top: 3px;
font-size: calc(.40em + .40vw);
}

.btnTest {
border: solid 1px #1B4F72;
height: 104px;
margin-left: 4.5px;
background: #D6EAF8;
color: #1B4F72 !important;
margin-top: 5px;
}

.infoButtonRobo {
padding-top: 77px;
}

.testTool {
background-color: transparent;
border: 0;
height: auto;
width: 223px;
margin-left: 1px;
outline: none;
}

.slds-popover--tooltip .slds-popover__body,
.slds-popover_tooltip .slds-popover__body {
font-size: .65rem;
color: white;
}
.slds-slide-from-top-to-bottom {
transform: translateY(-170%);
will-change: transform;
padding: 0px;
margin-bottom: calc(-7 * var(--lwc-spacingSmall, 0.75rem));
}
.tooltipSize {
width: 220px;
}
.stik-stle {
position: sticky;
position: -webkit-sticky;
bottom: 30px;
}
.content-size {
height: 400px;
overflow-y: scroll;
}
.float-update {
position: absolute;
top: 15px;
right: 20px;
}
.slds-box {
border: 2px solid;
background-color: whitesmoke;
}
.stik-stle {
position: sticky;
position: -webkit-sticky;
bottom: 30px;
z-index: 90;
}
.btnSelectFixed {
    border: solid 1px #1B4F72;
    height: 68px;
    margin-left: 4.5px;
    background: #D6EAF8;
    color: #1B4F72 !important;
    margin-top: 5px;
}
.iconmovcov {
    float: right;
    margin-top: -48px;
    margin-right: -3px;
}
.txtAnotherInfo {
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    font-size: calc(.40em + .40vw);
}
.btnStaticsFixed {
    border: solid 1px #1B4F72;
    height: 68px;
    margin-left: 4.5px;
    background: #1B4F72;
    color: #ffffff !important;
    margin-top: 5px;
}
.btnSelect {
    border: solid 1px #1B4F72;
    height: 9.1rem;
    margin-left: 4.5px;
    background: #D6EAF8;
    color: #1B4F72 !important;
    margin-top: 5px;
}
.iconmovcovfixed {
    float: right;
    margin-top: -107px;
    margin-right: -3px;
}