<!--
  @description       : Lwc que corresponde a opción de Rentado en cotizador con origen Outbound
  @author            : Diego Olvera
  @group             : BBVA
  @last modified on  : 02-15-2021
  @last modified by  : Diego Olvera
  Modifications Log
  Ver   Date         Author             Modification
  1.0   06-29-2020   Marco Cruz         Initial Version
  1.1   19-01-2021   Alexandro Corzo    Ajustes al Formulario LWC
-->
<template>
    <lightning-card>
        <template if:true={isLoading}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
        </template>
        <div class="slds-m-around_medium">
            <div class="slds-align_absolute-center">
                <h3 class="titleHeader">Personaliza tu protección (Outbound Rentado) (2/5)</h3>
            </div>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-box pagos slds-p-top_xx-small slds-m-top_xx-small">
                        <lightning-combobox data-id="Suma Asegurada" name="Suma Asegurada" label="Suma Asegurada: "
                            value={value} onchange={handleChange} options={options}></lightning-combobox>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-3">
                    <div style="margin-top: 6%;">
                        <p class="titleHeaderNote">Los costos que se contemplan en las coberturas son anuales y sin IVA</p>
                    </div>
                </div>
                <div class="slds-col"><span></span></div>
            </div>
            <div
                style="border: solid 2px #1B4F72; height: auto; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                <lightning-accordion class="" allow-multiple-sections-open active-section-name={activeSections}>
                    <lightning-accordion-section name="Asistencias" label="Asistencias">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-3">
                                <button data-name="btnRenMejorandoCasa" onclick={clkButtonCov} data-type="required"
                                    class="slds-button_stretch slds-button btnStaticsFixed"
                                    title="Sin deducible, se paga la cantidad que exceda los $750">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Mejorando tu casa</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            style="height: 45px;"></div>
                                    </div>
                                </button>
                                <div class="iconmovcov">
                                    <lightning-button-icon data-id="infoCasa"
                                        class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                        onclick={onclickCasa} onmouseout={hideCasa} icon-name="utility:info"
                                        variant="bare-inverse" alternative-text="info">
                                    </lightning-button-icon>
                                </div>
                                <div data-id="helpCasa"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={casa}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <button data-name="btnRenMedica" onclick={clkButtonCov} data-type="required"
                                    class="slds-button_stretch slds-button btnStaticsFixed">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Médica</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            style="height: 45px;"></div>
                                    </div>
                                </button>
                                <div class="iconmovcov">
                                    <lightning-button-icon
                                        class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                        onclick={onclickMedica} onmouseout={hideMedica} icon-name="utility:info"
                                        variant="bare-inverse" alternative-text="info" title="">
                                    </lightning-button-icon>
                                </div>
                                <div data-id="helpMedica"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={medica}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <button data-name="btnRenMascotas" onclick={clkButtonCov} data-type="optional"
                                    class="slds-button slds-button_stretch btnSelectFixed" title=""
                                    data-cotiz="completa" data-section="asistencias" data-covercode="2008ASMASCOTAS"
                                    data-ramo="INCE" data-typecover="criterial" data-categorie="INVENTORY_AND_FURNITURE"
                                    data-goodtype="CONTENT">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Mascotas</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            style="height: 45px;"></div>
                                    </div>
                                </button>
                                <div class="iconmovcov">
                                    <lightning-button-icon data-id="infoPets"
                                        class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                        onclick={onclickMascotas} onmouseout={hideMascotas} icon-name="utility:info"
                                        variant="bare-inverse" alternative-text="info" title="">
                                    </lightning-button-icon>
                                </div>
                                <div data-id="helpMascotas"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={mascotas}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <div
                style="border: solid 2px #1B4F72; height: auto; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                <lightning-accordion class="" allow-multiple-sections-open active-section-name={activeSections}>
                    <lightning-accordion-section data-id="Contenidos" name="Contenidos" label="Contenidos">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-size_1-of-3 slds-grid slds-grid_vertical">
                                <div class="slds-col slds-size_3-of-3">
                                    <button data-name="btnRenConIncen" onclick={clkButtonCov} data-type="required"
                                        class="slds-button_stretch slds-button btnStaticsFixed" title="Sin deducible">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Incendio</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {outrenconinc}
                                            </div>
                                            <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                style="height: 45px;"></div>
                                        </div>
                                    </button>
                                    <div class="iconmovcov">
                                        <lightning-button-icon data-id="incendio"
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            onclick={onclickIncendio} onmouseout={hideIncendio} icon-name="utility:info"
                                            variant="bare-inverse" alternative-text="info" title="">
                                        </lightning-button-icon>
                                    </div>
                                    <div data-id="helpIncendio"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={incendio}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_3-of-3">
                                    <button data-name="btnRenConDaCiTe" onclick={clkButtonCov} data-type="required"
                                        class="slds-button_stretch slds-button btnStaticsFixed" title="Sin deducible">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Civil/Daños a terceros</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {outrenconcdt}
                                            </div>
                                            <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                style="height: 45px;"></div>
                                        </div>
                                    </button>
                                    <div class="iconmovcov">
                                        <lightning-button-icon data-id="infoTerceros"
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            onclick={onclickDanios} onmouseout={hideDanios} icon-name="utility:info"
                                            variant="bare-inverse" alternative-text="info" title="">
                                        </lightning-button-icon>
                                    </div>
                                    <div data-id="helpDanios"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={danios}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_3-of-3">
                                    <button data-name="btnRenConEELiBl" onclick={clkButtonCov} data-type="optional"
                                        class="slds-button slds-button_stretch btnSelectFixed" title="$500 por equipo"
                                        data-cotiz="completa" data-section="contenidos"
                                        data-covercode="ELECTRONIC_EQUIPMENT|APPLIANCE_EQUIPMENT" data-ramo="TECN"
                                        data-typecover="coverage">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">EE y Linea Blanca</div>
                                                <div class="txtImportValue">{sumrencovLib}</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {outrenconlib}
                                            </div>
                                            <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                style="height: 45px;"></div>
                                        </div>
                                    </button>
                                    <div class="iconmovcov">
                                        <lightning-button-icon data-id="infoLinea"
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            onclick={onclickBlanca} onmouseout={hideBlanca} icon-name="utility:info"
                                            variant="bare-inverse" alternative-text="info" title="">
                                        </lightning-button-icon>
                                    </div>
                                    <div data-id="helpBlanca"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={lineaBlanca}></lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-size_1-of-3 slds-grid slds-grid_vertical">
                                <div class="slds-col slds-size_3-of-3">
                                    <template if:true={optiEarth}>
                                        <button title="
                                        1% de deducible y 10% de Coaseguro en perdida parcial
                                        Se eliminan deducible y coaseguro con perdida total"
                                            class="slds-button_stretch slds-button btnSelectFixed"
                                            onclick={clkButtonCov} data-name="btnRenConTere" data-type="optional"
                                            data-section="contenidos" data-cotiz="completa"
                                            data-covercode="EARTHQUAKE_VOLCANIC_ERUPTION|DEBRIS_REMOVAL|EXTRAORDINARY_EXPENSES"
                                            data-ramo="TERR" data-typecover="coverage">
                                            <div style="width: 100%;">
                                                <div style="float: left; width: 100%;">
                                                    <div class="txtTitleName">Terremoto</div>
                                                    <div class="txtImportValue">{sumrencovTerr}</div>
                                                </div>
                                                <div class="txtAnotherInfo">
                                                    SA: {outrenconter}
                                                </div>
                                                <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                    style="height: 45px;"></div>
                                            </div>
                                        </button>
                                        <div class="iconmovcov">
                                            <lightning-button-icon data-id="infoTerremoto"
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickTerremoto} onmouseout={hideTerremoto}
                                                icon-name="utility:info" variant="bare-inverse" alternative-text="info"
                                                title="">
                                            </lightning-button-icon>
                                        </div>
                                        <div data-id="helpTerremoto"
                                            class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                            role="tooltip" aria-live="polite">
                                            <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                                <p>
                                                    <lightning-formatted-text class="highcharts-container"
                                                        value={terremoto}></lightning-formatted-text>
                                                </p>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_3-of-3">
                                    <template if:false={optiEarth}>
                                        <button data-name="btnRenConTere" onclick={clkButtonCov} data-type="required"
                                            class="slds-button_stretch slds-button btnStaticsFixed" title="1% de deducible y 10% de Coaseguro en perdida parcial
                                               Se eliminan deducible y coaseguro con perdida total">
                                            <div style="width: 100%;">
                                                <div style="float: left; width: 100%;">
                                                    <div class="txtTitleName">Terremoto</div>
                                                    <div class="txtImportValue"></div>
                                                </div>
                                                <div class="txtAnotherInfo">
                                                    SA: {outrenconter}
                                                </div>
                                                <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                    style="height: 45px;"></div>
                                            </div>
                                        </button>
                                        <div class="iconmovcov">
                                            <lightning-button-icon data-id="infoTerremoto"
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickTerremoto} onmouseout={hideTerremoto}
                                                icon-name="utility:info" variant="bare-inverse" alternative-text="info"
                                                title="">
                                            </lightning-button-icon>
                                        </div>
                                        <div data-id="helpTerremoto"
                                            class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                            role="tooltip" aria-live="polite">
                                            <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                                <p>
                                                    <lightning-formatted-text class="highcharts-container"
                                                        value={terremoto}></lightning-formatted-text>
                                                </p>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_3-of-3">
                                    <button data-name="btnRenConRotC" data-type="optional"
                                        class="slds-button_stretch slds-button btnStaticsFixed" title="$150 por cristal"
                                        data-cotiz="completa" data-section="contenidos" data-covercode="GLASS_BREAKAGE"
                                        data-ramo="MISC" data-typecover="coverage">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Rotura de Cristales</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {outrenconrdc}
                                            </div>
                                            <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                style="height: 45px;"></div>
                                        </div>
                                    </button>
                                    <div class="iconmovcov">
                                        <lightning-button-icon data-id="infoCristales"
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            onclick={onclickCristales} onmouseout={hideCristales}
                                            icon-name="utility:info" variant="bare-inverse" alternative-text="info"
                                            title="">
                                        </lightning-button-icon>
                                    </div>
                                    <div data-id="helpCristales"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={cristales}></lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_3-of-3">
                                    <button data-name="btnRenConDaRH" onclick={clkButtonCov} data-type="optional"
                                        class="slds-button slds-button_stretch btnSelectFixed" title="Sin deducible"
                                        data-cotiz="completa" data-section="contenidos"
                                        data-covercode="CIVIL_LIABILITY_LESSEE" data-ramo="RCPF"
                                        data-typecover="coverage" data-categorie="CIVIL_LIABILITY"
                                        data-goodtype="CIVIL_LIABILITY_LESSEE">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Daños por renta al hogar</div>
                                                <div class="txtImportValue">{outrensumdrh}</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {outrencondrh}
                                            </div>
                                            <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                style="height: 45px;"></div>
                                        </div>
                                    </button>
                                    <div class="iconmovcov">
                                        <lightning-button-icon data-id="infoDanios"
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            onclick={onclickDaniosHogar} onmouseout={hideDaniosHogar}
                                            icon-name="utility:info" variant="bare-inverse" alternative-text="info"
                                            title="">
                                        </lightning-button-icon>
                                    </div>
                                    <div data-id="helpDaniosHogar"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={daniosHogar}></lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-size_1-of-3 slds-grid slds-grid_vertical">
                                <div class="slds-col slds-size_3-of-3">
                                    <template if:false={optiHidro}>
                                        <button data-id="desastresAgua" data-type="required" data-name="btnDesaNatCont"
                                            class="slds-button_stretch slds-button btnStaticsFixed" title="1% de deducible y 10% de Coaseguro en perdida parcial
                                               Se eliminan deducible y coaseguro con perdida total"
                                            onclick={clkButtonCov}>
                                            <div style="width: 100%;">
                                                <div style="float: left; width: 100%;">
                                                    <div class="txtTitleName">Desastres Naturales por agua</div>
                                                    <div class="txtImportValue"></div>
                                                </div>
                                                <div class="txtAnotherInfo">
                                                    SA: {outrencondna}
                                                </div>
                                                <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                    style="height: 45px;"></div>
                                            </div>
                                        </button>
                                        <div class="iconmovcov">
                                            <lightning-button-icon data-id="infoDesastres"
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickDesastres} onmouseout={hideDesastres}
                                                icon-name="utility:info" variant="bare-inverse" alternative-text="info"
                                                title="">
                                            </lightning-button-icon>
                                        </div>
                                        <div data-id="helpDesastres"
                                            class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                            role="tooltip" aria-live="polite">
                                            <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                                <p>
                                                    <lightning-formatted-text class="highcharts-container"
                                                        value={desastres}></lightning-formatted-text>
                                                </p>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_3-of-3">
                                    <template if:true={optiHidro}>
                                        <button data-id="desastresAgua" data-type="optional" data-name="btnDesaNatCont"
                                            class="slds-button_stretch slds-button btnSelectFixed" title="1% de deducible y 10% de Coaseguro en perdida parcial
                                               Se eliminan deducible y coaseguro con perdida total"
                                            onclick={clkButtonCov} data-cotiz="completa" data-section="contenidos"
                                            data-covercode="HYDROMETEOROLOGICAL_RISKS|DEBRIS_REMOVAL|EXTRAORDINARY_EXPENSES"
                                            data-ramo="RIHI" data-typecover="coverage">
                                            <div style="width: 100%;">
                                                <div style="float: left; width: 100%;">
                                                    <div class="txtTitleName">Desastres Naturales por agua</div>
                                                    <div class="txtImportValue">{sumrencovHid}</div>
                                                </div>
                                                <div class="txtAnotherInfo">
                                                    SA: {outrencondna}
                                                </div>
                                                <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                    style="height: 45px;"></div>
                                            </div>
                                        </button>
                                        <div class="iconmovcov">
                                            <lightning-button-icon data-id="infoDesastres"
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickDesastres} onmouseout={hideDesastres}
                                                icon-name="utility:info" variant="bare-inverse" alternative-text="info"
                                                title="">
                                            </lightning-button-icon>
                                        </div>
                                        <div data-id="helpDesastres"
                                            class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen slds-hide"
                                            role="tooltip" aria-live="polite">
                                            <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                                <p>
                                                    <lightning-formatted-text class="highcharts-container"
                                                        value={desastres}></lightning-formatted-text>
                                                </p>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_3-of-3">
                                    <button data-name="btnRenConRobo" onclick={clkButtonCov} data-type="optional"
                                        class="slds-button slds-button_stretch btnSelect" data-cotiz="completa"
                                        data-section="contenidos"
                                        data-covercode="HOME_BURGLARY|BURGLARY_WITH_VIOLENCE|THEFT_WORKS_ART"
                                        data-ramo="MISC" data-typecover="coverage">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Robo</div>
                                                <div class="txtImportValue">{sumcomcovrob}</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                * Pertenencias SA: {outrenconper} <br>
                                                * Articulos de valor SA: {outrenconarv} <br>
                                                * Dinero en efectivo SA: {outrencondie}
                                            </div>
                                            <div class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                style="height: 45px;"></div>
                                        </div>
                                    </button>
                                    <div class="iconmovcovfixed">
                                        <lightning-button-icon data-id="infoRobo"
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small infoButtonRobo"
                                            onclick={onclickRobo} onmouseout={hideRobo} icon-name="utility:info"
                                            variant="bare-inverse" alternative-text="info" title="">
                                        </lightning-button-icon>
                                    </div>
                                    <div data-id="helpRobo"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={roboLabel}></lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <div class="slds-p-bottom_large"></div>
            <div class="pagos slds-p-top_xx-small slds-m-top_xx-small stik-stle">
                <h1 class="titleTexts slds-align_absolute-center">Pagos Anualizados con IVA</h1><br>
                <!--
                <div class="slds-clearfix float-update">
                    <div class="slds-float_right">
                        <lightning-button label="Actualizar" title="Actualizar" variant="brand" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
                    </div>
                </div>
                -->
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_2-of-12"></div>
                    <div class="slds-col slds-size_8-of-12">
                        <c-mx_sb_vts_cotizadores-pagos totalentmonth={totalMounth} totalentsemianual={totalSemiAnual}
                            totalentanual={totalAnual} totalentqueartly={totalquartely} hidequeartly="true">
                        </c-mx_sb_vts_cotizadores-pagos>
                    </div>
                    <br />
                    <div class="slds-col slds-size_2-of-12"></div>
                </div>
            </div>
        </div>
        <div slot="footer" class="noFoot">
            <lightning-button class="slds-m-top_small" label="Regresar" onclick={handledBackAction}></lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" type="submit" label="Guardar"
                onclick={onSaveOutRen}></lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" label="Continuar"
                onclick={handledNextAction}></lightning-button>
        </div>
    </lightning-card>
</template>