.THIS .labelCheck{
    color: grey;
    font-size: 11px;
}

.THIS .title{
    font-weight: bold;
    font-size: 15px;
}

.THIS .labelCheckPol{
    text-align: right;
    color: grey;
    font-size: 11px;
}