<template>
    <template if:true={leads.data}>
        <template if:true={leadSize}>
            <lightning-card title={tituloLeads} icon-name="standard:lead">
                <div class="slds-scrollable_y" style="height:auto;max-height: 21rem;">
                    <template for:each={leads.data} for:item="campMbr" for:index="indexVar">
                        <div class="slds-card__body slds-card__body_inner" key={campMbr.LeadId} id={campMbr.LeadId}>
                            <ul class="slds-grid slds-wrap slds-grid_pull-padded">
                                <li class="slds-p-horizontal_small slds-size_1-of-1">
                                    <article class="slds-tile slds-media slds-card__tile slds-hint-parent">
                                        <div class="slds-media__body">
                                            <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                                <h3 class="slds-tile__title slds-truncate" title={campMbr.Lead.Comentarios__c}>
                                                    <a href={campMbr.Lead.Description}>{campMbr.Lead.Name}</a>
                                                </h3>
                                                <div class="slds-shrink-none">
                                                    <template if:true={buttonMenu.data}>
                                                        <lightning-button-menu slot="actions"
                                                            alternative-text="Show menu" icon-size="x-small"
                                                            menu-alignment="auto" onselect={handleSelect}
                                                            data-id={campMbr.LeadId}>
                                                            <lightning-menu-item value="Edit" label="Modificar">
                                                            </lightning-menu-item>
                                                            <lightning-menu-item value="Convert"
                                                                label="Generar Oportunidad">
                                                            </lightning-menu-item>
                                                        </lightning-button-menu>
                                                    </template>
                                                </div>
                                            </div>
                                            <div class="slds-tile__detail">
                                                <dl class="slds-list_horizontal slds-wrap">
                                                    <dt class="slds-item_label slds-text-color_weak slds-truncate"
                                                        title="Estado">Estado:</dt>
                                                    <dd class="slds-item_detail slds-truncate" title="Value Estado">
                                                        {campMbr.Lead.Status}</dd>
                                                    <dt class="slds-item_label slds-text-color_weak slds-truncate"
                                                        title="Familia">Familia:</dt>
                                                    <dd class="slds-item_detail slds-truncate" title="Value Familia">
                                                        {campMbr.Campaign.MX_WB_FamiliaProductos__r.Name}</dd>
                                                    <dt class="slds-item_label slds-text-color_weak slds-truncate"
                                                        title="Producto">Producto:</dt>
                                                    <dd class="slds-item_detail slds-truncate" title="Value Producto">
                                                        {campMbr.Campaign.MX_WB_Producto__r.Name}</dd>
                                                    <dt class="slds-item_label slds-text-color_weak slds-truncate"
                                                        title="Origen">Origen:</dt>
                                                    <dd class="slds-item_detail slds-truncate" title="Value Origen">
                                                        {campMbr.Lead.LeadSource}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </template>
                </div>
            </lightning-card>
        </template>
    </template>
    <template if:true={leads.error}>
        <p>Error en el componente</p>
        <p>{leads.error}</p>
    </template>
</template>