<template>
    <lightning-card>
        <div class="c-container">
            <div class="slds-form slds-grid slds-wrap slds-grid_align-center">
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input 
                                required message-when-value-missing="Por favor complete este campo"
                                label="Calle" 
                                type="text" 
                                id="str-calle-dc" 
                                placeholder="Calle" 
                                value={fldcalle}
                                name="str-calle-dc"
                                onchange={onChangeData}>
                            </lightning-input>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input 
                                required message-when-value-missing="Por favor complete este campo"
                                label="Número Exterior" 
                                type="text" 
                                id="str-next-dc" 
                                placeholder="Número Exterior" 
                                value={fldnoext} 
                                name="str-next-dc"
                                onchange={onChangeData}>
                            </lightning-input>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input 
                                message-when-value-missing="Por favor complete este campo"
                                label="Número Interior" 
                                type="text" 
                                id="str-nint-dc" 
                                placeholder="Número Interior" 
                                value={fldnoint} 
                                name="str-nint-dc"
                                onchange={onChangeData}>
                            </lightning-input>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input 
                                required message-when-value-missing="Por favor complete este campo"
                                label="Código Postal" 
                                type="text" 
                                id="str-cp-dc" 
                                placeholder="Código Postal" 
                                value={fldcp} 
                                name="str-cp-dc"
                                pattern="\d*" 
                                maxlength="5" 
                                min-length="3"
                                onkeyup={onPostalCode}
                                onchange={onChangeData}
                                onblur={onPostalCodeBlur}>
                            </lightning-input>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-combobox 
                                label="Colonia" 
                                value="" 
                                placeholder="Seleccione una Colonia"
                                options={fldcoloniaopts} 
                                required name='str_colonia_dc'
                                onchange={onChangeData}>
                            </lightning-combobox>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input 
                                required message-when-value-missing="Por favor complete este campo"
                                label="Alcaldía o Municipio" 
                                type="text" 
                                id="str-alcmun-dc" 
                                placeholder="Ingrese una Alcaldía o Municipio" 
                                value={fldalcmun} 
                                name="str-alcmun-dc"
                                onchange={onChangeData}
                                disabled>
                            </lightning-input>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input 
                                required message-when-value-missing="Por favor complete este campo"
                                label="Estado" 
                                type="text" 
                                id="str-estado-dc" 
                                placeholder="Ingrese un Estado" 
                                value={fldestado} 
                                name="str-estado-dc"
                                onchange={onChangeData}
                                disabled>
                            </lightning-input>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>