.THIS .slds-box{
  border-color: #FFFFFF;
    position:absoulte;
    height:100%;
    width:100%;
}
.THIS.changeMe {
    background-color:yellow;
    width:200px;
}
.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .personalheight{
    height:3.5rem;
    font-size: .60rem;
}
.THIS .fontreduce{
    font-size: .50rem;
}