.titleHeader {
    text-align: center !important;
    font-size: 2em !important;
    color: #005fb2;
    font-weight: bold !important;
}

.titleHeaderNote {
    text-align: center !important;
    font-size: 1.3em !important;
    color: #005fb2;
    font-weight: bold !important;
}

.titleTexts {
    text-align: center !important;
    font-size: 1.5em !important;
    color: #005fb2;
    font-weight: bold !important;
    text-decoration: underline;
}

.button-space {
    margin-left: 23px;
}

h1 {
    color: #005fb2;
    font-size: 15px;
    text-align: center;
}

.slds-box {
    background-color: #D7D7D7;
}

.slds-input-has-icon .slds-input__icon {
    top: 61%;
}

.cpAlignment {
    margin-left: 88px;
}

.patterC {
    width: 100%;
}

.patterC1 {
    width: 50%;
}

.label-space {
    margin-left: 52px;
}

.color-pagos {
    background-color: #D7D7D7;
}

.slds-box {
    border: 4px solid white;
    background-color: white;
}

.pagos {
    border: 2px solid #1B4F72;
    background-color: whitesmoke;
}

.pagos2 {
    border: 2px solid #217B9A;
    background-color: #DFF4FA;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.pagos2txt {
    text-align: center !important;
    font-size: 11px !important;
    color: #005fb2;
    font-weight: bold !important;
    margin-left: auto;
    margin-right: auto;
}

.pagos3txt {
    margin-top: -44px;
}

.formulariocmb {
    width: 98%;
    margin-left: 10px;
}

.botonesPagos {
    border: 2px solid #DFF4FA;
    background-color: #DFF4FA;
    width: 250px;
    height: 100px;
}

.button2 {
    background-color: #DFF4FA;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.titleOpt {
    text-align: center !important;
    font-size: 1.5em !important;
    color: #005fb2;
    font-weight: bold !important;
}

.alignment {
    margin: auto;
    width: fit-content;
}

.btnStatics {
    border: solid 1px #1B4F72;
    height: auto;
    margin-left: 4.5px;
    background: #1B4F72;
    color: #ffffff !important;
    margin-top: 5px;
}

.btnStaticsFixed {
    border: solid 1px #1B4F72;
    height: 70px;
    margin-left: 4.5px;
    background: #1B4F72;
    color: #ffffff !important;
    margin-top: 5px;
    width: 240px;
}

.btnStaticsFixedResult {
    border: solid 1px #1B4F72;
    height: 70px;
    margin-left: 4.5px;
    background: #D6EAF8;
    color: #1B4F72 !important;
    margin-top: 5px;
    width: 240px;
}

.btnSelectFixed {
    border: solid 1px #1B4F72;
    margin-left: 4.5px;
    color: #ffffff !important;
    margin-top: 5px;
    background: #1B4F72;
}

.btnSelectFixedBlack {
    border: solid 1px #1B4F72;
    margin-left: 4.5px;
    color: #000000 !important;
    margin-top: 5px;
    background: #1B4F72;
}

.btnStaticsFixedResultOne {
    border: solid 1px #1B4F72;
    height: 70px;
    margin-left: 4.5px;
    background: #1B4F72;
    color: #ffffff !important;
    margin-top: 5px;
    width: 240px;
}

.txtBotones {
    margin-top: 8px;

}

.alignIcons {
    margin-top: -15px;
}

.alignIconsNopick {
    margin-top: 15px;
}

.btnSelect {
    border: solid 1px #1B4F72;
    height: auto;
    margin-left: 4.5px;
    background: #D6EAF8;
    color: #1B4F72 !important;
    margin-top: 5px;
}

.txtTitleName {
    float: left;
    width: auto;
    text-align: left;
    padding-left: 15px;
    font-size: calc(.40em + .40vw);
}

.txtTitleNameStatic {
    float: left;
    width: auto;
    text-align: left;
    padding-left: 15px;
    margin-top: 3px;
    font-size: calc(.40em + .40vw);
}

.txtImportValue {
    float: right;
    width: auto;
    text-align: right;
    padding-right: 15px;
    font-size: calc(.40em + .40vw);
}

.txtImportValueStatic {
    float: right;
    width: auto;
    text-align: right;
    padding-right: 15px;
    margin-top: 3px;
    font-size: calc(.40em + .40vw);
}

.txtAnotherInfo {
    float: left;
    text-align: left;
    padding-left: 15px;
    font-size: calc(.40em + .40vw);
}

.txtAnotherInfoStatic {
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    margin-top: -10px;
    font-size: calc(.40em + .40vw);
}

.contenedor {
    background-color: whitesmoke;
}



.slds-popover--tooltip .slds-popover__body,
.slds-popover_tooltip .slds-popover__body {
    font-size: .65rem;
    color: white;
}

.class1 {

    background: #FDFDFD;
}

.divHelp {
    z-index: 500;
}



.txtTooltip {
    position: absolute !important;
    z-index: 1 !important;
    right: 51px;
    margin-top: -14px;
}

.txtTooltipCenter {
    position: absolute !important;
    z-index: 1 !important;
    left: 300px;
    margin-top: -14px;
}

.txtTooltipLeft {
    position: absolute !important;
    z-index: 1 !important;
}

.tooltipSize {
    width: 220px;
}

.slds-input {
    border: 0px solid #dddbda;
    border-radius: .25rem;
}

.picklistSumas {
    left: 15px;
    width: 190px;
    color: #000000 !important;
}

.slds-slide-from-top-to-bottom {
    transform: translateY(-170%);
    will-change: transform;
    padding: 0px;
    margin-bottom: calc(-7 * var(--lwc-spacingSmall, 0.75rem));
}
.stik-stle {
    position: sticky;
    position: -webkit-sticky;
    bottom: 30px;
    z-index: 90;
}
.float-update {
    position: absolute;
    top: 15px;
    right: 20px;
}

.txtTitleNameWhite {
    float: left;
    width: auto;
    text-align: left;
    padding-left: 15px;
    font-size: calc(.40em + .40vw);
    color: #ffffff !important;
}