<!--
  @description       : Lwc que corresponde a opción de Propio en cotizador con origen Cmb/Fb/Tw
  @author            : Diego Olvera
  @group             : BBVA
  @last modified on  : 03-02-2021
  @last modified by  : Diego Olvera
  Modifications Log 
  Ver   Date         Author         Modification
  1.0   29-04-2020   Diego Olvera   Initial Version
  1.1   02-11-2021   Diego Olvera   Se agregan montos/valores/estilos a botones
-->
<template>
    <lightning-card>
        <template if:true={isLoading}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
        </template>
        <div class="slds-m-around_medium">
            <div class="slds-align_absolute-center">
                <h3 class="titleHeader">Personaliza tu protección (CmB, TW, FBL Propietario) (2/5)</h3>
            </div>

            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-box pagos slds-p-top_xx-small slds-m-top_xx-small">
                        <lightning-combobox name="Suma Asegurada" label="Suma Asegurada: " value={chosenValue}
                            onchange={handleChange} options={roleOptions}>
                        </lightning-combobox>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-3">
                    <div style="margin-top: 6%;">
                        <p class="titleHeaderNote">Los costos que se contemplan en las coberturas son anuales y sin IVA</p>
                    </div>
                </div>
            </div>
            <br>
            <div
                style="border: solid 2px #1B4F72; height: 180px; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px;
                                                                                    -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                <lightning-accordion class="example-accordion slds-size_1-of-1" allow-multiple-sections-open
                    onsectiontoggle={handleToggleSection} active-section-name={activeSectionsCmb}>
                    <lightning-accordion-section name="Asistencias" class=" slds-size_1-of-1" label="Asistencias">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-3">
                                <button title="Sin deducible, se paga la cantidad que exceda los $750"
                                    class="slds-button slds-button_stretch btnSelectFixed" onclick={onChangeCob}
                                    data-name="btnCasaAsis" data-type="required">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Mejorando tu casa</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <lightning-button-icon
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small" data-idshow='divHe'
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} icon-name="utility:info"
                                            variant="bare-inverse" title="Rayos e Incendios">
                                        </lightning-button-icon>
                                    </div>
                                </button>
                                <div data-id="divHe"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text value={casaCmb}>
                                                Cubre los daños materiales
                                                causados a tu casa por: un incendio o rayo
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <button title="
Enfermera: $ 350.00 por turno de 8hrs
Médico a domicilio: Hasta $ 150.00
Ambulancia (aérea): Sin Costo
Ambulancia (terrestre): Sin Costo" class="slds-button slds-button_stretch btnSelectFixed" onclick={onChangeCob}
                                    data-name="btnMedicaAsis" data-type="required">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Médica</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <lightning-button-icon
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small" data-idshow='dHelpOne'
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} icon-name="utility:info"
                                            variant="bare-inverse">
                                        </lightning-button-icon>

                                    </div>
                                </button>
                                <div data-id="dHelpOne"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   dHelpOne slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text value={medicaCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <button title="
Vacunas: Hasta $ 200.00
Estética: Hasta $ 300.00
Hospedaje: Hasta $ 730.00
Consulta Veterinario : $ 250.00
Sacrificio por Accidente : $ 500.00
Asistencia Funeraria : $ 2,000.00" class="slds-button slds-button_stretch btnSelect" onclick={onChangeCob}
                                    data-name="btnMascotasAsis" data-type="optional" data-cotiz="completa"
                                    data-section="asistencias" data-covercode="2008ASMASCOTAS" data-ramo="INCE"
                                    data-typecover="criterial" data-categorie="BUILDINGS" data-goodtype="BUILDING">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Mascotas</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <lightning-button-icon
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small" data-idshow='dHelpTwo'
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} icon-name="utility:info"
                                            variant="bare-inverse" title="">
                                        </lightning-button-icon>
                                    </div>
                                </button>
                                <div data-id="dHelpTwo"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   dHelpTwo slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text value={mascotasCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <div
                style="border: solid 2px #1B4F72; height: 340px; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px;
                                                                                    -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                <lightning-accordion class="example-accordion slds-size_1-of-1" allow-multiple-sections-open
                    onsectiontoggle={handleToggleSection} active-section-name={activeSectionsCmb}>
                    <lightning-accordion-section name="Contenidos" class=" slds-size_1-of-1" label="Contenidos">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-3">
                                <button title="Sin deducible" class="slds-button slds-button_stretch btnSelectFixed"
                                    onclick={onChangeCob} data-name="btnIncendioCont" data-type="required">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Incendio</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <lightning-combobox style="color: black;" name="Suma Asegurada"
                                            class="picklistSumas" variant="label-hidden" label="Suma Asegurada: "
                                            value={contentFire.selectPay} onchange={incendioChan}
                                            options={contentFire.listPays}>
                                        </lightning-combobox>
                                        <lightning-button-icon class=" alignIcons slds-float_right" data-idshow='dHelpThree'
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} icon-name="utility:info"
                                            variant="bare-inverse">
                                        </lightning-button-icon>

                                    </div>
                                </button>
                                <div data-id="dHelpThree"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom  dHelpThree  slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={incendioCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <template if:true={optionalEarth}>
                                    <button title="
                                        1% de deducible y 10% de Coaseguro en perdida parcial
                                        Se eliminan deducible y coaseguro con perdida total"
                                        class="slds-button slds-button_stretch btnSelect" onclick={onChangeCob}
                                        data-name="btnTerrCont" data-type="optional" data-cotiz="completa"
                                        data-section="contenidos"
                                        data-covercode="EARTHQUAKE_VOLCANIC_ERUPTION|DEBRIS_REMOVAL|EXTRAORDINARY_EXPENSES"
                                        data-ramo="TERR" data-typecover="coverage">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtImportValue">-{contentEarqu.totalPay}</div>
                                                <div class="txtTitleName">Terremoto</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {contentEarqu.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small" data-idshow='dHelpSix'
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem}
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                </template>
                                <template if:false={optionalEarth}>
                                    <button title="
                                        1% de deducible y 10% de Coaseguro en perdida parcial
                                        Se eliminan deducible y coaseguro con perdida total"
                                        class="slds-button slds-button_stretch btnSelectFixed" onclick={onChangeCob}
                                        data-name="btnTerrCont" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Terremoto</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {contentEarqu.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpSix'
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                </template>
                                <div data-id="dHelpSix"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpSix slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={terremotoCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <template if:true={optionalHidro}>
                                    <button title="
                                        1% de deducible y 10% de Coaseguro en perdida parcial
                                        Se eliminan deducible y coaseguro con perdida total"
                                        class="slds-button slds-button_stretch btnSelect" onclick={onChangeCob}
                                        data-name="btnDesaNatCont" data-type="optional" data-cotiz="completa"
                                        data-section="contenidos"
                                        data-covercode="HYDROMETEOROLOGICAL_RISKS|DEBRIS_REMOVAL|EXTRAORDINARY_EXPENSES"
                                        data-ramo="RIHI" data-typecover="coverage">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtImportValue">-{contentHidro.totalPay}</div>
                                                <div class="txtTitleName">Desastres naturales por
                                                    agua
                                                </div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {contentHidro.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpNine'
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                </template>
                                <template if:false={optionalHidro}>
                                    <button title="
                                        1% de deducible y 10% de Coaseguro en perdida parcial
                                        Se eliminan deducible y coaseguro con perdida total"
                                        class="slds-button slds-button_stretch btnSelectFixed" onclick={onChangeCob}
                                        data-name="btnDesaNatCont" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Desastres naturales por
                                                    agua
                                                </div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {contentHidro.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpNine'
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                </template>
                                <div data-id="dHelpNine"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpNine slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={hidroCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-3">
                                <button title="$500 por equipo" class="slds-button slds-button_stretch btnSelect"
                                    onclick={onChangeCob} data-name="btnRobLineaCont" data-type="optional"
                                    data-cotiz="completa" data-section="contenidos"
                                    data-covercode="ELECTRONIC_EQUIPMENT|APPLIANCE_EQUIPMENT" data-ramo="TECN"
                                    data-typecover="coverage">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">EE y Línea Blanca</div>
                                            <div class="txtImportValue">-{contentElect.totalPay}</div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <lightning-combobox name="Suma Asegurada" class="picklistSumas"
                                            variant="label-hidden" label="Suma Asegurada: "
                                            value={contentElect.selectPay} onchange={lineaChange}
                                            options={contentElect.listPays} data-section="contenidos"
                                            data-covercode="ELECTRONIC_EQUIPMENT|APPLIANCE_EQUIPMENT"
                                            data-criterialcode="2008PORCEQELEC|2008PORCELECTROD" data-ramo="TECN"
                                            data-typecover="coverage">
                                        </lightning-combobox>
                                        <lightning-button-icon class="alignIcons slds-float_right" data-idshow='dHelpEight'
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} icon-name="utility:info"
                                            variant="bare-inverse">
                                        </lightning-button-icon>
                                    </div>
                                </button>
                                <div data-id="dHelpEight"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpEight  slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container"
                                                value={linea_blancaCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <button title="$5,000" class="slds-button slds-button_stretch btnSelect"
                                    onclick={onChangeCob} data-name="btnRobPertCont" data-type="optional"
                                    data-cotiz="completa" data-section="contenidos"
                                    data-covercode="HOME_BURGLARY|BURGLARY_WITH_VIOLENCE|THEFT_WORKS_ART"
                                    data-ramo="MISC" data-typecover="coverage">
                                    <div style="width: 100%;">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Robo</div>
                                                <div class="txtImportValue">-{totalRobo}</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                * Articulos de valor SA: {contentDamages.SA} <br>
                                                * Dinero en efectivo SA: {contentBurglary.SA} <br>
                                                * Pertenencias SA:
                                            </div>
                                        </div>
                                        <lightning-combobox style="color:black" name="Suma Asegurada"
                                            class="picklistSumas" variant="label-hidden" label="Suma Asegurada: "
                                            value={homeBurglary.selectPay} onchange={roboChange}
                                            options={homeBurglary.listPays} data-section="contenidos"
                                            data-covercode="HOME_BURGLARY" data-criterialcode="2008PORCMENCASA"
                                            data-ramo="MISC" data-typecover="coverage">
                                        </lightning-combobox>
                                        <lightning-button-icon class=" alignIcons slds-float_right" data-idshow='dHelpSeven'
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} icon-name="utility:info"
                                            variant="bare-inverse">
                                        </lightning-button-icon>
                                    </div>
                                </button>
                                <div data-id="dHelpSeven"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpSeven slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={roboCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-3"></div>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <div
                style="border: solid 2px #1B4F72; height: 240px; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px;
                                                                                    -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                <lightning-accordion class="example-accordion slds-size_1-of-1" allow-multiple-sections-open
                    onsectiontoggle={handleToggleSection} active-section-name={activeSectionsCmb}>
                    <lightning-accordion-section name="Construccion" class=" slds-size_1-of-1" label="Construccion">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-3">
                                <button title="Sin deducible" class="slds-button slds-button_stretch btnSelectFixed"
                                    onclick={onChangeCob} data-name="btnIncendioCons" data-type="required">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Incendio</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                            SA: {buldingFire.SA}
                                        </div>
                                        <lightning-button-icon
                                            class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpEleven'
                                            icon-name="utility:info" variant="bare-inverse">
                                        </lightning-button-icon>

                                    </div>
                                </button>
                                <div data-id="dHelpEleven"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpEleven slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container"
                                                value="Cubre los daños materiales causados a tu casa por: un incendio o rayo">
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <template if:true={optionalEarth}>
                                    <button title="
                                        1% de deducible y 10% de Coaseguro en perdida parcial
                                        Se eliminan deducible y coaseguro con perdida total"
                                        class="slds-button slds-button_stretch btnSelect" onclick={onChangeCob}
                                        data-name="btnTerremotoCons" data-type="optional" data-cotiz="completa"
                                        data-section="construccion"
                                        data-covercode="EARTHQUAKE_VOLCANIC_ERUPTION|DEBRIS_REMOVAL|EXTRAORDINARY_EXPENSES"
                                        data-ramo="TERR" data-typecover="coverage">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtImportValue">-{buildingEarqu.totalPay}</div>
                                                <div class="txtTitleName">Terremoto</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {buildingEarqu.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpThirteen'
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                </template>
                                <template if:false={optionalEarth}>
                                    <button title="
1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnSelectFixed"
                                        onclick={onChangeCob} data-name="btnTerremotoCons" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Terremoto</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {buildingEarqu.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpThirteen'
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div data-id="dHelpThirteen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpThirteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value="Cubre los daños materiales causados a tu casa por: un terremoto o erupción volcánica">
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <template if:true={optionalHidro}>
                                    <button title="
                                        1% de deducible y 10% de Coaseguro en perdida parcial
                                        Se eliminan deducible y coaseguro con perdida total"
                                        class="slds-button slds-button_stretch btnSelect" onclick={onChangeCob}
                                        data-name="btnDesNatAguaCons" data-type="optional" data-cotiz="completa"
                                        data-section="construccion"
                                        data-covercode="HYDROMETEOROLOGICAL_RISKS|DEBRIS_REMOVAL|EXTRAORDINARY_EXPENSES"
                                        data-ramo="RIHI" data-typecover="coverage">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtImportValue">-{buldingHidro.totalPay}</div>
                                                <div class="txtTitleName">Desastres naturales por
                                                    agua
                                                </div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {buldingHidro.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpFiveteen'
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                </template>
                                <template if:false={optionalHidro}>
                                    <button title="
1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnSelectFixed"
                                        onclick={onChangeCob} data-name="btnDesNatAguaCons" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Desastres naturales por agua
                                                </div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {buldingHidro.SA}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"  data-idshow='dHelpFiveteen'
                                                onmouseover={onshodetailelem} onmouseout={onhidetailelem}
                                                icon-name="utility:info" variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>

                                    </button>
                                </template>
                                <div data-id="dHelpFiveteen"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpFiveteen slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container"
                                                value="Cubre daños ocasionados a tu casa por: inundación por lluvia, granizo, huracán, entre otros.">
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-3">
                                <button title="Sin deducible" class="slds-button slds-button_stretch btnSelectFixed"
                                    onclick={onChangeCob} data-name="btnCivilDanosTercCons" data-type="required">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Civil/Daños a terceros</div>
                                            <div class="txtImportValue"></div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <lightning-combobox style="color: black;" name="Suma Asegurada"
                                            class="picklistSumas" variant="label-hidden" label="Suma Asegurada: "
                                            value={contentCivilityFam.selectPay} onchange={damageChange}
                                            options={contentCivilityFam.listPays} data-section="contenidos"
                                            data-covercode="FAMILY_CIVIL_LIABILITY" data-criterialcode="2008PORCSARC"
                                            data-ramo="RCPF" data-typecover="coverage">
                                        </lightning-combobox>
                                        <lightning-button-icon class=" alignIcons slds-float_right"
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpTwelve'
                                            icon-name="utility:info" variant="bare-inverse">
                                        </lightning-button-icon>

                                    </div>
                                </button>
                                <div data-id="dHelpTwelve"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpTwelve slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={tercerosCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3">
                                <button title="$150 por cristal" class="slds-button slds-button_stretch btnSelectFixed"
                                    data-name="btnRotCritalesCons" data-type="optional" data-cotiz="completa"
                                    data-section="construccion" data-covercode="GLASS_BREAKAGE" data-ramo="MISC"
                                    data-typecover="coverage">
                                    <div style="width: 100%;">
                                        <div style="float: left; width: 100%;">
                                            <div class="txtTitleName">Rotura de cristales</div>
                                        </div>
                                        <div class="txtAnotherInfo">
                                        </div>
                                        <lightning-combobox name="Suma Asegurada" class="picklistSumas"
                                            variant="label-hidden" label="Suma Asegurada: "
                                            value={contentGlass.selectPay} onchange={glassChange}
                                            options={contentGlass.listPays} data-section="contenidos"
                                            data-covercode="GLASS_BREAKAGE" data-criterialcode="2008PORCCRISTAL"
                                            data-ramo="MISC" data-typecover="coverage">
                                        </lightning-combobox>
                                        <lightning-button-icon class=" alignIcons slds-float_right"
                                            onmouseover={onshodetailelem} onmouseout={onhidetailelem} data-idshow='dHelpFourteen'
                                            icon-name="utility:info" variant="bare-inverse">
                                        </lightning-button-icon>

                                    </div>
                                </button>
                                <div data-id="dHelpFourteen"
                                    class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpFourteen slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text class="highcharts-container" value={cristalesCmb}>
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <br>
            <div class="slds-box pagos slds-p-top_xx-small slds-m-top_xx-small stik-stle">
                <h1 class="titleTexts slds-align_absolute-center">Pagos Anualizados con IVA</h1><br>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_2-of-12">
                    </div>
                    <div class="slds-col slds-size_8-of-12">
                        <c-mx_sb_vts_cotizadores-pagos totalentmonth={valMonth} totalentsemianual={valSemiAnual}
                            totalentanual={valAnual} totalentqueartly={valQuarter} hidequeartly="true">
                        </c-mx_sb_vts_cotizadores-pagos>
                    </div>
                    <div class="slds-col slds-size_2-of-12">
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer" class="noFoot">
            <lightning-button class="slds-m-top_small" label="Regresar" onclick={handledBackAction}>
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" type="submit" label="Guardar"
                onclick={onSaveProcmb}>
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" label="Continuar"
                onclick={handledNextAction}>
            </lightning-button>
        </div>
    </lightning-card>
</template>