<template>
    <lightning-card>
        <div class="slds-m-around_medium">
            <div class="slds-align_absolute-center">
                <h3 class="titleHeader">Personaliza tu protección (Caso completo - Clientes y no clientes)</h3>
            </div>

            <br><br>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-box pagos">
                        <lightning-combobox 
                            name="Suma Asegurada" 
                            label="Suma Asegurada: " 
                            value=""
                            onchange={changeSelSumAse} 
                            options={obtDataSumAseg}
                            placeholder="Seleccione..."
                            disabled={cmbSumAseDis}>
                        </lightning-combobox>
                    </div>
                </div>

                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-box pagos" style="height: 91%;">
                        <table width="100%" border="0">
                            <tr>
                                <td width="8%"><div style="margin-top: 25px;"></div><lightning-input type="checkbox-button" label="Input One" name="input1" onclick={chkButtonAnother}></lightning-input></div></td>
                                <td width="70%"><lightning-input type="text" label="Suma Asegurada: " disabled={optSumAseDis} placeholder="Ingrese el monto..." name="inputSumAse" value={inpSumAseVal} onchange={changeSetInput}></lightning-input></td>
                                <td width="22%"><div style="margin-top: 17px;"><button title="" class="slds-button slds-button_stretch btnSelectFixed" data-name="btnConsCot" disabled={btnConsulDis} onclick={clkButtonConsul}>Consultar</button></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>

            <div style="border: solid 2px #1B4F72; height: auto; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                <lightning-accordion 
                    class="example-accordion slds-size_1-of-1" 
                    allow-multiple-sections-open
                    active-section-name="Asistencias">
                    <lightning-accordion-section 
                        name="Asistencias" 
                        class="slds-size_1-of-1" 
                        label="Coberturas y Asistencias incluidas">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-3">
                                    <button title="" class="slds-button slds-button_stretch btnSelectFixed" onclick={clkButtonCov} data-name="btnApoGastFun" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Apoyo en gastos funerarios</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {monApoGasFun}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnApoGastFunIco"
                                                data-tooltip="tolApoGastFun">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolApoGastFun" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-col slds-size_1-of-3">
                                    <button title="" class="slds-button slds-button_stretch btnSelectFixed" onclick={clkButtonCov} data-name="btnMuerteAcci" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Muerte accidental</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {monMuerAcc}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnMuerteAcciIco"
                                                data-tooltip="tolMuerteAcciIco">>
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolMuerteAcciIco" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-col slds-size_1-of-3">
                                    <button title="Contarás con dos servicios al año sin costo" class="slds-button slds-button_stretch btnSelectFixed" onclick={clkButtonCov} data-name="btnAsistFunFam" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Asistencia funeraria familiar</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnAsistFunFamIco"
                                                data-tooltip="tolAsistFunFam">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolAsistFunFam" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-3">
                                    <button title="Contarás con dos servicios al año sin costo" class="slds-button slds-button_stretch btnSelectFixed" onclick={clkButtonCov} data-name="btnAsistMed" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Asistencia médica</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnAsistMedIco"
                                                data-tooltip="tolAsistMed">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolAsistMed" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-col slds-size_1-of-3">
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnSelectFixed" onclick={clkButtonCov} data-name="btnMomenEsp" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Momentos especiales</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: $ 5,000 mxn
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnMomenEspIco"
                                                data-tooltip="tolMomenEsp">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolMomenEsp" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-col slds-size_1-of-3">
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnSelectFixed" onclick={clkButtonCov} data-name="btnAntEnfGraves" data-type="required">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Anticipo por enfermedades graves</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {monAntEnfGrav}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnAntEnfGravesIco"
                                                data-tooltip="tolAntEnfGraves">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolAntEnfGraves" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-3">
                                    <button title="" class="slds-button slds-button_stretch btnSelectFixedDisabled" onclick={clkButtonCov} data-name="btnMemVita" data-type="desactived">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Membresia Vitality</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: (TDB)
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov} 
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnMemVitaIco"
                                                data-tooltip="tolMemVita">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolMemVita" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </lightning-accordion-section>
                </lightning-accordion>

                <lightning-accordion 
                    class="example-accordion slds-size_1-of-1" 
                    allow-multiple-sections-open
                    active-section-name="Coberturas">
                    <lightning-accordion-section 
                        name="Coberturas" 
                        class="slds-size_1-of-1" 
                        label="Coberturas Opcionales">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-3">
                                    <button title="Deducible: Aplica a partir del tercer dia de hospitalización" class="slds-button slds-button_stretch btnSelect" onclick={clkButtonCov} data-name="btnApoDiaHospi" data-type="optional">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Apoyo diario por hospitalización</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: $ 500 mxn
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnApoDiaHospiIco"
                                                data-tooltip="tolApoDiaHospi">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolApoDiaHospi" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-col slds-size_1-of-3">
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnSelect" onclick={clkButtonCov} data-name="btnPriDiagCan" data-type="optional">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Primer diagnóstico de cáncer</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {monPrimDiagCan}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov} 
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnPriDiagCanIco"
                                                data-tooltip="tolPriDiagCan">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolPriDiagCan" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-col slds-size_1-of-3">
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnSelect" onclick={clkButtonCov} data-name="btnInvaTotPerm" data-type="optional">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Invalidez total o permanente</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {monInvTotPerm}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse" 
                                                title=""
                                                data-name="btnInvaTotPermIco"
                                                data-tooltip="tolInvaTotPerm">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolInvaTotPerm" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom   divHe slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-3">
                                    <button title="$5,000" class="slds-button slds-button_stretch btnSelectFixedDisabled" onclick={clkButtonCov} data-name="btnDesempleo" data-type="desactived">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Desempleo</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-combobox 
                                                name="Suma Asegurada" 
                                                class="picklistSumas"
                                                variant="label-hidden" 
                                                label="SA: " 
                                                value=""
                                                options={obtDataDesemp}
                                                placeholder="Seleccione...">
                                            </lightning-combobox>
                                            <lightning-button-icon 
                                                class=" alignIcons slds-float_right"
                                                onclick={clkIconButtonCov}
                                                onmouseout={mouseOverIconCov}
                                                icon-name="utility:info"
                                                variant="bare-inverse"
                                                data-name="btnDesempleoIco"
                                                data-tooltip="tolDesempleo">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div data-id="tolDesempleo" class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom dHelpSeven slds-hide" role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p><lightning-formatted-text class="highcharts-container" value={toolmsgdata}></lightning-formatted-text></p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            
            <div style="border: solid 2px #FFFFFF; height: auto; margin-top: 8px;">
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_1-of-3">
                        <button title="" class="slds-button slds-button_stretch btnSelectFixed" style="width: 98%; margin-left:4%;" onclick={clkMejoraPlan}>Mejora tu plan</button>
                    </div>
                </div>
            </div>

            <div style="border: solid 2px #FFFFFF; height: auto; margin-top: 8px;">
                <template if:true={isVisCotP}>
                    <c-mx_sb_vts_vsd_cotizador-Pagos></c-mx_sb_vts_vsd_cotizador-Pagos>
                </template>
            </div>
        </div>
    </lightning-card>
</template>