.THIS .slds-textarea {
    height:100px !important;
}
.THIS .slds-radio {
display: inline !important;
}
.THIS .slds-box {
    border-color: transparent;
}
.THIS.slds-spinner_container {
    position: center;
    display: inline-block;
    width: 80px;
    height: 80px;
}