<!--
  @Description        : Lwc que corresponde a la primer etapa de la cotización, guardado de datos
  @Author             : Diego Olvera
  @Group              : BBVA
  @Last Modified By   : Diego Olvera
  @Last Modified On   : 02-11-2021
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    07/4/2020      Ángel Lavana            Initial Version
  1.1   02-11-2021   Marco Cruz             Se agregan funcionalidad para flujo alternativo cotizador
-->
<template>
  <template if:true={isLoading}>
    <div class="spinner">
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </div>
  </template>
  <template if:true={openModal}>
    <c-mx_sb_vts_insured-amount is-modal-open={openModal} type-build={propiedad} onclosedialog={handledCloseDialog}>
    </c-mx_sb_vts_insured-amount>
  </template>
  <lightning-card>
    <div class="c-container">
      <div class="slds-align_absolute-center">
        <h3 class="titleHeader">Información básica del hogar (1/5)</h3>
      </div>
      <div class="slds-form slds-grid slds-wrap slds-grid_align-center">
        <div class="slds-m-around_medium slds-size_10-of-12">
          <label class="slds-form-element__label" for="nombre-cliente">¿Qué tipo de propiedad es?</label>
          <div class="slds-p-around_medium lgc-bg">
            <span class="slds-checkbox">
              <lightning-input label="Propio" type="checkbox" name="input1" checked={check1} onchange={handleClick1}>
              </lightning-input>
              <lightning-input label="Rentado" type="checkbox" name="input2" checked={check2} onchange={handleClick2}>
              </lightning-input>
            </span>
          </div>
        </div>

        <div class="slds-m-around_medium slds-size_10-of-12">
          <div class="slds-grid slds-wrap slds-gutters">
            <template if:true={check1}>
              <div class="slds-col slds-size_1-of-2">
                <div>
                  <lightning-input type="number" label="¿Cuántos m² de construcción tiene la propiedad?" value={m2}
                    max="99999" min="40" required message-when-value-missing="Por favor complete este campo"
                    message-when-range-overflow="La propiedad debe ser menor a 99,999 m2"
                    message-when-range-underflow="La propiedad debe ser mayor a 40 m2" onchange={handleConstructions}>
                  </lightning-input>
                </div>
              </div>
              <div class="slds-col slds-size_1-of-2"></div>
            </template>
          </div>
        </div>
        <div class="slds-m-around_medium slds-size_10-of-12">
          <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_2-of-5">
              <lightning-input name="cp" type="text" label="CP de la Propiedad" value={cp} pattern="\d*" maxlength="5"
                min-length="5" required message-when-too-short="Por favor, completa el código postal"
                message-when-value-missing="Por favor complete este campo"
                message-when-pattern-mismatch="El CP no es válido" onchange={handleCP}>
              </lightning-input>
            </div>

            <div class="slds-col slds-size_1-of-2">
              <div class="slds-grid slds-wrap slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                  <lightning-combobox name="Estado" label="Estado" value={stateValue} placeholder="Seleccione el estado"
                    options={stateOptions} onchange={selectedState}>
                  </lightning-combobox>
                </div>
                <div class="slds-col slds-size_1-of-3">
                  <lightning-combobox name="Municipio" label="Alcaldía" value={muniValue}
                    placeholder="Seleccione la Alcaldía" options={muniOptions} onchange={selectedMuni}>
                  </lightning-combobox>
                </div>
                <div class="slds-col slds-size_1-of-3">
                  <lightning-combobox name="Ciudad" label="Ciudad" value={cityValue} placeholder="Seleccione la ciudad"
                    options={cityOptions} onchange={selectedCity}>
                  </lightning-combobox>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-m-around_medium slds-size_10-of-12">
          <label class="slds-form-element__label" for="nombre-cliente">¿La propiedad es de uso
            habitacional?</label>
          <div class="slds-m-around_medium">
            <span class="slds-checkbox">
              <lightning-input label="Si" type="checkbox" name="input1" checked={check3} onchange={handleClick3}>
              </lightning-input>
              <lightning-input label="No" type="checkbox" name="input2" checked={check4} onchange={handleClick4}>
              </lightning-input>
            </span>
          </div>
        </div>
        <div class="slds-m-around_medium slds-size_10-of-12">
          <label class="slds-form-element__label" for="nombre-cliente">¿Qué tipo de construcción es?</label>
          <div class="slds-m-around_medium">
            <span class="slds-checkbox">
              <lightning-input label="Casa" type="checkbox" name="input1" checked={check5} onchange={handleClick5}>
              </lightning-input>
              <lightning-input label="Departamento" type="checkbox" name="input2" checked={check6}
                onchange={handleClick6}></lightning-input>
            </span>
          </div>
        </div>
        <template if:true={hidden}>
          <div class="slds-m-around_medium">
            <div class="slds-grid slds-wrap slds-gutters">
              <div class="slds-col slds-size_1-of-3">
                <lightning-input label="Zona Hidrometeorológica" type="text" name="hidro" value={hidro}>
                </lightning-input>
              </div>
              <div class="slds-col slds-size_1-of-3">
                <lightning-input label="Zona Sísmica" type="text" name="sismica" value={sismica}>
                </lightning-input>
              </div>
              <div class="slds-col slds-size_1-of-3">
                <lightning-input label="Número de pisos de Casa" type="text" name="pisos" value={piso}>
                </lightning-input>
              </div>
              <div class="slds-col slds-size_1-of-3">
                <lightning-input label="Número de pisos de edificio" type="text" name="pisosdepa" value={pisodepa}>
                </lightning-input>
              </div>
              <div class="slds-col slds-size_1-of-3">
                <lightning-input label="¿En qué piso vive?" type="text" name="pisovive" value={pisovive}>
                </lightning-input>
              </div>
              <div class="slds-col slds-size_1-of-3">
                <lightning-combobox name="Antigüedad" label="Antigüedad" value={value} placeholder="Select Progress"
                  options={options} onchange={handleChange}>
                </lightning-combobox>
              </div>
              <div class="slds-col slds-size_1-of-3">
                <lightning-input label="Hidrometeorologica" type="checkbox" name="hidrocheck" checked={hidrocheck}>
                </lightning-input>
              </div>
              <div class="slds-col slds-size_1-of-3">
                <lightning-input label="Sismica" type="checkbox" name="sismicacheck" checked={sismicacheck}>
                </lightning-input>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div slot="footer" class="noFoot">
      <lightning-button class="slds-m-top_small" type="submit" label="Guardar" onclick={saveOut}>
      </lightning-button>
      <lightning-button class="slds-m-top_small button-space" variant="brand" label="Continuar" disabled={button}
        onclick={handledNextAction}></lightning-button>
    </div>
  </lightning-card>
</template>