.titleHeader {
    text-align: center !important;
    font-size: 20px !important;
    color: #005fb2;
    font-weight: bold !important; 
}
/*.alignment{
    text-align: center;
    font-size: 20px;
    color: blue;
}*/
.button-space{
    margin-left:23px;
}
.label-text{
    font-size: 15px;
    color: blue;
}
.button-space{
    margin-left:23px;
}