<!--
  @File Name          : mx_sb_vts_datosContratante.html
  @Description        : Lwc que corresponde a etapa de llenado de datos del contratante
  @Author             : Diego Olvera
  @Group              : BBVA
  @Last Modified By   : Diego Olvera
  @Last Modified On   : 02-17-2021
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    4/5/2020   Diego Olvera     Initial Version
  1.1    26/01/201  Eduardo Davalos  Se agrega lwc embebido que busca estados de la republica
-->
<template>
  <template if:true={isLoading}>
    <div class="spinner">
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </div>
  </template>
  <lightning-card>
    <div class="slds-align_absolute-center">
      <h3 class="titleHeader">Datos del Contratante (4/5)</h3>
    </div></br></br>
    <div class="c-container">
      <div class="slds-form slds-grid slds-wrap slds-grid_align-center">
        <div class="slds-form__row slds-col slds-size_10-of-12">
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
              <lightning-input required message-when-value-missing="Por favor complete este campo"
                label="Nombre del Cliente" type="text" id="nombre-cliente" placeholder="" value={nombreClient}
                onchange={nombreChange} name="nombreCliente"></lightning-input>
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
              <lightning-input required message-when-value-missing="Por favor complete este campo"
                label="Apellido Paterno" type="text" id="apellido-paterno" placeholder="" onchange={nombreChange}
                value={apellidoPat} name="apellidoPa">
              </lightning-input>
            </div>
          </div>
        </div>
        <div class="slds-form__row slds-col slds-size_10-of-12">
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
              <lightning-input required message-when-value-missing="Por favor complete este campo"
                label="Apellido Materno" type="text" id="apellido-materno" placeholder="" onchange={nombreChange}
                value={apellidoMaterno} name="apellidoMa">
              </lightning-input>
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element slds-form-element_stacked slds-is-editing">
              <label class="slds-form-element__label" for="Sexo">
                <abbr class="slds-required" title="required">*</abbr>
                Sexo
              </label>
              <div class="slds-form-element__control slds-form-element_horizontal">
                <lightning-input type="checkbox" value={masculino} checked={mas} onchange={handleMas} data-id="checkbox"
                  label="Masculino">
                </lightning-input>
                <lightning-input type="checkbox" value={femenino} checked={fem} onchange={handleFem} data-id="checkbox"
                  label="Femenino">
                </lightning-input>
                <lightning-input type="text" class="slds-popover_body slds-hidden" name="getSex" label="sexo"
                  variant="label-hidden" max-length=3 min-length=3 id="sexo" placeholder="" onchange={nombreChange}
                  value={sexo}>
                </lightning-input>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-form__row slds-col slds-size_10-of-12">
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element  slds-form-element_stacked slds-is-editing">
              <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                <lightning-input required message-when-value-missing="Por favor complete este campo" type="date"
                  date-style="short" id="fecha-nacimiento" label="Fecha de Nacimiento" value={fechaNac}
                  onchange={changeFechaNac}>
                </lightning-input>
              </div>
            </div>
          </div>
          <template if:false={isOpened}>
            <div class="slds-form__item" role="listitem">
              <div
                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                <label class="slds-form-element__label">Estado de Nacimiento</label>
                <c-mx_sb_vts_seleccion-estado onrecordselection={onEstadoSelection}></c-mx_sb_vts_seleccion-estado>
                <lightning-input id="lugar-nacimiento" class="slds-hide" type="text" value={lugarNac}></lightning-input>
              </div>
            </div>
          </template>
          <template if:true={isOpened}>
            <div class="slds-form__item" role="listitem">
              <div
                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                <label class="slds-form-element__label">Estado de Nacimiento</label>
                <c-mx_sb_vts_seleccion-estado onrecordselection={onEstadoSelection} lugarnaci={lugarNacAp}>
                </c-mx_sb_vts_seleccion-estado>
                <lightning-input class="slds-hide" type="text" value={lugarNac}></lightning-input>
              </div>
            </div>
          </template>
        </div>
        <div class="slds-form__row slds-col slds-size_10-of-12">
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element__control  slds-form-element_stacked slds-is-editing">
              <label class="slds-form-element__label">RFC
                <lightning-button-icon onclick={onclickRFC} onmouseout={hideRFC} icon-name="utility:info"
                  variant="container">
                </lightning-button-icon>
              </label>
              <div id="divHelp"
                class="divHelp slds-float_left tooltipCustomLeftRfc slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                role="tooltip" aria-live="polite">
                <div class="slds-popover__body tooltipSize ms-help-popup-body">
                  <p>
                    <lightning-formatted-text value="Para consultar tu RFC con Homoclave visita:  www.mi-rfc.com.mx">
                    </lightning-formatted-text>
                  </p>
                </div>
              </div>
              <lightning-input type="text" class="slds-popover_body" name="RFC" label="RFC" variant="label-hidden"
                required message-when-value-missing="Por favor complete este campo" max-length=10 min-length=10
                id="rfcCliente" placeholder="" value={rfcClient} onchange={nombreChange}>
              </lightning-input>
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
            <div class="slds-form-element__control  slds-form-element_stacked slds-is-editing">
              <label class="slds-form-element__label">Homoclave
                <lightning-button-icon onclick={onclickHomo} onmouseout={hideHomo} icon-name="utility:info"
                  variant="container">
                </lightning-button-icon>
              </label>
              <div id="divHelp1"
                class="divHelp1 slds-float_left tooltipCustomRightHomo slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                role="tooltip" aria-live="polite">
                <div class="slds-popover__body ms-help-popup-body">
                  <p>
                    <lightning-formatted-text value="La homoclave son los 3 últimos digitos del RFC">
                    </lightning-formatted-text>
                  </p>
                </div>
              </div>
              <lightning-input type="text" class="slds-popover_body" name="homoclaves" label="Homoclave"
                variant="label-hidden" max-length=3 min-length=3 id="homoclave" onchange={nombreChange} placeholder=""
                value={homoclave}>
              </lightning-input>
            </div>
          </div>
        </div>
        <div class="slds-form__row slds-col slds-size_10-of-12">
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
              <label class="slds-form-element__label">Teléfono Celular
                <lightning-button-icon onclick={onclickPhone} onmouseout={hidePhone} icon-name="utility:info"
                  variant="container">
                </lightning-button-icon>
              </label>
              <div id="divHelp2"
                class="divHelp2 slds-float_left tooltipCustomLeftPhone slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                role="tooltip" aria-live="polite">
                <div class="slds-popover__body tooltipSize ms-help-popup-body">
                  <p>
                    <lightning-formatted-text
                      value="A este número enviaremos un código de seguridad necesario para concluir la contratación.">
                    </lightning-formatted-text>
                  </p>
                </div>
              </div>
              <lightning-input required message-when-value-missing="Por favor complete este campo"
                variant="label-hidden"
                message-when-pattern-mismatch="Por favor, ingresa un número telefónico a 10 dígitos"
                label="Teléfono Celular" type="tel" max-length=10 min-length=10 pattern="[0-9]{10}" id="telefono-cel"
                placeholder="" onchange={nombreChange} name="cel" value={telefonoMov}>
              </lightning-input>
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
              <lightning-input message-when-value-missing="Por favor complete este campo" class="strTxt"
                message-when-type-mismatch="El correo no es válido" label="Correo Electrónico" type="email" id="correo"
                placeholder="" value={emailClient} name="emailclient" onchange={nombreChange}>
              </lightning-input>
            </div>
          </div>
        </div>
        <div class="slds-form__row slds-col slds-size_10-of-12">
          <div class="slds-form__item" role="listitem">
            <div
              class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
              <label class="slds-form-element__label">CURP
                <lightning-button-icon onclick={onclickCurp} onmouseout={hideCurp} icon-name="utility:info"
                  variant="container">
                </lightning-button-icon>
              </label>
              <div id="divHelp3"
                class="divHelp3 slds-float_left tooltipCustomLeft slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                role="tooltip" aria-live="polite">
                <div class="slds-popover__body tooltipSize ms-help-popup-body">
                  <p>
                    <lightning-formatted-text
                      value="Si los datos que ingresaste son correctos, el CURP se generará Automáticamente.">
                    </lightning-formatted-text>
                  </p>
                </div>
              </div>
              <lightning-input required message-when-value-missing="Por favor complete este campo"
                variant="label-hidden" message-when-too-long="El CURP no es válido"
                message-when-too-short="El CURP no es válido" label="CURP" type="text" min-length=13 max-length=20
                id="curp" placeholder="" name="getCurp" value={curpClient}></lightning-input>
            </div>
          </div>
          <div class="slds-form__item" role="listitem">
          </div>
        </div>
      </div>
    </div></br>
    <div slot="footer" class="noFoot">
      <lightning-button class="slds-m-top_small button-space" type="submit" label="Regresar"
        onclick={handledBackAction}></lightning-button>
      <lightning-button class="slds-m-top_small button-space" type="submit" variant="brand" label="Guardar"
        onclick={saveOut}></lightning-button>
      <lightning-button class="slds-m-top_small button-space" disabled={button} variant="brand" type="submit"
        label="Continuar" onclick={handledNextAction}></lightning-button>
    </div>
  </lightning-card>
</template>