.custom-margin {
    position: relative;
    margin-top: -2.5%;
}

.custom-text {
    color: rgb(22, 50, 92);
}

.custom-footer {
    margin-left: 50%;
    display: block;
}

.custom-footer-quotin {
    margin-left:30%;
}
.custom-spinner {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 2.5%;
    margin-left: 40%;
}