<!--
  @File Name          : mx_sb_sac_searchData.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 07-10-2020
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    1/10/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card id='template1' if:false={isQuoting}>
        <lightning-card if:false={showQuestions}>
            <section class='slds-var-m-left_medium custom-margin'>
                <p>Nombre del Cliente: <strong>{ clientName }</strong></p>
            </section>
            <section class='slds-var-m-left_medium  slds-var-m-right_medium slds-var-m-top_medium'>
                <span class='custom-text'>
                    Le informo que sus datos personales están protegidos por nuestro aviso de privacidad,
                    que pueden consultar en <strong>www.bbva.mx</strong>
                </span>
                <p class='slds-var-m-top_medium'>
                    <lightning-radio-group name='radioGroup'
                                            class='slds-var-m-around_medium'
                                            options={options} value={value}
                                            type='radio'
                                            onchange={handleFilterSelection}
                                            label='Puedes realizar la busqueda del cliente por cualquiera de los siguientes criterios:'
                                            required>
                    </lightning-radio-group>
                </p>
            </section>
            <section class='slds-var-m-left_medium slds-var-m-right_medium slds-var-m-top_medium'>
                <lightning-input label='Ingresar Búsqueda' value={searchKey} onchange={handleKeywordSearch}  disabled={disableInput} required></lightning-input>
            </section>
            <section if:true={showSpinner} class='custom-spinner'>
                <lightning-spinner alternative-text='Cargando' size='medium'></lightning-spinner>
            </section>
            <section if:true={showRecords}>
                <lightning-datatable
                    class='slds-text-body_small'
                    key-field='id'
                    data={recordList}
                    columns={columns}
                    onrowselection={handleSelectRecord}
                    max-row-selection='1'
                    if:true={showRecords}>
                </lightning-datatable>
            </section>
            <section if:true={show404}>
                <span>404! No se encontro ningun registro, por favor validar.</span>
            </section>
        </lightning-card>
        <lightning-card if:true={showQuestions}>
            <c-mx_sb_sac_dynamic-questionnaire case-data={newCaseData} contract-id={contractId} prod-name={prod} prod-id={prodId} contract-data={recordList} acc-id={accountId} type={userType} tipification={tipification} comments={comments}></c-mx_sb_sac_dynamic-questionnaire>
        </lightning-card>
        <footer class='custom-footer' if:true={showNext}>
            <lightning-button label='Seleccionar' variant='brand' class='slds-is-absolute' onclick={handleShowQuestions}></lightning-button>
        </footer>
        <footer class='custom-footer' if:true={endFlow}>
            <lightning-button label='Terminar Búsqueda' variant='brand' onclick={handleSave} class='slds-is-absolute'></lightning-button>
        </footer>
    </lightning-card>
    <lightning-card id='template2' if:true={isQuoting}>
        <lightning-icon icon-name='standard:client' class='slds-var-m-left_medium'></lightning-icon>
        <span class='slds-card__header-link baseCard__header-title-container slds-var-m-left_small'>Buscar Cliente Cotización</span>
        <lightning-card if:true={caseData.MX_SB_SAC_EsCliente__c}>
            <lightning-card if:true={dataSearch}>
                <section class='slds-var-m-left_medium'>
                    <p>Puedes realizar la búsqueda del cliente por cualquiera de los siguientes criterios:</p>

                    <p>Número de Póliza, Nombre(s) y Apellido Paterno, Apellido Materno, Correo electrónico o RFC</p>
                </section>
                <section id='inputFields' class='slds-var-m-top_medium slds-var-m-left_medium slds-var-m-right_medium'>
                    <p class='slds-var-m-top_small'>
                        <lightning-input id='customerName' label='Ingresar búsqueda' value={clientName} onchange={changeClientName} required></lightning-input>
                    </p>
                    <p class='slds-var-m-top_small'>
                        <lightning-combobox id='productList' label='Productos Venta' options={productOptions} value={value} onchange={renderSalesProcess} required></lightning-combobox>
                    </p>
                    <p class='slds-var-m-top_small' if:true={showSalesPath}>
                        <lightning-input id='salesProcess' label='Método de Venta' value={saleProcess} disabled></lightning-input>
                    </p>
                </section>
                <section class='custom-footer slds-var-m-top_medium' if:false={endFlow}>
                    <lightning-button label='Siguiente' onclick={getAccountData} variant='brand' disabled={disableNext}></lightning-button>
                </section>
            </lightning-card>
            <lightning-card if:false={dataSearch}>
                <section if:true={showRecords}>
                    <lightning-datatable
                        class='slds-text-body_small'
                        key-field='id'
                        data={recordList}
                        columns={columns}
                        onrowselection={handleSelectRecord}
                        max-row-selection='1'
                        if:true={showRecords}>
                    </lightning-datatable>
                </section>
                <footer class='custom-footer-quotin slds-var-m-top_medium'>
                    <lightning-button label='Regresar' variant='neutral' class='slds-slide-from-left-to-right' onclick={goBackQuotingSeach}></lightning-button>
                    <lightning-button label='Terminar Búsqueda' variant='brand' onclick={handleSaveQuoting} class='slds-var-m-left_medium slds-is-absolute' if:true={endFlow}></lightning-button>
                </footer>
            </lightning-card>
        </lightning-card>
        <lightning-card if:false={caseData.MX_SB_SAC_EsCliente__c}>
            <c-mx_sb_sac_create-account options={productOptions} case-data={caseData}></c-mx_sb_sac_create-account>
        </lightning-card>
    </lightning-card>
</template>