<!--
  @File Name          : mx_sb_sac_createAccount.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 6/29/2020, 10:14:13 AM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    6/26/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card>
        <section class='slds-var-m-left_medium slds-var-m-right_medium'>
            <p>Introduce la siguiente información para generar la cuenta de la cotización:</p>

            <p>Datos Nombre(s) y Apellido Paterno, Apellido Materno, Correo electrónico, Teléfono y Producto.</p>
            <lightning-input label='Nombre' data-field='FirstName' value={caseData.MX_SB_SAC_Nombre__c} required></lightning-input>
            <lightning-input label='Apellido Paterno' data-field='LastName' value={caseData.MX_SB_SAC_ApellidoPaternoCliente__c} required></lightning-input>
            <lightning-input label='Apellido Materno' data-field='Apellido_Materno__pc' value={caseData.MX_SB_SAC_ApellidoMaternoCliente__c} required></lightning-input>
            <lightning-input type='email' placeholder='juan.perez@mail.com' onchange={getAccountByEmail} pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$' label='Correo Electrónico' data-field='PersonEmail' required></lightning-input>
            <lightning-input type='tel' label='Teléfono' placeholder='555-555-5555' data-field='Phone' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' required></lightning-input>
            <lightning-combobox label='Productos Venta' data-field='Product' options={options} onchange={selectSalesPath} required></lightning-combobox>
            <section if:true={showSalesPath}>
                <lightning-input label='Método de venta' data-field='SalesProcess' value={salesPath} disabled></lightning-input>
                <br />
                <lightning-button label='Siguiente' onclick={handleSave} variant='brand'></lightning-button>
            </section>
        </section>
    </lightning-card>
</template>