<!--
  @Description        :
  @Author             : Selena Rodriguez Vega
  @Author             : Ricardo Alberto Santos Velasco 
  Ver       Date          Modification
  1.0    21/09/2020       Initial Version
-->
<template>
    <lightning-record-view-form
            record-id={recordId}
            object-api-name="MX_RTE_Iniciativa__c"
            >
            <lightning-card title="Sección de documentos" >
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-2">
                    <lightning-output-field field-name="MX_RTE_Archivo_MSA__c"></lightning-output-field>
                    <lightning-output-field field-name="MX_RTE_User_Experience__c"></lightning-output-field>
                    <lightning-output-field field-name="MX_RTE_Documento_C204_Entornos_Previos__c"></lightning-output-field>
                    <lightning-output-field field-name="MX_RTE_C204_Entorno_Productivo__c"></lightning-output-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-output-field field-name="MX_RTE_Marketing_Intelligence__c"></lightning-output-field>
                    <lightning-output-field field-name="MX_RTE_Guia_Operativa__c"></lightning-output-field>
                    <lightning-output-field field-name="MX_RTE_Matriz_de_Escalamiento__c"></lightning-output-field>
                    <lightning-output-field field-name="MX_RTE_Otros_Documentos__c"></lightning-output-field>
                </div>
            </div>
            </lightning-card>
        </lightning-record-view-form>
</template>