<!--
  @description       : 
  @author            : Eduardo Hernandez
  @group             : 
  @last modified on  : 12-01-2020
  @last modified by  : Diego Olvera
  Modifications Log 
  Ver   Date         Author         Modification
  1.0   11-24-2020   Diego Olvera   Initial Version
-->
<template>
    <lightning-card>
        <template if:true={isFrecuency}>
            <c-mx_sb_vts_payments-frecuencies onbackaction={handledEventBack} onnextaction={handledEventNext} record-id={recordId} stagecount="2" totalstages="6"></c-mx_sb_vts_payments-frecuencies>
        </template>
        <template if:true={isNewCot}>
            <c-mx_sb_vts_info-basica-vsd onbackaction={handledEventBack} onnextaction={handledEventNext}></c-mx_sb_vts_info-basica-vsd>
        </template>
        <template if:true={cotizada}>
            <c-mx_sb_vts_datosasegurado onbackaction={handledEventBack} onnextaction={handledEventNext}></c-mx_sb_vts_datosasegurado>
        </template>
        <template if:true={formalizada}>
            <c-mx_sb_vts_dir_contratante_vsd onbackaction={handledEventBack} onnextaction={handledEventNext}></c-mx_sb_vts_dir_contratante_vsd>
        </template>
        <template if:true={tarificada}>
            <c-mx_sb_vts_beneficiarios-v-s-d onbackaction={handledEventBack} onnextaction={handledEventNext}></c-mx_sb_vts_beneficiarios-v-s-d>
        </template>
    </lightning-card>
</template>