<!--
  @File Name          : mx_sb_sac_dynamicQuestionnaire.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 4/24/2020, 3:05:06 PM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    1/14/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card if:false={showNoAuth}>
        <section class='slds-m-left_medium slds-m-right_medium custom-margin'>
            <span>
                Para Continuar su trámite de forma segura, es importante verificar algunos datos de su póliza.
            </span>
        </section>
        <section>
            <ul class='slds-m-around_medium'>
                <template for:each={sortQuestions} for:item='question'>
                    <li key={question.key}>
                        <lightning-radio-group
                            name='{question.key}'
                            options={options}
                            value={value}
                            label={question.question}
                            type='radio'
                            onchange={handleOnChange}
                            required>
                        </lightning-radio-group>
                    </li>
                </template>
            </ul>
        </section>
        <section class='slds-m-left_medium slds-m-right_medium' if:true={showThirdQ}>
            <lightning-radio-group
                name='thirdQ'
                options={options}
                label={extraQuestion.question}
                type='radio'
                value={value}
                onchange={handleThirdQ}
                required>
            </lightning-radio-group>
        </section>
    </lightning-card>
    <section if:true={showNoAuth}>
        <c-mx_sb_sac_bad-cuestionnaire-answers case-id={caseData.Id} contract-data={contractData}></c-mx_sb_sac_bad-cuestionnaire-answers>
    </section>
    <footer if:true={showSave} class='custom-footer'>
        <lightning-button label='Identificar' onclick={handleSave} variant='brand' class='slds-is-absolute'></lightning-button>
    </footer>
    <lightning-button onclick={handleGoBack} label='Regresar' class='back-button slds-is-absolute'></lightning-button>
</template>