<template>
    <lightning-card icon-name='standard:opportunity' class='slds-m-left_medium' title='Campaña'>
        <section class='slds-m-left_medium'>
            <span><b>Nombre de Campaña:</b> {getcampaigndata.campana}</span>
            <br />
            <span><b>Nombre del anuncio:</b> {getcampaigndata.detalle}</span>
            <br />
            <span><b>Cupón:</b> {getcampaigndata.codigo}</span>
            <br />
        </section>
    </lightning-card>
</template>