.THIS .blueTitle {
    color: #1D598F !important;
    font-size: x-large !important;
    font-style: bold !important;
}
.THIS .textTitleInp {
    color: #575858 !important;
    font-size: large !important;
    font-style: italic !important;
}
.THIS .textValuePay {
    color: #236FBC !important;
    font-size: medium !important;
}
.THIS .paddingModule {
    padding-bottom: 35px !important;
}