<!--
  @File Name          : mx_sb_vts_cotizadorHogar.html
  @Description        : Lwc que corresponde al componente padre que almacena a lwc hijos del cotizador hsd
  @Author             : Diego Olvera
  @Group              : BBVA
  @Last Modified By   : Diego Olvera
  @Last Modified On   : 02-23-2021
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    8/5/2020   Diego Olvera     Initial Version
  1.1    23/02/2021 Diego Olvera     Se hacen ajustes de asignación de variables 
-->
<template>
    <lightning-card>
        <div class="slds-card slds-has-bottom-magnet">
            <template if:true={newCot}>
                <c-mx_sb_vts_info-basica wrapper-parent={cotizObject} registroid={recordId} leadsource={pleadsource}
                    onbackaction={handledEventBack} wrapper-valpropio={cotizProRen} onnextaction={handledEventNext}>
                </c-mx_sb_vts_info-basica>
            </template>
            <template if:true={cotizada}>
                <template if:true={outbound}>
                    <c-mx_sb_vts_personaliza-Proteccion-A-L-R wrapper-parent={cotizObject}
                        onbackaction={handledEventBack} wrapper-valpropio={cotizProRen} registroid={recordId} cp={cp}
                        montos={amount} flujo={flujo} objdataforms={objdatafrms} proprent={comentarios}
                        onnextaction={handledEventNext}>
                    </c-mx_sb_vts_personaliza-Proteccion-A-L-R>
                </template>
                <template if:true={cmb}>
                    <c-mx_sb_vts_personaliza-pro-cmb wrapper-parent={cotizObject} onbackaction={handledEventBack}
                        onnextaction={handledEventNext} registroid={recordId} wrapper-valpropio={cotizProRen} cp={cp}
                        montos={amount} flujo={flujo}></c-mx_sb_vts_personaliza-pro-cmb>
                </template>
            </template>
            <template if:true={cotizadaRenta}>
                <template if:true={outboundRen}>
                    <c-mx_sb_vts_outbound-rentado wrapper-parent={cotizObject} onbackaction={handledEventBack}
                        onnextaction={handledEventNext} registroid={recordId} wrapper-valpropio={cotizProRen} cp={cp}
                        montos={amount} flujo={flujo} objdataforms={objdatafrms} proprent={comentarios}>
                    </c-mx_sb_vts_outbound-rentado>
                </template>
                <template if:true={cmbRen}>
                    <c-mx_sb_vts_personaliza-pro-cmb-ren wrapper-parent={cotizObject} registroid={recordId}
                        onbackaction={handledEventBack} onnextaction={handledEventNext} wrapper-valpropio={cotizProRen}
                        cp={cp} montos={amount} flujo={flujo}></c-mx_sb_vts_personaliza-pro-cmb-ren>
                </template>
            </template>
            <template if:true={emitida}>
                <c-mx_sb_vts_cotiz-payments wrapper-parent={cotizObject} registroid={recordId} info-param={dcparam}
                    comentarios={comentarios} record-id={recordId} onbackaction={handledEventBack}
                    wrapper-valpropio={cotizProRen} onnextaction={handledEventNext} cp={cp} montos={amount}>
                </c-mx_sb_vts_cotiz-payments>
            </template>
            <template if:true={tarificada}>
                <c-mx_sb_vts_datos-contratante wrapper-parent={cotizObject} idquotechild={idquote} info-param={dcparam}
                    onbackaction={handledEventBack} onnextaction={handledEventNext} cp={cp} registroid={recordId}>
                </c-mx_sb_vts_datos-contratante>
            </template>
            <template if:true={formalizada}>
                <c-mx_sb_vts_direccion_pertenencia cp={cp} registroid={recordId} idquotechild={idquote}
                    wrapper-parent={cotizObject} info-param={dcparam} wrapperparent={cotizObject}
                    onbackaction={handledEventBack} onnextaction={handledEventNext}></c-mx_sb_vts_direccion_pertenencia>
            </template>
        </div>
    </lightning-card>
</template>