<!--
  @File Name          : mx_sb_contenedorCarrusel_cmp.html
  @Description        : Carrusel BBVA
  @Author             : Arsenio.perez.lopez.contractor@BBVA.com
  @Group              : BBVA
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 20/2/2020 11:34:31
  @Modification Log   : 
  Ver       Date            Author      		                        Modification
  1.0       6/2/2020        Arsenio.perez.lopez.contractor@BBVA.com     Initial Version
  1.1       26/6/2020       jesusalexandro.corzo.contractor@bbva.com    Se ajustan los parametros que se pasan al componente: mx_sb_vts_carrusel
  1.2       1/7/2020        jesusalexandro.corzo.contractor@bbva.com    Se realizan ajustes al componente
  1.3       7/7/2020        jesusalexandro.corzo.contractor@bbva.com    Se agrega una condicion, ya que al no tenerla generaba un slide en blanco
  1.4       31/07/2020      jesusalexandro.corzo.contractor@bbva.com    Se realizan ajustes conforme a la etiqueta lightning/uiRecordApi de acuerdo
                                                                        a observaciones realizadas por Retail y se adapta a SOC
-->
<template>
    <template if:false={loaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <template if:true={loaded}>
        <div class="slds-box slds-theme_default" style="border: 1px solid #C7C7C8; margin: auto; margin-left: auto; margin-right: auto;">
            <div class={cssClass} id="Collapsection"> 
                <h3 class="slds-section__title">
                    <button onclick={toglet} aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                        <span class="slds-truncate" title="Imágenes de apoyo y Scripts"><strong>Imágenes de apoyo y Scripts</strong></span>
                    </button>
                </h3>
                <div aria-hidden="true" class="slds-section__content" id="expando-unique-id">
                    <div class="slds-grid slds-wrap c-container slds-center slds-box slds-theme_default">
                        <div class="slds-size_4-of-4 slds-center">
                                <div>
                                    <div style="float:left; width: 97%;">
                                        <lightning-combobox 
                                            name="lc-subetapa" 
                                            label='Subetapa: ' 
                                            value={lstOptsSubEtapaValue} 
                                            placeholder="Seleccione..." 
                                            options={lstOptsSubEtapa}
                                            onchange={handleChangeSubEtapa}
                                            disabled={dsbFieldSubEtapa}
                                        >
                                        </lightning-combobox>
                                    </div>
                                    <div style="float: left; margin-top: 21px;">
                                        <lightning-button-icon 
                                            icon-name="utility:edit" 
                                            class="slds-m-left_xx-small" 
                                            onclick={handleButtonEdit}
                                            disabled={dsbButtonEdit}
                                        >
                                        </lightning-button-icon>
                                    </div>
                                </div>
                                <br>
                                <template if:true={vsbGrpButtonSaveCancel}>
                                    <div>
                                        <div style="float: right; width: auto; margin-top: 5px; margin-bottom: 5px; padding-right: 7px;">
                                            <lightning-button 
                                                variant="brand" 
                                                label="Guardar" 
                                                class="slds-m-left_x-small" 
                                                onclick={handleButtonSave}
                                                disabled={dsbButtonSave}
                                            >
                                            </lightning-button>
                                            <lightning-button 
                                                label="Cancelar" 
                                                class="slds-m-left_x-small" 
                                                onclick={handleButtonCancel}
                                                disabled={dsbButtonCancel}
                                            >
                                            </lightning-button>
                                        </div>
                                    </div>
                                </template>
                                <br>
                                <hr>
                            <template if:true={ifsone}>
                                <div class="slds-box slds-theme_shade">
                                    <lightning-carousel disable-auto-scroll >
                                        <template for:each={consultallamada} for:item="contact" class="slds-grid slds-wrap slds-gutters"  style="border: solid 5px #FF0000">
                                            <div key={contact.Id} class="slds-col slds-text-body_small slds-size--2-of-2 slds-small-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2" style="background: #FFFFFF;" >
                                                <span class="slds-form-element__label slds-text-heading_large" style="margin-left: 10px;">{contact.MX_SB_VTS_HEADER__c}</span>
                                                <hr>
                                                <lightning-carousel-image class="slds-col slds-size--1-of-2 slds-small-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2"
                                                    key={contact.Id}
                                                    src={contact.MX_SB_VTS_SRC__c}
                                                    description={contact.MX_SB_VTS_DescLong__c}
                                                    header={contact.MX_SB_VTS_HEADER__c}>
                                                </lightning-carousel-image>
                                            </div>
                                            <div key={contact.Id} class="slds-col slds-text-body_small slds-large-size--1-of-2" style="background: #FFFFFF;" >
                                                <div style="border: solid 0px #FF0000; height: 41px;"></div>
                                                <hr>
                                                <lightning-record-view-form
                                                    record-id={contact.Id}
                                                    object-api-name="Scripts_Stage_Product__c">
                                                    <div class="slds-box slds-theme_default">
                                                            <lightning-output-field field-name="MX_WB_Script__c"></lightning-output-field>
                                                    </div>
                                                </lightning-record-view-form>
                                            </div>
                                        </template>
                                    </lightning-carousel>
                                </div> 
                            </template>
                        </div>
                    </div>
                </div>
                
            </div> 
        </div>
    </template>
</template>