.THIS.customRadioCls .slds-checkbox{
display: inline-block !important;
}
.THIS .slds-radio {
    display: inline !important;
}
.THIS .slds-p-around_medium
{
 font-size:18px;font-family:verdana;color:#1464A5;   
}