<template>
    <sectio if:false={isLoaded} class="custom-spinner">
        <lightning-spinner alternative-text="Loading" variant="brand" size="large"></lightning-spinner>
    </sectio>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <lightning-button-icon class="slds-modal__close" title="Close" icon-name="utility:close" icon-class="slds-button_icon-inverse" onclick={handleDialogClose}></lightning-button-icon>
                    <h2 class="slds-text-heading_medium slds-hyphenate header-string">
                        Enviar cotización por correo electrónico
                    </h2>
                <p class="slds-m-top_x-small modal-hidden">
                    <slot name="tagline" onslotchange={handleSlotTaglineChange}></slot>
                </p>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modalEmail">
                <div class="slds-form slds-grid slds-wrap slds-grid_vertical-align-end"></div>
                    <div class="slds-form-element slds-size_1-of-1 slds-align_absolute-center">
                        <div class="slds-form-element__control slds-size_6-of-12">
                            <lightning-input required type="text" autocomplete="false" onblur={handValidateName} id="nameEmailCotSend" label="Nombre" placeholder="Nombre del cliente" value={clientName}></lightning-input>
                        </div>
                    </div>
                    <div class="slds-form-element slds-size_1-of-1 slds-align_absolute-center">
                        <div class="slds-form-element__control slds-size_6-of-12">
                            <lightning-input required type="email" message-when-bad-input="Ingrese un email valido" id="correoEmailCotSend" onblur={handValidateEmail} label="Correo" placeholder="Correo electrónico" value={clientEmail}></lightning-input>
                        </div>
                    </div>
                    <div class="slds-align_absolute-center slds-p-top_large slds-size_1-of-1">
                        <lightning-button variant="brand-outline" onclick={handsendingEmail} disabled={noReadyToSend} icon-name="utility:email" label="Enviar"></lightning-button>
                    </div>
                </div>
            </div>
            <footer class="slds-modal__footer modal-hidden">
                <slot name="footer" onslotchange={handleSlotFooterChange}
                ></slot>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>