<!--
  @File Name          : mx_sb_vts_personalizaProteccionALR.html
  @Description        :
  @Author             : Diego Olvera
  @Group              :
  @Last Modified By   : Diego Olvera
  @Last Modified On   : 09-02-2020
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    29/4/2020   Diego Olvera     Initial Version
-->
<template>
    <lightning-card>
        <div class="slds-m-around_medium">
            <div class="slds-align_absolute-center">
                <h3 class="titleHeader">Personaliza tu protección (2/5)</h3>
            </div>
            <div class="slds-grid slds-wrap slds-gutters slds-align_absolute-center">
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-col slds-size_1-of-3" style="width: 98%; margin-top: 3%; margin-left: 5px;">
                        <div class="slds-box pagos slds-p-top_xx-small slds-m-top_xx-small">
                            <lightning-combobox name="Suma Asegurada" label="Suma Asegurada: " value={chosenValuePro}
                                onchange={handleChange} options={roleOptions}>
                            </lightning-combobox>
                        </div>
                    </div>
                    <div class="slds-box slds-p-top_xx-small slds-m-top_xx-small">
                        <lightning-layout>
                            <lightning-radio-group name="rbOptCoberturas" label="" options={optsCompleta}
                                value={valueCompleta} type="radio"></lightning-radio-group><span class="titleOpt">Opción
                                1: Completa</span>
                        </lightning-layout>
                        <div
                            style="border: solid 2px #1B4F72; height: 350px; margin-top: 8px; overflow:auto; background: whitesmoke; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                            <lightning-accordion class="example-accordion" allow-multiple-sections-open
                                onsectiontoggle={handleToggleSection} active-section-name={activeSections}>
                                <lightning-accordion-section name="Asistencias" label="Asistencias">
                                    <button title="Sin deducible, se paga la cantidad que exceda los $750."
                                        class="slds-button slds-button_stretch btnStaticsFixed">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Mejorando tu casa</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp1} onmouseout={hideOp1} icon-name="utility:info"
                                                variant="bare-inverse" title="Hola">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div id="divHelp"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelp slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text value={casaPro}></lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="
Enfermera: $ 350.00 por turno de 8hrs
Médico a domicilio: Hasta $ 150.00
Ambulancia (aérea): Sin Costo
Ambulancia (terrestre): Sin Costo" class="slds-button slds-button_stretch btnStaticsFixed">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Médica</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp2} onmouseout={hideOp2} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>
                                        </div>
                                    </button>
                                    <div id="divHelpOne"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpOne slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={medicaPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName" title="
Vacunas: Hasta $ 200.00
Estética: Hasta $ 300.00
Hospedaje: Hasta $ 730.00
Consulta Veterinario : $ 250.00
Sacrificio por Accidente : $ 500.00
Asistencia Funeraria : $ 2,000.00" class="slds-button slds-button_stretch btnSelectFixed" onclick={changeRob}>
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Mascotas</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp3} onmouseout={hideOp3} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwo"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwo slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={mascotasPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </lightning-accordion-section>

                                <lightning-accordion-section name="Contenidos" label="Contenidos">
                                    <button title="Sin deducible"
                                        class="slds-button slds-button_stretch btnStaticsFixed">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Incendio</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optOneInce}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp4} onmouseout={hideOp4} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpThree"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThree slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={incendioPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Terremoto</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optOneTerre}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp5} onmouseout={hideOp5} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpFour"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpFour slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={terremotoPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Desastres naturales por agua</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optOneAgua}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp6} onmouseout={hideOp6} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpFive"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpFive slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={hidroPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName1" name="robo" title="$5,000"
                                        class="slds-button slds-button_stretch btnSelect" onclick={changeRobo}>
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Robo</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                * Pertenencias {optOneRobPer} <br>
                                                * Articulos de valor {optOneRobAr} <br>
                                                * Dinero en efectivo ($15,000)
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp7} onmouseout={hideOp7} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpSix"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpSix slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={comRob}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName2" title="$500 por equipo" onclick={changeRobOne}
                                        class="slds-button slds-button_stretch btnSelect">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">EE y Linea Blanca</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {optOneLinea}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp8} onmouseout={hideOp8} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpSeven"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpSeven slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={linea_blancaPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </lightning-accordion-section>

                                <lightning-accordion-section name="Construccion" label="Construcción">
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Incendio</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optOneInce1}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp9} onmouseout={hideOp9} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpEight"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpEight slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value='Cubre los daños materiales causados a tu casa por: un incendio o rayo.'>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Terremoto</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optOneTerre1}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp10} onmouseout={hideOp10} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpNine"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpNine slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value='Cubre los daños materiales causados a tu casa por: un terremoto o erupción volcánica.'>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Desastres naturales por agua</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optOneAgua1}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp11} onmouseout={hideOp11} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value="Cubre daños ocasionados a tu casa por: inundación por lluvia, granizo, huracán, entre otros.">
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Civil / Daños a Terceros</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optOneCivil}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp12} onmouseout={hideOp12} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpEleven"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpEleven slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={tercerosPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName3" title="$150 por cristal" onclick={changeRobTwo}
                                        class="slds-button slds-button_stretch btnSelect">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Rotura de cristales</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {optOneCrital}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp13} onmouseout={hideOp13} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwelve"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwelve slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={cristalesPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                            </lightning-accordion>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-box slds-p-top_xx-small slds-m-top_xx-small" style="margin-top: 105px;">
                        <lightning-layout>
                            <lightning-radio-group name="rbOptCoberturas" label="" options={optsBalanceada}
                                value={valueBalanceada} type="radio"></lightning-radio-group><span
                                class="titleOpt">Opción 2: Balanceada</span>
                        </lightning-layout>
                        <div style="border: solid 2px #1B4F72; height: 350px; overflow-y: auto; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px;
                        -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                            <lightning-accordion class="example-accordion" allow-multiple-sections-open
                                onsectiontoggle={handleToggleSection} active-section-name={activeSections}>
                                <lightning-accordion-section name="AsistenciasOpt" label="Asistencias">
                                    <button title="Sin deducible, se paga la cantidad que exceda los $750"
                                        class="slds-button slds-button_stretch btnStaticsFixed">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Mejorando tu casa</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp14} onmouseout={hideOp14} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpThirteen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpThirteen  slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={casaPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="
Enfermera: $ 350.00 por turno de 8hrs
Médico a domicilio: Hasta $ 150.00
Ambulancia (aérea): Sin Costo
Ambulancia (terrestre): Sin Costo" class="slds-button slds-button_stretch btnStaticsFixed">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Médica</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp15} onmouseout={hideOp15} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpFourteen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpFourteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={medicaPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName4" title="
Vacunas: Hasta $ 200.00
Estética: Hasta $ 300.00
Hospedaje: Hasta $ 730.00
Consulta Veterinario : $ 250.00
Sacrificio por Accidente : $ 500.00
Asistencia Funeraria : $ 2,000.00" class="slds-button slds-button_stretch btnSelectFixed" onclick={changeRobThree}>
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Mascotas</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp16} onmouseout={hideOp16} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpFiveteen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpFiveteen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={mascotasPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </lightning-accordion-section>

                                <lightning-accordion-section name="ContenidoOpt" label="Contenido">
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Incendio</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optTwoInce}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp17} onmouseout={hideOp17} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpSixTeen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpSixTeen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={incendioPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Terremoto</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optTwoTerre}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp18} onmouseout={hideOp18} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpSevenTeen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpSevenTeen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={terremotoPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Desastres naturales por agua</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optTwoAgua}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp19} onmouseout={hideOp19} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpEighTeen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpEighTeen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={hidroPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName5" title="$5,000"
                                        class="slds-button slds-button_stretch btnSelect" onclick={changeRobFour}>
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Robo</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                * Pertenencias {optTwoRobPer} <br>
                                                * Articulos de valor {optTwoRobAr} <br>
                                                * Dinero en efectivo ($15,000)
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp20} onmouseout={hideOp20} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpNineTeen"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpNineTeen slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={comRob}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName6" title="$500 por equipo" onclick={changeRobFive}
                                        class="slds-button slds-button_stretch btnSelect">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">EE y Linea Blanca</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {optTwoLinea}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp21} onmouseout={hideOp21} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwenty"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwenty slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={linea_blancaPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                            </lightning-accordion>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-box slds-p-top_xx-small slds-m-top_xx-small" style="margin-top: 105px;">
                        <lightning-layout>
                            <lightning-radio-group name="rbOptCoberturas" label="" options={optsBasica}
                                value={valueBasica} type="radio"></lightning-radio-group><span class="titleOpt">Opción
                                3: Básica</span>
                        </lightning-layout>
                        <div style="border: solid 2px #1B4F72; height: 350px; overflow-y: auto; margin-top: 8px; background: whitesmoke; border-radius: 10px 10px 10px 10px;
                        -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
                            <lightning-accordion class="example-accordion" allow-multiple-sections-open
                                onsectiontoggle={handleToggleSection} active-section-name={activeSections}>
                                <lightning-accordion-section name="AsistenciasOptOne" label="Asistencias">
                                    <button title="Sin deducible, se paga la cantidad que exceda los $750"
                                        class="slds-button slds-button_stretch btnStaticsFixed">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Mejorando tu casa</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp22} onmouseout={hideOp22} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentyOne"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentyOne slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={casaPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="
Enfermera: $ 350.00 por turno de 8hrs
Médico a domicilio: Hasta $ 150.00
Ambulancia (aérea): Sin Costo
Ambulancia (terrestre): Sin Costo" class="slds-button slds-button_stretch btnStaticsFixed">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Médica</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp23} onmouseout={hideOp23} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentyTwo"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentyTwo slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={medicaPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName7" title="
Vacunas: Hasta $ 200.00
Estética: Hasta $ 300.00
Hospedaje: Hasta $ 730.00
Consulta Veterinario : $ 250.00
Sacrificio por Accidente : $ 500.00
Asistencia Funeraria : $ 2,000.00" class="slds-button slds-button_stretch btnSelectFixed" onclick={changeRobSix}>
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Mascotas</div>
                                                <div class="txtImportValue">-$8,888</div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp24} onmouseout={hideOp24} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentyThree"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentyThree slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={mascotasPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                                <lightning-accordion-section name="ContruccionOptOne" label="Construcción">
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Incendio</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optThreeInce1}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp25} onmouseout={hideOp25} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentyFour"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentyFour slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value='Cubre los daños materiales causados a tu casa por: un incendio o rayo.'>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Terremoto</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optThreeTerre1}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp26} onmouseout={hideOp26} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentyFive"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentyFive  slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value='Cubre los daños materiales causados a tu casa por: un terremoto o erupción volcánica.'>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="1% de deducible y 10% de Coaseguro en perdida parcial
Se eliminan deducible y coaseguro con perdida total" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Desastres naturales por agua</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optThreeAgua1}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp27} onmouseout={hideOp27} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentySix"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentySix  slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value='Cubre daños ocasionados a tu casa por: inundación por lluvia, granizo, huracán, entre otros.'>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button title="Sin deducible" class="slds-button slds-button_stretch btnStatics">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleNameStatic">Civil / Daños a Terceros</div>
                                                <div class="txtImportValueStatic"></div>
                                            </div>
                                            <div class="txtAnotherInfoStatic">
                                                SA: {optThreeCivil}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp28} onmouseout={hideOp28} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentySeven"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentySeven  slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body  tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container" value={tercerosPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                    <button data-name="myButtonName8" title="$150 por cristal" onclick={changeRobSeven}
                                        class="slds-button slds-button_stretch btnSelect">
                                        <div style="width: 100%;">
                                            <div style="float: left; width: 100%;">
                                                <div class="txtTitleName">Rotura de cristales</div>
                                                <div class="txtImportValue"></div>
                                            </div>
                                            <div class="txtAnotherInfo">
                                                SA: {optThreeCrital}
                                            </div>
                                            <lightning-button-icon
                                                class="slds-float_right slds-p-top_medium slds-p-right_xx-small"
                                                onclick={onclickOp29} onmouseout={hideOp29} icon-name="utility:info"
                                                variant="bare-inverse">
                                            </lightning-button-icon>

                                        </div>
                                    </button>
                                    <div id="divHelpTwentyEight"
                                        class="slds-float_right slds-p-right_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-slide-from-top-to-bottom divHelpTwentyEight  slds-hide"
                                        role="tooltip" aria-live="polite">
                                        <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                            <p>
                                                <lightning-formatted-text class="highcharts-container"
                                                    value={cristalesPro}>
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                            </lightning-accordion>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-box pagos slds-p-top_xx-small slds-m-top_xx-small">
                <h1 class="titleTexts slds-align_absolute-center">Pagos</h1><br><br>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_4-of-12">
                        <c-mx_sb_vts_cotizadores-pagos totalentmonth="1200" totalentsemianual="5500"
                            totalentanual="9500">
                        </c-mx_sb_vts_cotizadores-pagos>
                    </div>
                    <div class="slds-col slds-size_4-of-12">
                        <c-mx_sb_vts_cotizadores-pagos totalentmonth="1200" totalentsemianual="5500"
                            totalentanual="9500">
                        </c-mx_sb_vts_cotizadores-pagos>
                    </div>
                    <div class="slds-col slds-size_4-of-12">
                        <c-mx_sb_vts_cotizadores-pagos totalentmonth="1200" totalentsemianual="5500"
                            totalentanual="9500">
                        </c-mx_sb_vts_cotizadores-pagos>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer" class="noFoot">
            <lightning-button class="slds-m-top_small" label="Regresar" onclick={handledBackAction}>
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" label="Continuar"
                onclick={handledNextAction}>
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" type="submit"
                label="Guardar y Salir">
            </lightning-button>
        </div>
    </lightning-card>
</template>