<!--
  @description       : Componente que permite la obtencion del script guia para el asesor.
  @author            : Alan Ricardo Hernandez
  @group             : 
  @last modified on  : 02/03/2021
  @last modified by  : Alan Ricardo Hernandez
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   15/02/2021   Alan Ricardo Hernandez   Initial Version
  1.0.1 02/03/2021   Alan Ricardo Hernandez   Se agrega scroll como apoyo para el asesor.
-->
<template>
    <div class="slds-scrollable_y" style="height:25rem;width:100%">
        <template if:true={recordMdt.data}>
            <template for:each={recordMdt.data} for:item="item">                
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo1__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo1__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo2__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo2__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo3__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo3__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo4__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo4__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo5__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo5__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo6__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo6__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo7__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo7__c}></lightning-formatted-rich-text>
                <strong key={item.Id}>Le recuerdo que&nbsp;{Label_DemoninacionSegurosBBVA}&#44;&nbsp;</strong>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo7_2__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo8__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo8__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo9__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo9__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo10__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo10__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo11__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo11__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo12__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo12__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo13__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo13__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo14__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo14__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo15__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo15__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo16__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo16__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo17__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo17__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo18__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo18__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo19__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo19__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo20__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo20__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo21__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo21__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo22__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo22__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo23__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo23__c}></lightning-formatted-rich-text>
                <br key={item.Id}/><br key={item.Id}/>
                <lightning-formatted-rich-text key={item.Id} value={item.Titulo24__c}></lightning-formatted-rich-text>
                <lightning-formatted-rich-text key={item.Id} value={item.Parrafo24__c}></lightning-formatted-rich-text>
            </template>
        </template>
    </div>
</template>