<apex:page controller="MX_SB_MLT_MapasPageReference_Controller" showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false"  docType="html-5.0" lightningStylesheets="true">
	<body>
		<div id= "map" class="div-map"></div> 
		<div id="floating-panel" align="right">
			<div id="directions-panel"></div>
		</div>
		<div id="floating-panelP">
			<apex:form >
				<br/>
				<h1 class="h3-stl" hidden="true"><apex:outputText value=""/></h1>
				<p hidden="true"><apex:outputText id="IDtxt" value="{!sin.Id}"></apex:outputText></p>
				<apex:inputHidden id="Origintxt" value="{!sin.MX_SB_MLT_Origen__c}" ></apex:inputHidden>
				<p hidden="true"><apex:inputText id="dirtxt" title="hola" value="{!sin.MX_SB_MLT_Address__c}"  html-readonly="true" ></apex:inputText></p>
				<p hidden="true"><apex:outputText value="Coordenadas:" styleClass="display:{!IF(sin.MX_SB_MLT_Origen__c == 'Phone', 'block','none')}" ></apex:outputText></p>
				<p hidden="true"><apex:inputText id="loctxt" value="{!sin.MX_SB_MLT_URLLocation__c}" size="50" ></apex:inputText></p>
				<apex:inputHidden id="StNumbertxt" value="{!sin.MX_SB_MLT_NumeroCalle__c}"></apex:inputHidden>
				<apex:inputHidden id="StreetNametxt" value="{!sin.MX_SB_MLT_Calle__c}"></apex:inputHidden>
				<apex:inputHidden id="Colonytxt" value="{!sin.MX_SB_MLT_Colonia__c}"></apex:inputHidden>
				<apex:inputHidden id="Statetxt" value="{!sin.MX_SB_MLT_Estado__c}"></apex:inputHidden>
				<apex:inputHidden id="PostalCodetxt" value="{!sin.MX_SB_MLT_CodigoPostal__c}" ></apex:inputHidden>
				<p><apex:outputText value="Buscar dirección:" styleClass="display:{!IF(sin.MX_SB_MLT_Origen__c == 'Phone', 'block','none')} text-align: left;font-family:verdana;color:#1464A5;" /></p>
				<input id="address" type="textbox" value="{!sin.MX_SB_MLT_Address__c}" maxlength="200" size="50" Class="display:{!IF(sin.MX_SB_MLT_Origen__c == 'Phone', 'block','none')} textBox" placeholder="Ingrese dirección o coordenadas"/>
				<br/><br/>
				<p hidden="true"><input id="submit" type="button" align="center" value=" Buscar " Class="display:{!IF(sin.MX_SB_MLT_Origen__c == 'Phone', 'block','none')} uibutton" /></p>
				<apex:commandButton action="{!updatesin}" value="Confirmar" styleClass="slds-vf-button_brand"/>
				<p><apex:outputText value="Ingrese destino:" styleClass="display:{!IF(sin.MX_SB_MLT_Origen__c == 'Phone', 'block','none')} text-align: left;font-family:verdana;color:#1464A5;" /></p>
                <p hidden ="true"><input id="start" name ="start" type ="text"  value="{!sin.MX_SB_MLT_Address__c}"/></p>
			</apex:form>
			<input id = "end" maxlength="200" size="50" Class="display:{!IF(sin.MX_SB_MLT_Origen__c == 'Phone', 'block','none')} textBox" placeholder="Ingrese dirección o coordenadas"/>
		</div>
	</body>
	<apex:includeScript value="{!$Resource.MX_SB_MLT_GoogleMap}"/>
    <apex:includeScript value="{!$Label.MX_SB_MLT_JQuery}"/>
	<apex:includeScript value="{!$Label.MX_SB_MLT_GoogleApisURL}{!$Label.MX_SB_MLT_GoogleApiKey}&callback=initMap" html-async="defer"/>
    <apex:includeScript value="{!$Label.MX_SB_MLT_GoogleURL}{!$Label.MX_SB_MLT_GoogleApiKey}&callback=initMap" loadOnReady="true" html-async="defer"/>
	<apex:stylesheet value="{!$Resource.MX_SB_MLT_StyleMap}"/>
</apex:page>