<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col">
            <lightning-combobox
                    name="monthAmount"
                    label="¿Cuál es tu rango de ingresos mensual?"
                    value={amount}
                    placeholder="Selecciona tu rango de ingresos"
                    options={rangeAmount}
                    onchange={takeAmount} 
                    ></lightning-combobox>
        </div>

        <div class="slds-col">
            <lightning-combobox
                    name="currency"
                    label="¿En qué moneda deseas cotizar?"
                    value={currencyType}
                    placeholder="Tipo de moneda"
                    options={currencies}
                    onchange={takeCurrency} 
                    ></lightning-combobox>
        </div>

        <div class="slds-col">
        </div>
    </div>
    
    <br>
    <div class="colorText2">
        <b><label>¿Has padecido alguna de las siguientes enfermedades?</label></b>
    </div>

    <lightning-input label="* Diabetes, Hipertensión arterial u obesidad mórbida." type="checkbox" name="input1" checked={firstQues}  onchange={oneChecked}>
    </lightning-input>
    <lightning-input label={labelText} type="checkbox" name="input1" checked={secondQues} onchange={secChecked}>
    </lightning-input>
    
    <div class = "colorText">
        <p>&emsp;&thinsp;{labelText2}</p>
        <p>&emsp;&thinsp;{labelText3}</p>
    </div>

    <lightning-input label="* No padezco ni he padecido ninguna de las enfermedades anteriores." type="checkbox" name="input1" checked={thirdQues} onchange={thiChecked}>
    </lightning-input>

</template>