<template>
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Nombre" required type="text" data-id = "Name"></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Apellido Paterno" required type="text" data-id = "LastName"></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Apellido Materno" required type="text" data-id = "LastNameM"></lightning-input>
        </div>
    </div>

    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_4-of-12">
            <lightning-combobox label="Parentesco"  
                                data-id = "Parentesco"
                                value={relationshipType}
                                options={relationshipTypes}
                                onchange={selectRelationship} ></lightning-combobox>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Fecha de Nacimiento" required type="date" data-id = "Birthday" ></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Porcentaje" required type="text" data-id = "Percent" formatter="percent"></lightning-input>
        </div>
    </div>

    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_8-of-12">
            </br>
            <label><b>Domicilio </b>¿El domicilio del beneficiario es igual al de contratante?</label>
            </br>
        </div>
        <div class="slds-col slds-size_4-of-12">
            </br>
            <lightning-input label=" " type="checkbox" name="checkDomicilio" checked={benDomicilio} onchange={dataContratante} ></lightning-input>
            </br>
        </div>
    </div>

    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Calle" required value={street} type="text" data-id = "Street"></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Número exterior" required value={numExt} type="text" data-id = "extNumber"></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Número Interior" type="text" data-id="intNumber" value={numInt}></lightning-input>
        </div>
    </div>

    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Codigo Postal" required type="text" data-id = "postalCode" value={zipCode}></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Colonia" required type="text" data-id = "neighborhood" value={neighborhood}></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Alcaldía o Municipio" required type="text" data-id = "alcaldia" value={alcaldia}></lightning-input>
        </div>
    </div>

    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="Estado" required type="text" data-id = "state" value={state}></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <lightning-input label="País" required type="text" data-id = "city" value={city}></lightning-input>
        </div>
        <div class="slds-col slds-size_4-of-12">
        </div>
    </div>
</template>