<!--
  @File Name          : mx_sb_sac_badCuestionnaireAnswers.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 4/24/2020, 2:30:03 PM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    1/20/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card>
        <section class='slds-var-m-left_medium slds-var-m-right_medium custom-alignment'>
            <span>
                Sr./Srta. <strong>{clientName}</strong>. algunos de los datos no corresponden al registro. Por favor, verifique la información
                y comuníquese nuevamente, con gusto lo atenderemos.
                <br />
                Soy <strong>{userName}</strong> de BBVA Seguros pase una excelente día/tarde/noche.
            </span>
            <lightning-textarea label='Comentarios' required value={description} onchange={handleUpdateDescription}></lightning-textarea>
        </section>
        <footer class='custom-footer'>
            <lightning-button label='Terminar' onclick={handleFinish} variant='brand' class='slds-is-absolute'></lightning-button>
        </footer>
        <lightning-button label='Regresar' onclick={handleGoBack} class='slds-is-absolute back-button'></lightning-button>
    </lightning-card>
</template>