.custom-alignment {
    margin-top: -7%;
    position: relative;
}

.custom-footer {
    margin-left: 50%;
    display: block;
    margin-top: 2%;
}

.back-button {
    margin-left: 35% ;
    z-index: 2;
}