.THIS .slds-textarea {
    height:100px !important;
}
.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.THIS .slds-button_icon-bare{
display: none;
}