<template>
    <lightning-card>
        <div class="c-container">
            <div class="slds-form slds-grid slds-wrap slds-grid_align-center">
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <h1 class="slds-align_absolute-center label-textOne"><p style="color: #FF0000;">*</p> ¿Enviar fisicamente póliza y kit de bienvenida del cliente?</h1>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <label class="myCheckbox slds-align_absolute-center">
                                <input 
                                    name="chkenvpolcltesi" 
                                    type="checkbox" 
                                    checked={fldchksi}
                                    onclick={onHandleSiCHK}
                                />Sí
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input 
                                    name="chkenvpolclteno" 
                                    type="checkbox" 
                                    checked={fldchkno}
                                    onclick={onHandleNoCHK}
                                />No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <template if:true={fldchksi}>
                                <lightning-combobox 
                                    label="Dirección de envio" 
                                    value="" 
                                    placeholder="- Seleccione dirección de envio -"
                                    options={flddirenvpoliz} 
                                    required name='str_direnvpol_dc'>
                                </lightning-combobox>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>