/**
*Autor:     Gabriel García
*Desc:      Pantalla para visualizar links de documentos de los productos styles.
*Fecha:     22/11/2019
-->
???
Versión     Fecha           Autor                   Descripción
_________________________________________________________________________________________________________
1.0       06-06-2019     Sergio Ortiz            Cambio de Logo y uso de etiquetas para el cambio de imagen corporativa del Banco
1.1       25-07-2019	 Brandon Erick López M.  Se crearon condiciones para las minutas de BPyP sin afectar las demás bancas, estilos incluidos en static Resources.
1.2       22-11-2019     Gabriel García          Se crea hoja de estilo para page BPyP_vfp_bibliotecaLinks.page
*/

.maxsize {
    width : 100%;
}

.stylefontone {
    font-family : Tahoma;
    size : 20px;
    color : #154360;
}

.stylefonttwo {
    font-family : Tahoma;
    size : 20px;
    color : #154360;
}