/*
???
Version     Fecha           Autor                   Descripcion
_________________________________________________________________________________________________________
1.0       06-06-2019     Sergio Ortiz            Cambio de Logo y uso de etiquetas para el cambio de imagen corporativa del Banco
1.1       25-07-2019	 Brandon Erick Lopez M.  Se crearon condiciones para las minutas de BPyP sin afectar las demas bancas, estilos incluidos en static Resources.
2.0       12-01-2021     Hector Saldania          Primeras adaptaciones para Minutas
2.1		  08-03-2021	 Edmundo Zacarias		 Adaptacion para BPYP
*/

.minuta {
    color: #014383;
}

body {
    Margin: 0;
    box-sizing: border-box;
    color: #121212;
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    min-width: 100%;
    margin:0;
    padding: 0;
    text-align: left;
    width: 100%!important;
}

#prehead {
    color:#efeeed;
    display:none!important;
    font-size:1px;
    line-height:1px;
    max-height:0;
    max-width:0;
    opacity:0;
    overflow:hidden;
    visibility:hidden;
}

#bod {
    Margin:0;
    background:#efeeed;
    border-collapse:collapse;
    border-spacing:0;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    height:100%;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    width:100%;
}

.rows {
    padding:0;
    text-align:left;
    vertical-align:top;
}

.datacell {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    hyphens:auto;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#centerElem {
    min-width:600px;
    width:100%;
    text-align: center;
    margin: 0px auto;
}

.tabla {
    Margin:0 auto;
    border-collapse:collapse;
    border-spacing:0;
    float:none;
    margin:0 auto;
    padding:0;
    text-align:center;
    vertical-align:top;
    width:100%;
}

#tabla1 {
    Margin:0 auto;
    background:#004481;
    border-collapse:collapse;
    border-spacing:0;
    margin:0 auto;
    padding:0;
    text-align:inherit;
    vertical-align:top;
    width:700px;
}

#tabla2 {
    background:#efeeed;
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    padding:0;
    position:relative;
    text-align:left;
    vertical-align:top;
    width:100%;
}

#header1 {
    Margin:0 auto;
    background:#efeeed;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0 auto;
    padding:0;
    padding-bottom:18px;
    padding-left:18px;
    padding-right:18px;
    text-align:left;
    width:582px;
}

.tablas1 {
    border-collapse:collapse;
    border-spacing:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    width:100%;
}

.header2 {
    Margin:0;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:justify;
    white-space: normal;
}

.datacell1 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:25px;
    font-weight:400;
    hyphens:auto;
    line-height:25px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

.header3 {
    Margin:0;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0;
    padding:0!important;
    text-align:left;
    visibility:hidden;
    width:0;
}

#tablelogo {
    background:#072146;
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    padding:0;
    position:relative;
    text-align:left;
    vertical-align:top;
    width:100%;
}

#header4 {
    Margin:0 auto;
    background: #ffffff;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0 auto;
    padding:0;
    padding-bottom:0px;
    padding-left:18px;
    padding-right:18px;
    text-align:left;
    width:582px;
}

#centerel2 {
    min-width:546px;
    width:100%;
    text-align: center;
    margin: 0px auto;
}

.datacell2 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:24px;
    font-weight:400;
    hyphens:auto;
    line-height:24px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#linkst {
    Margin:0;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-weight:400;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:left;
    text-decoration:none;
}

#imge {
    border:none;
    clear:both;
    display:inline-block;
    max-width:226px;
    outline:0;
    text-decoration:none;
}

.contstyle {
    Margin:0 auto;
    background:#fff;
    border-collapse:collapse;
    border-spacing:0;
    margin:0 auto;
    padding:0;
    text-align:inherit;
    vertical-align:top;
    width:600px;
}

.tablas2 {
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    padding:0;
    position:relative;
    text-align:left;
    vertical-align:top;
    width:100%;
}

#header5 {
    Margin:0 auto;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0 auto;
    padding:0;
    padding-bottom:0px;
    padding-left:18px;
    padding-right:18px;
    text-align:left;
    width:582px;
}

.datacell3 {
    Margin:0;border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:30px;
    font-weight:400;
    hyphens:auto;
    line-height:30px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#div1 {
    font-size: 1.875em;
    display: table;
}

#parrafo1 {
    font-size: 1.555em;
    color: #595a5a;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

#parrafo2 {
    text-align: justify;
    padding: 0px 0px 0px 0px;
    max-width: 664px;
    min-width: 664px;
    white-space: normal;
}

#tabla3 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#thead1 {
    border-bottom: 1px solid #867f7f;
}

#ro1 {
    border-bottom: 0.8px solid #c5c2c2;
}

#datacell4 {
    word-wrap:break-word;
    width:33.33%;
    text-align: justify;
    padding: 8px;
    white-space:normal;
}

.ro2 {
    word-wrap:break-word;
    width:33.33%;
    text-align: justify;
    padding: 8px;
}

#parrafo3 {
    Margin:0;
    Margin-bottom:30px;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:300;
    line-height:19px;
    margin:0;
    margin-bottom:0px;
    padding:0;
    text-align:left;
    hyphens: none;
}

#datacell5 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:30px;
    font-weight:400;
    hyphens:auto;
    line-height:20px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#parrafo4 {
    Margin:0;
    Margin-bottom:0px;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:300;
    line-height:19px;
    margin:0;
    margin-bottom:0px;
    padding:0;
    text-align:left;
    hyphens: none;
}

#tabla4 {
    border-collapse:collapse;
    border-spacing:0;
    text-align:left;
    vertical-align:top;
    width:100%;
}

.datacell6 {
    width:50%;
    padding:15px;
}

.parrafo5 {
    word-break: break-all;
    color: #014383;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
}

.parrafo6 {
    word-break: break-all;
    color: #00a1bd;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
}

.parrafo7 {
    word-break: break-all;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 12px;
}

.parrafo8 {
    word-break: break-all;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

#tabla5 {
    background:#004481;
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    padding:0;
    position:relative;
    text-align:left;
    vertical-align:top;
    width:100%;
    margin: 0;
}

#tabHead {
    Margin:0 auto;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0 auto;
    padding:0;
    padding-bottom:0!important;
    padding-left:50px;
    padding-right:50px;
    text-align:left;
    width:195px;
}

.datacell7 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    hyphens:auto;
    line-height:14px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
    height: 19px
}

#tabla6 {
    background:#237aba;
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    padding:0;
    position:relative;
    text-align:left;
    vertical-align:top;
    width:100%;
}

#datacell8 {
    Margin:0 auto;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0 auto;
    padding:0;
    padding-bottom:40px;
    padding-left:18px;
    padding-right:18px;
    padding-top:40px;
    text-align:left;
    width:582px;
}

#parrafo9 {
    Margin:0;
    Margin-bottom:0!important;
    color:#fff;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0;
    margin-bottom:0!important;
    padding:0;
    text-align:center;
}

#datacell9 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:10px;
    font-weight:400;
    hyphens:auto;
    line-height:10px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#parrafo10 {
    Margin:0;
    Margin-bottom:0!important;
    color:#fff;
    font-family:Lato,Arial,sans-serif;
    font-size:1px;
    font-weight:400;
    line-height:1.3;
    margin:0;
    margin-bottom:0!important;
    padding:0;
    text-align:center;
}

#linkst1 {
    Margin:0;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-weight:400;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:left;
    text-decoration:none;
    padding-right: 6px;
}

.imag1 {
    Margin:0 2px;
    border:none;
    clear:both;
    display:inline-block;
    margin:0 2px;
    max-width:26px;
    outline:0;
    text-decoration:none;
}

#linkst2 {
    Margin:0;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-weight:400;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:left;
    text-decoration:none;
    padding-left: 6px;
}

#tabla7 {
    background:#F4F4F4;
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    padding:0;
    position:relative;
    text-align:left;
    vertical-align:top;
    width:100%;
}

#tabHead1 {
    Margin:0 auto;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0 auto;
    padding:0;
    padding-bottom:0px;
    padding-left:18px;
    padding-right:18px;
    text-align:justify;
    width:582px;
}

#tabHead2 {
    Margin:0;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:justify;
}

#datacell10 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:28px;
    font-weight:400;
    hyphens:auto;
    line-height:45px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#parrafo11 {
    Margin:0;
    Margin-bottom:0;
    Margin-left:32px;
    Margin-right:32px;
    color:#666;
    font-family:Lato,Arial,sans-serif;
    font-size:11px;
    font-weight:600;
    line-height:13px;
    margin:0;
    margin-bottom:0;
    margin-left:32px;
    margin-right:32px;
    padding:0;
    text-align:center;
    hyphens: none;
}

.linkst3 {
    Margin:0;
    color:#666!important;
    font-family:Lato,Arial,sans-serif;
    font-weight:400;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:center;
    text-decoration:none;
    hyphens: none;
}

.spanst {
    color:inherit!important;
    text-decoration:none!important;
}

#datacell11 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:28px;
    font-weight:400;
    hyphens:auto;
    line-height:40px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#tabla8 {
    border-collapse:collapse;
    border-spacing:0;
    padding:0;
    text-align:center;
    vertical-align:top;
    width:100%;
}

#ro3 {
    padding:0;
    text-align:center;
    vertical-align:top;
}

#datacell12{
    Margin:0;
    border-collapse:collapse!important;
    color:#F4F4F4;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    hyphens:auto;
    line-height:1.3;
    margin:0;
    padding:0;
    text-align:center;
    vertical-align:top;
    word-wrap:break-word;
}

#parrafo12 {
    Margin:0;
    Margin-bottom:0;
    color:#F4F4F4;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:700;
    line-height:1.3;
    margin:0;
    margin-bottom:0;
    padding:0;
    text-align:center;
}

#imag2 {
    clear:both;
    display:inline-block;
    max-width:250px;
    outline:0;
    text-decoration:none;
}

#datacell13 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:45px;
    font-weight:400;
    hyphens:auto;
    line-height:40px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#parrafo13 {
    Margin:0;
    Margin-bottom:0;
    Margin-left:32px;
    Margin-right:32px;
    color:#666;
    font-family:Lato,Arial,sans-serif;
    font-size:11px;
    font-weight:300;
    line-height:13px;
    margin:0;
    margin-bottom:0;
    margin-left:32px;
    margin-right:32px;
    padding:0;
    text-align:center;
    hyphens: none;
}

#datacell14 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:20px;
    font-weight:400;
    hyphens:auto;
    line-height:45px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#tabHead3 {
    Margin:0 auto;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    margin:0 auto;
    padding:0;
    padding-bottom:18px;
    padding-left:18px;
    padding-right:18px;
    text-align:left;
    width:582px;
}

#datacell15 {
    Margin:0;
    border-collapse:collapse!important;
    color:#121212;
    font-family:Lato,Arial,sans-serif;
    font-size:45px;
    font-weight:400;
    hyphens:auto;
    line-height:45px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
}

#parrafo14 {
    Margin:0;
    Margin-bottom:0;
    Margin-left:32px;
    Margin-right:32px;
    color:#666;
    font-family:Lato,Arial,sans-serif;
    font-size:9px;
    font-weight:300;
    line-height:1.3;
    margin:0;
    margin-bottom:0;
    margin-left:32px;
    margin-right:32px;
    padding:0;
    text-align:justify;
}

#div2 {
    display:none;
    white-space:nowrap;
    font:15px courier;
    line-height:0;
}

.sfdc_richtext {
    font-family: Lato, Arial, sans-serif;
    color: #121212;
    font-size:14px;
}

.outputTextClass {
    white-space:pre;
}