.view-link {display:none !important;}
.dsplynlnflex {display: inline-flex;}
        body{background-color: white;}
        .div-map{width:100%; height:400px;}
		.div-map2{width:100%; height:400px;}
        .h3-stl{text-align: center;font-family:verdana;color:#1464A5;}
        .display-block{display:block;text-align: left;font-family:verdana;color:#1464A5;}
        .display-none{display:none;}
		.display-blockTextB{display:block;border: 1px solid rgb(221, 219, 218);
   							border-radius: .25rem;
    						background-color: rgb(255, 255, 255);
    						color: rgb(8, 7, 7);
    						-webkit-transition: border .1s linear,background-color .1s linear;
    						transition: border .1s linear,background-color .1s linear;
    						display: inline-block;
    						padding: 0 1rem 0 .75rem;
    						min-height: calc(1.875rem + (1px * 2));
    						line-height: 1.875rem;
    						width:92% !important;}
        .out-text{text-align: left;font-family:verdana;color:#1464A5;}
.dsplynlineflex {display: inline-flex;}
		.display-blockuButton{display:block;-webkit-appearance: none;
				    	        position: relative;
						    	display: inline-block;
	    						border: 1px solid transparent;
	    						padding: 0;
	    						font-size: .75rem;
	    						line-height: 1.875rem;
	    						text-decoration: none;
							    white-space: normal;
		    					border-radius: .25rem;
			    				background: transparent;
	    						background-clip: border-box;
			    				color: rgba(27, 82, 151, 1);
		    					-webkit-user-select: none;
			    				-moz-user-select: none;
		    					-ms-user-select: none;
    							user-select: none;
	    						-webkit-transition: color .05s linear,background-color .05s linear;
			    				transition: color .05s linear,background-color .05s linear;
					    		padding-left: 1rem;
	    						padding-right: 1rem;
	    						text-align: center;
						    	vertical-align: middle;
					    		border: 1px solid rgb(221, 219, 218);
						    	-webkit-transition: border 0.15s linear;
					    		transition: border 0.15s linear;
		    					border-color: rgb(221, 219, 218);
			    				background-color: rgb(255, 255, 255);}
        in-text{width:100%!important;}
		.div-DirM{width:100%!important;border: 1px solid rgb(221, 219, 218);max-width: 100%;border-radius: .0rem;background-color: rgb(255, 255, 255);color: rgb(8, 7, 7);-webkit-transition: border .0001s linear,background-color .1s linear;transition: border .1s linear,background-color .1s linear;margin:0;padding: 0 1rem 0 .75rem;min-height: calc(1.875rem + (1px * 2));line-height: 1.875rem;}
		.div-DirView{display: inline-block; margin-right: .75rem; font-size: .75rem; line-height: 1.5; color: rgb(62, 62, 60);-webkit-box-sizing: border-box; box-sizing: border-box;cursor: default;font-family: 'Salesforce Sans',Arial,sans-serif; font-size: 100%; line-height: 1.5; background: rgba(176, 196, 223, 1); color: rgb(22, 50, 92); -webkit-tap-highlight-color: transparent; text-shadow: none; background: rgb(216, 237, 255); color: rgb(8, 7, 7);}
		.uibutton {
    	-webkit-appearance: none;
	    position: relative;
	    display: inline-block;
	    border: 1px solid transparent;
	    padding: 0;
	    font-size: .75rem;
	    line-height: 1.875rem;
	    text-decoration: none;
	    white-space: normal;
	    border-radius: .25rem;
	    background: transparent;
	    background-clip: border-box;
	    color: rgba(27, 82, 151, 1);
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
    	user-select: none;
	    -webkit-transition: color .05s linear,background-color .05s linear;
	    transition: color .05s linear,background-color .05s linear;
	    padding-left: 1rem;
	    padding-right: 1rem;
	    text-align: center;
	    vertical-align: middle;
    	border: 1px solid rgb(221, 219, 218);
	    -webkit-transition: border 0.15s linear;
    	transition: border 0.15s linear;
    	border-color: rgb(221, 219, 218);
	    background-color: rgb(255, 255, 255);
}
.uibutton::selection{
    text-shadow: none;
    background: rgb(216, 237, 255);
    color: rgb(8, 7, 7);
}
.uibutton:hover{
    background-color: rgb(244, 246, 249);
}
.textBox{
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    min-height: calc(1.875rem + (1px * 2));
    line-height: 1.875rem;
    width:98% !important;
}
.textBox:active{
    outline: 0;
    border-color: rgba(0, 68, 135, 1);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 3px #0070d2;
    box-shadow: 0 0 3px #0070d2;
}
.textBox:focus{
    outline: 0;
    border-color: rgba(0, 68, 135, 1);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 3px #0070d2;
    box-shadow: 0 0 3px #0070d2;
}
.textBox:Hover{
        background-color: rgb(244, 246, 249);
}