<!--
  @File Name          : mx_sb_vts_carrusel.html
  @Description        : Carrusel
  @Author             : Arsenio.perez.lopez.contractor@BBVA.com
  @Group              : BBVA
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 18/2/2020 15:55:12
  @Modification Log   : Last Version
  Ver       Date            Author      		    Modification
  1.0    6/2/2020   Arsenio.perez.lopez.contractor@BBVA.com     Initial Version
  1.1    4/6/2020   jesusalexandro.corzo.contractor@bbva.com    Ajuste al conponente conforme a como se presenta la información en pantalla
  1.2    1/7/2020   jesusalexandro.corzo.contractor@bbva.com    Se realizan ajustes al componente
-->
<template>
    <div class="slds-box slds-theme_shade">
        <lightning-carousel disable-auto-scroll >
            <template for:each={consultallamada} for:item="contact" class="slds-grid slds-wrap slds-gutters"  style="border: solid 5px #FF0000">
                <div key={contact.Id} class="slds-col slds-text-body_small slds-size--2-of-2 slds-small-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2" style="background: #FFFFFF;" >
                    <span class="slds-form-element__label slds-text-heading_large" style="margin-left: 10px;">{contact.MX_SB_VTS_HEADER__c}</span>
                    <hr>
                    <lightning-carousel-image class="slds-col slds-size--1-of-2 slds-small-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2"
                        key={contact.Id}
                        src={contact.MX_SB_VTS_SRC__c}
                        description={contact.MX_SB_VTS_DescLong__c}
                        header={contact.MX_SB_VTS_HEADER__c}>
                    </lightning-carousel-image>
                </div>
                <div key={contact.Id} class="slds-col slds-text-body_small slds-large-size--1-of-2" style="background: #FFFFFF;" >
                    <div style="border: solid 0px #FF0000; height: 41px;"></div>
                    <hr>
                    <lightning-record-view-form
                        record-id={contact.Id}
                        object-api-name="Scripts_Stage_Product__c">
                        <div class="slds-box slds-theme_default">
                                <lightning-output-field field-name="MX_WB_Script__c"></lightning-output-field>
                        </div>
                    </lightning-record-view-form>
                </div>
            </template>
        </lightning-carousel>
    </div> 
</template>