/*
 * @File Name          : mx_sb_vts_carrusel.html
 * @Description        : 
 * @Author             : Arsenio.perez.lopez.contractor@BBVA.com
 * @Group              : 
 * @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
 * @Last Modified On   : 6/3/2020 11:42:50
 * @Modification Log   : 
 * Ver       Date            Author      		    Modification
 * 1.0    6/2/2020   Arsenio.perez.lopez.contractor@BBVA.com     Initial Version
 * 1.0    4/6/2020   jesusalexandro.corzo.contractor@bbva.com    Ajustes a la hoja de estilo
 */
.custom-width {
    max-width: 800px;
    width: auto;
    display: block;
    height: auto;
}
.custom-margin {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 70%;
}
.custom-marg{
    margin-left: 2%;
    margin-right: 2%;
    max-width: 70%;
}
.vl {
    border-left: 6px solid rgb(52, 54, 52);
    height: auto;
}