<!--
  @File Name          : mX_SB_SAC_IdentificarCliente.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 07-16-2020
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    1/7/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card if:true='{showNormal}'>
        <lightning-card>
            <lightning-icon icon-name='standard:client' class='slds-m-left_medium'></lightning-icon>
            <span class='slds-card__header-link baseCard__header-title-container slds-m-left_small'>Identificar Cliente</span>
        </lightning-card>
        <lightning-card if:false='{startValidation}'>
            <section class='slds-m-left_medium'>
                <p id='clientName'>Nombre del Cliente: <strong>{ clientName }</strong></p>
                <br />
                <p>Con gusto lo ayudare a { reason } deme un momento por favor</p>
            </section>
            <section class='slds-m-top_small'>
                <p class='slds-m-left_medium'>¿Es <strong>Contratante</strong> o <strong>Asegurado</strong>?</p>
                <lightning-radio-group name='radioGroup' class='slds-m-around_medium' options={options} value={value} type='radio' onchange='{handleIsClientValidation}'></lightning-radio-group>
            </section>
        </lightning-card>
        <lightning-card if:true='{showSearch}'>
            <c-mx_sb_sac_search-data client-name={clientName} is-quoting={isQuoting} case-id={recordId} case-data={record} user-type={userType}></c-mx_sb_sac_search-data>
            <lightning-button label='Regresar' variant='neutral' class='slds-is-relative custom-margin' onclick='{handleReturnValidation}'></lightning-button>
        </lightning-card>
        <lightning-card if:true='{showComments}'>
            <c-mx_sb_sac_case-comments case-id={recordId} client-name={clientName} record={record} user-name={userName} custom-text={customText} rows=5></c-mx_sb_sac_case-comments>
            <lightning-button label='Regresar' variant='neutral' class='slds-is-relative custom-margin' onclick='{handleReturnValidation}'></lightning-button>
        </lightning-card>
    </lightning-card>
    <lightning-card if:true='{isQuoting}'>
        <c-mx_sb_sac_search-data is-quoting={isQuoting} case-id={recordId} case-data={record} client-name={clientName} user-type={userType}></c-mx_sb_sac_search-data>
    </lightning-card>
    <lightning-card if:true='{is1500}'>
        <lightning-card>
            <lightning-icon icon-name='standard:client' class='slds-m-left_medium'></lightning-icon>
            <span class='slds-card__header-link baseCard__header-title-container slds-m-left_small'>Identificar Cliente</span>
        </lightning-card>
        <c-mx_sb_sac_search-data client-name={clientName} case-id={recordId} case-data={record} user-type={userType} comments=false></c-mx_sb_sac_search-data>
        <lightning-button label='Regresar' variant='neutral' class='slds-is-relative custom-margin' onclick='{handleReturnValidation}'></lightning-button>
    </lightning-card>
</template>