<template>
    <template if:true={isHSD}>
        <c-mx_sb_vts_cotizador-hogar record-id={recordId}></c-mx_sb_vts_cotizador-hogar>
    </template>
    <template if:true={isVSD}>
        <c-mx_sb_vts_cotizador-v-s-d record-id={recordId}></c-mx_sb_vts_cotizador-v-s-d>
    </template>
</template>