<template>
    <lightning-card title="Formulario" icon-name="standard:form">
        <template for:each={opcionalesTextArray} for:item="item" for:index="index">
            <lightning-textarea key={item.name} name={item.name} data-id={item.name} type="text" required={item.cmpRequired} label={item.label} value="" class="slds-m-around_small"></lightning-textarea>
        </template>

        <template for:each={picklistsArray} for:item="item" for:index="index">
            <lightning-combobox key={item.name} name={item.name} label={item.label} value="" data-id={item.name}
                                placeholder="Selecciona..." required={item.cmpRequired} options={item.options} class="slds-m-around_small"></lightning-combobox>
        </template>

        <template for:each={switchesArray} for:item="item" for:index="index">
            <lightning-input type="checkbox" name={item.name} data-id={item.name} required={item.cmpRequired} key={item.name} label={item.label} class="slds-m-around_small">
            </lightning-input>
        </template>

        <div class="slds-align_absolute-center">
            <template if:true={showCargaOpcionales}>
                <lightning-button variant="brand-outline" label="Cargar Datos Opcionales" title="Presiona para cargar información" onclick={handleTextChange} class="slds-m-left_x-small"></lightning-button>
            </template>
            <template if:true={showEnviarMinuta}>
                <a href={sendBtnUrl} role="button" class="slds-button slds-button_brand slds-m-left_x-small">Enviar Minuta</a>
            </template>
        </div>

    </lightning-card>

    <lightning-card title="Previsualización" icon-name="standard:email" class="slds-m-top_medium">
        <div style="height: 720px;">
            <iframe src={previewUrl} scrolling="true" id="theIframe" width="100%" height="100%" style="border:none;box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);"></iframe>
        </div>
    </lightning-card>

    <template if:true={sShowFichaProducto}>
        <lightning-card title="Adjuntos" icon-name="standard:file">

            <c-mx_-b-p-p-_-ficha-producto record-id={sIdCatalogo} onattach={handleAttachFiles}></c-mx_-b-p-p-_-ficha-producto>

        </lightning-card>
    </template>
</template>