.titleHeader {
    text-align: center !important;
    font-size: 20px !important;
    color: #005fb2;
    font-weight: bold !important;
}
.button-space{
    margin-left:23px;
}
h1{
    color: #005fb2;
    font-size: 15px;
    text-align: center;
}
.slds-box {
    background-color: #D7D7D7;
}
.slds-input-has-icon .slds-input__icon{
    top: 61%;
}
.cpAlignment{
    margin-left: 88px;
}
.patterC{
    width: 100%;
}
.patterC1{
    width: 50%;
}
.label-space{
    margin-left:52px;
}
.myCheckbox{
    margin-left: 30px;
}