<!--
  @File Name          : mx_sb_vts_direccion_pertenencia.html
  @Description        : Lwc que corresponde a última opción del cotizador, guardado de datos
  @Author             : Diego Olvera
  @Group              : BBVA
  @Last Modified By   : Diego Olvera
  @Last Modified On   : 02-23-2021
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0       14/4/2020       Diego Olvera            Initial Version
  1.1       20/07/2020      Alexandro Corzo         Se agrega funcionalidad mock para el campo de CP
  1.2       02/09/2020      Alexandro Corzo         Se agrega funcionalidad envio de poliza fisica a cliente
-->
<template>
    <lightning-card>
        <template if:true={isLoading}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
        </template>
        <div class="slds-m-around_medium">
            <div class="slds-align_absolute-center">
                <h3 class="titleHeader">Dirección de la Propiedad (5/5)</h3>
            </div></br></br>
            <div class="slds-m-around_medium">
                <div class="slds-grid slds-gutters slds-align_absolute-center slds-size_10-of-12">
                    <div class="slds-col slds-size_1-of-2 label-space">
                        <lightning-input disabled type="text" label="Código Postal" id="cod-postalC" class="patterC"
                            pattern="\d*" maxlength="5" min-length="3" value={item} placeholder="Ejemplo: 53698">
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-5">
                        <div class="slds-form-element__control">
                            <lightning-input label="Estado" type="text" disabled id="nombre-estado"
                                placeholder="Ingrese un Estado" value={itemEstado} name='str_estado_val'>
                            </lightning-input>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-5">
                        <div class="slds-form-element__control">
                            <lightning-input label="Ciudad" type="text" disabled id="nombre-ciudad"
                                placeholder="Ingrese una Ciudad" value={itemCiudad} name='str_ciudad_val'>
                            </lightning-input>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-5">
                        <div class="slds-form-element__control">
                            <lightning-input label="Alcaldía" type="text" disabled id="nombre-alcaldía"
                                placeholder="Ingrese una Alcaldía" value={itemAlcaldia} name='str_alcaldia_val'>
                            </lightning-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-gutters slds-align_absolute-center slds-size_10-of-12">
                <div class="slds-col slds-size_1-of-2">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                        <lightning-combobox label="Colonias" value={colValDP} placeholder="Seleccione una Colonia"
                            options={sfDatosColoniasParams} onchange={obtDataColonia} required name='str_colonia_val'
                            data-dp="fieldsdp">
                        </lightning-combobox>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <div class="slds-form-element__control  slds-input-has-icon slds-input-has-icon_right">
                        <lightning-input required message-when-value-missing="Por favor complete este campo"
                            label="Calle" type="text" onchange={getFormVal} value={strVal} name="str_Val"
                            id="nombrecalle" placeholder="" data-dp="fieldsdp">
                        </lightning-input>
                        <lightning-icon class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default"
                            icon-name="utility:edit" size="x-small">
                        </lightning-icon>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                        <lightning-input type="text" onchange={getFormVal} value={extVal} name="ext_Val" required
                            message-when-value-missing="Por favor complete este campo" label="Número Exterior"
                            id="nroexterior" maxlength="20" minlength="1" placeholder="" data-dp="fieldsdp">
                        </lightning-input>
                        <lightning-icon class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default"
                            icon-name="utility:edit" size="x-small">
                        </lightning-icon>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                        <lightning-input label="Número Interior" onchange={getFormVal} value={intVal} name="int_Val"
                            type="text" id="nrointerior" placeholder="" maxlength="20" min-length="1">
                        </lightning-input>
                        <lightning-icon class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default"
                            icon-name="utility:edit" size="x-small">
                        </lightning-icon>
                    </div>
                </div>
            </div>
            <br><br>
            <h1 class="slds-align_absolute-center label-textOne">¿La dirección del contratante es diferente a la de la
                propiedad?</h1>
            <label class="myCheckbox slds-align_absolute-center">
                <input name="checkboxVal" type="checkbox" checked={checkboxVal} onclick={handleClick} />Sí
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input name="checkboxVal2" type="checkbox" checked={checkboxVal2} onclick={handleClickTwo} />No
                <span></span>
            </label>
            <div if:true={checkboxVal} style="height: auto;">
                <div class="slds-box slds-p-top_xx-small slds-m-top_xx-small">
                    <h1 class="alignment titleHeader">Dirección del Contratante</h1>
                    <div class="slds-m-around_medium">
                        <div class="slds-grid slds-gutters slds-align_absolute-center slds-size_10-of-12">
                            <div class="slds-col slds-size_1-of-2 label-space">
                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                    <lightning-input name="cp_Val1" type="text" required label="Código Postal"
                                        value={cpVal1} class="patterC"
                                        message-when-too-short="Por favor, completa el código postal"
                                        message-when-value-missing="Por favor complete este campo"
                                        message-when-pattern-mismatch="Ingrese únicamente números, eje:12345"
                                        pattern="\d*" maxlength="5" min-length="5"
                                        placeholder="Ingrese un Código Postal. Ejemplo: 53698" onchange={postalCode}
                                        onblur={handleValDirContra} data-dc="fieldsdc">
                                    </lightning-input>
                                    <lightning-icon
                                        class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default"
                                        icon-name="utility:edit" size="x-small">
                                    </lightning-icon>
                                </div>
                            </div>
                            <div class="slds-col  slds-size_1-of-5">
                                <div class="slds-form-element__control">
                                    <lightning-input label="Estado" type="text" disabled id="nombre-estado1"
                                        placeholder="Ingrese un Estado" value={cpEstadoVal1} name='str_estado_val1'>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col  slds-size_1-of-5">
                                <div class="slds-form-element__control">
                                    <lightning-input label="Cuidad" type="text" disabled id="nombre-ciudad1"
                                        placeholder="Ingrese una Ciudad" value={cpCiudadVal1} name='str_ciudad_val1'>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col  slds-size_1-of-5">
                                <div class="slds-form-element__control">
                                    <lightning-input label="Alcaldía" type="text" disabled id="nombre-alcaldía1"
                                        placeholder="Ingrese una Alcaldía" value={cpAlcaldiaVal1}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap slds-gutters slds-align_absolute-center slds-size_10-of-12">
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                <lightning-combobox label="Colonias" value={colValDpAse}
                                    placeholder="Seleccione una Colonia" options={sfDatosColonias}
                                    onchange={obtDataColoniaDC} required onblur={handleValDirContra} data-dc="fieldsdc">
                                </lightning-combobox>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control  slds-input-has-icon slds-input-has-icon_right">
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    label="Calle" type="text" onchange={getFormVal} value={strVal1} name="str_Val1"
                                    id="nombrecalle1" placeholder="" onblur={handleValDirContra} data-dc="fieldsdc">
                                </lightning-input>
                                <lightning-icon
                                    class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default"
                                    icon-name="utility:edit" size="x-small">
                                </lightning-icon>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                <lightning-input type="text" onchange={getFormVal} value={extVal1} name="ext_Val1"
                                    required message-when-value-missing="Por favor complete este campo"
                                    label="Número Exterior" id="nroexterior1" maxlength="20" minlength="1"
                                    placeholder="" onblur={handleValDirContra} data-dc="fieldsdc">
                                </lightning-input>
                                <lightning-icon
                                    class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default"
                                    icon-name="utility:edit" size="x-small">
                                </lightning-icon>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                <lightning-input label="Número Interior" onchange={getFormVal} value={intVal1}
                                    name="int_Val1" type="text" id="nrointerior1" placeholder="" maxlength="20"
                                    min-length="1">
                                </lightning-input>
                                <lightning-icon
                                    class="slds-icon slds-input__icon slds-input__icon_rigth slds-icon-text-default"
                                    icon-name="utility:edit" size="x-small">
                                </lightning-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <h1 class="slds-align_absolute-center label-textOne">
                <p style="color: #FF0000;">*</p> ¿Enviar fisicamente póliza y kit de bienvenida del cliente?
            </h1>
            <label class="myCheckbox slds-align_absolute-center">
                <input name="chkenvpolcltesi" type="checkbox" checked={chkenvpolcltesi} onclick={handleOptEnvSi} />Sí
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input name="chkenvpolclteno" type="checkbox" checked={chkenvpolclteno} onclick={handleOptEnvNo} />No
                <span></span>
            </label>
            <div if:true={chkenvpolcltesi}>
                <lightning-combobox name="cmbaddresspoliz" label="Domicilio(s):" value=""
                    placeholder="Seleccione la dirección de envio..." options={oDataOptions} onchange={obtDataSelSend}
                    disabled={dsbAddressSend} required> </lightning-combobox>
            </div>
        </div>
        <div>
        </div></br>
        <div slot="footer" class="noFoot">
            <lightning-button class="slds-m-top_small" label="Regresar" onclick={handledBackAction}>
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" type="submit" label="Guardar"
                onclick={onSave}>
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" variant="brand" type="submit" label="Continuar"
                onclick={fireEve}>
            </lightning-button>
        </div>
    </lightning-card>
</template>