.THIS.slds-card__header{
    background: #d8dde6;
    margin: 10px 0 20px 0;
}
.c-container {
    border: 1px solid #d8dde6;
    background-color: #FFFFFFFF;
    margin: 10px 0 20px 0;
}
.header-column {
    padding: 0 0.5rem;
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.spinner-holder{
    position: fixed;
    display: contents;
    width: 80px;
    height: 80px;
}