<template>
    <template if:true={isSpinner}>
        <div class="spinner-holder">
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </div>
    </template>
    <lightning-card title="Campaña" icon-name="standard:lead" class="c-contaier">
        <template if:true={buttonMenu.data}>
            <lightning-button label="Generar Oportunidad" slot="actions" onclick={convertToLead}></lightning-button>
        </template>
        <div class="c-container">
            <lightning-layout>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="CampañaLead">Campaña</p>
                        <p>{name}</p>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="Familia">Familia</p>
                        <p>{familia}</p>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="Producto">Producto</p>
                        <p>{producto}</p>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="Email">Correo de electrónico</p>
                        <p><lightning-formatted-email value={email}></lightning-formatted-email></p>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="Telefono">Teléfono</p>
                        <p><lightning-formatted-phone value={telefono}></lightning-formatted-phone></p>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="Cuenta">Cuenta</p>
                        <p><lightning-formatted-url value={accountcampid} tooltip={accountcampname} label={accountcampname} target="_blank" ></lightning-formatted-url></p>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="Monto">Monto</p>
                        <p><lightning-formatted-number value={amount} format-style="currency" currency-code="MXN" currency-display-as="code"></lightning-formatted-number></p>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <div class="header-column">
                        <p class="field-title" title="Fecha">Fecha Fin</p>
                        <p><lightning-formatted-date-time value={fechaFin}></lightning-formatted-date-time></p>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </lightning-card>
</template>