.titleHeader {
    text-align: center !important;
    font-size: 20px !important;
    color: #005fb2;
    font-weight: bold !important;
}
.button-space{
    margin-left:23px;
}
.slds-input-has-icon .slds-input__icon{
    top: 61%;
}
.tooltipSize {
    width: 220px;
}
.slds-slide-from-top-to-bottom {
  transform: translateY(-100%);
  will-change: transform;
  padding: 0px;
  margin-bottom: calc(-7 * var(--lwc-spacingSmall, 0.75rem));
}
.tooltipCustomLeft {
  margin-left: 81px;
  margin-top: -31px;
}
.tooltipCustomLeftRfc {
  margin-left: 17px;
  margin-top: 2px;
}
.tooltipCustomRight {
  margin-left: 58px;
  margin-top: -35px;
}
.tooltipCustomRightCurp {
  margin-left: 26px;
  margin-top: 5px;
}
input {
  width: 350px;
}
.datalist-arrow {
  position:relative;
}
.datalist-arrow:after {
  content:'\25bc';
  position:absolute;
  right:5px;
  top:50%;
  transform: translateY(-50%);
  display:block;
  width:35px;
  height:35px;
  line-height:40px;
  font-size: 1.5em;
  color:#333;
  text-align:center;
  background:#fff;
  border:3px solid #ccc;
  border-radius:50%;
  pointer-events:none;
}