<!--
  @File Name          : mx_sb_vts_datosAsegurado.html
  @Description        : Modulo para datos contratante producto: vida seguro
  @Author             : Diego Olvera
  @Group              :
  @Last Modified By   : Diego Olvera
  @Last Modified On   : 11-19-2020
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    4/5/2020   Diego Olvera     Initial Version
-->
<template>
    <lightning-card>
        <div class="c-container">
            <div class="slds-align_absolute-center">
                <h3 class="titleHeader">Datos del Contratante</h3>
            </div>
            <div class="slds-form slds-grid slds-wrap slds-grid_align-center">
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input required message-when-value-missing="Por favor complete este campo"
                                label="Nombre del Cliente" type="text" id="nombre-cliente" placeholder=""
                                value={valNomCli} onchange={changeValues} name="nombreCliente"></lightning-input>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input required message-when-value-missing="Por favor complete este campo"
                                label="Apellido Paterno" type="text" id="apellido-paterno" placeholder=""
                                onchange={changeValues} value={valApePa} name="apellidoPa">
                            </lightning-input>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input required message-when-value-missing="Por favor complete este campo"
                                label="Apellido Materno" type="text" id="apellido-materno" placeholder=""
                                onchange={changeValues} value={valApeMa} name="apellidoMa">
                            </lightning-input>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                            <label class="slds-form-element__label" for="Sexo"> <abbr class="slds-required"
                                    title="required">*</abbr>Sexo</label>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <label class="slds-form-element__label" for="single-form-element-id-02">H</label>
                                    <div class="slds-form-element__control">
                                        <lightning-input variant="label-hidden" type="checkbox" value={masculino}
                                            checked={valMas} onchange={getValMas} data-id="checkbox" label="H">
                                        </lightning-input>
                                    </div>
                                    <label class="slds-form-element__label" for="single-form-element-id-03">M</label>
                                    <div class="slds-form-element__control">
                                        <lightning-input variant="label-hidden" type="checkbox" value={femenino}
                                            checked={valFem} onchange={getValFem} data-id="checkbox" label="M">
                                        </lightning-input>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element  slds-form-element_stacked slds-is-editing">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    type="date" date-style="short" id="fecha-nac" label="Fecha de Nacimiento"
                                    value={valFechaNa} onchange={getValFechaNa}></lightning-input>
                            </div>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <lightning-input message-when-value-missing="Por favor complete este campo"
                                message-when-type-mismatch="El correo no es válido" label="Correo Electrónico"
                                type="email" id="correoElec" placeholder="" value={valCorreo}></lightning-input>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control  slds-form-element_stacked slds-is-editing">
                            <label class="slds-form-element__label">RFC
                                <lightning-button-icon onclick={onClickRFC} onmouseout={onHideRFC}
                                    icon-name="utility:info" variant="container">
                                </lightning-button-icon>
                            </label>
                            <div id="divRfc"
                                class="divRfc slds-float_left tooltipCustomLeftRfc slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                                role="tooltip" aria-live="polite">
                                <div class="slds-popover__body  tooltipSize ms-help-popup-body">
                                    <p>
                                        <lightning-formatted-text
                                            value="Para consultar tu RFC con Homoclave visita:  www.mi-rfc.com.mx">
                                        </lightning-formatted-text>
                                    </p>
                                </div>
                            </div>
                            <lightning-input type="text" class="slds-popover_body" name="RFC" label="RFC"
                                variant="label-hidden" required
                                message-when-value-missing="Por favor complete este campo"
                                message-when-too-short="RFC muy corto" max-length=13 min-length=13 id="rfcCliente"
                                placeholder="" onchange={changeValues} value={valRfc}></lightning-input>
                        </div>

                    </div>

                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element__control  slds-form-element_stacked slds-is-editing">
                            <label class="slds-form-element__label">Homoclave
                                <lightning-button-icon onclick={onClickHomo} onmouseout={onHideHomo}
                                    icon-name="utility:info" variant="container">
                                </lightning-button-icon>
                            </label>
                            <div id="divHomo"
                                class="divHomo slds-float_left tooltipCustomRight slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                                role="tooltip" aria-live="polite">
                                <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                    <p>
                                        <lightning-formatted-text
                                            value="La homoclave son los 3 últimos digitos del RFC">
                                        </lightning-formatted-text>
                                    </p>
                                </div>
                            </div>
                            <lightning-input type="text" class="slds-popover_body" name="homoclave" label="Homoclave"
                                variant="label-hidden" required
                                message-when-value-missing="Por favor complete este campo"
                                message-when-too-short="Homoclave muy corta" max-length=3 min-length=3 id="homo-clave"
                                placeholder="" value={valHomo}>
                            </lightning-input>
                        </div>

                    </div>

                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <label class="slds-form-element__label">Teléfono Celular
                                <lightning-button-icon onclick={onClickPhone} onmouseout={onHidePhone}
                                    icon-name="utility:info" variant="container">
                                </lightning-button-icon>
                            </label>
                            <div id="divPhone"
                                class="divPhone slds-float_left tooltipCustomLeft slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                                role="tooltip" aria-live="polite">
                                <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                    <p>
                                        <lightning-formatted-text
                                            value="A este número enviaremos un código de seguridad necesario para concluir la contratación.">
                                        </lightning-formatted-text>
                                    </p>
                                </div>
                            </div>
                            <lightning-input required message-when-value-missing="Por favor complete este campo"
                                variant="label-hidden"
                                message-when-pattern-mismatch="Por favor, ingresa un número telefónico a 10 dígitos"
                                label="Teléfono Celular" type="tel" max-length=10 min-length=10 pattern="[0-9]{10}"
                                id="cel-phone" placeholder="" name="cellPhone" value={valPhone}>
                            </lightning-input>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <label class="slds-form-element__label">CURP
                                <lightning-button-icon onclick={onClickCurp} onmouseout={onHideCurp}
                                    icon-name="utility:info" variant="container">
                                </lightning-button-icon>
                            </label>
                            <div id="divCurp"
                                class="divCurp slds-float_left tooltipCustomRightCurp slds-p-left_xx-small slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                                role="tooltip" aria-live="polite">
                                <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                    <p>
                                        <lightning-formatted-text
                                            value="Si los datos que ingresaste son correctos, el CURP se generará Automáticamente.">
                                        </lightning-formatted-text>
                                    </p>
                                </div>
                            </div>
                            <lightning-input required message-when-value-missing="Por favor complete este campo"
                                variant="label-hidden" disabled message-when-too-long="El CURP no es válido"
                                message-when-too-short="El CURP no es válido" label="CURP" type="text" min-length=13
                                max-length=20 id="curp" placeholder="" name="curp" value={valCurp}></lightning-input>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                            <label class="slds-form-element__label" for="Nacionalidad"> <abbr class="slds-required"
                                    title="required">*</abbr>Nacionalidad</label>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <label class="slds-form-element__label"
                                        for="single-form-element-id-02">Mexicana</label>
                                    <div class="slds-form-element__control">
                                        <lightning-input variant="label-hidden" type="checkbox" value={mexicana}
                                            checked={valMex} onchange={getValMex} data-id="checkbox" label="Mexicana">
                                        </lightning-input>
                                    </div>
                                    <label class="slds-form-element__label"
                                        for="single-form-element-id-03">Extranjera</label>
                                    <div class="slds-form-element__control">
                                        <lightning-input variant="label-hidden" type="checkbox" value={extranjera}
                                            checked={valExt} onchange={getValExt} data-id="checkbox" label="Extranjera">
                                        </lightning-input>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                        <div data-id="valPais"
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <div if:true={valExt}>
                                <lightning-input disabled label="País de Nacimiento" type="text" placeholder="">
                                </lightning-input>
                            </div>
                            <div if:false={valExt}>
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    label="País de Nacimiento" type="text" id="lugar-nacimiento" placeholder=""
                                    value={lugarNac} name="lugarNa">
                                </lightning-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row slds-col slds-size_10-of-12">
                    <div class="slds-form__item" role="listitem">
                        <div data-id="valEdo"
                            class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                            <div if:true={valExt}>
                                <lightning-input disabled label="Estado de Nacimiento" type="text" placeholder="">
                                </lightning-input>
                            </div>
                            <div if:false={valExt}>
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    label="Estado de Nacimiento" type="text" id="estado-nacimiento" placeholder=""
                                    value={estadoNac} onchange={getStatesByName} name="edoNa">
                                </lightning-input>
                            </div>
                        </div>
                    </div>
                    <div class="slds-form__item" role="listitem">
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer" class="noFoot">
            <lightning-button class="slds-m-top_small button-space" type="submit" label="Regresar">
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" type="submit" label="Guardar">
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" onclick={handledNextAction} variant="brand" type="submit"
                label="Continuar">
            </lightning-button>
        </div>
    </lightning-card>
</template>