<template>
    <div class="slds-grid slds-wrap">
        <template if:false={hidequeartly}>
            <div class="slds-col slds-size_1-of-4">
                <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                    <h3 class="slds-align_absolute-center paymentsText">Total <br>mensual:</h3>
                    <h3 class="slds-align_absolute-center paymentsText">{totalentmonth}</h3>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-4">
                <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                    <h3 class="slds-align_absolute-center paymentsText">Total <br>trimestral:</h3>
                    <h3 class="slds-align_absolute-center paymentsText">{totalentqueartly}</h3>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-4">
                <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                    <h3 class="slds-align_absolute-center paymentsText">Total <br>semestral:</h3>
                    <h3 class="slds-align_absolute-center paymentsText">{totalentsemianual}</h3>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-4">
                <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                    <h3 class="slds-align_absolute-center paymentsText">Total <br>anual:</h3>
                    <h3 class="slds-align_absolute-center paymentsText">{totalentanual}</h3>
                </div>
            </div>
        </template>
        <template if:true={hidequeartly}>
            <div class="slds-col slds-size_1-of-3">
                <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                    <h3 class="slds-align_absolute-center paymentsText">Total <br>mensual:</h3>
                    <h3 class="slds-align_absolute-center paymentsText">{totalentmonth}</h3>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-3">
                <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                    <h3 class="slds-align_absolute-center paymentsText">Total <br>semestral:</h3>
                    <h3 class="slds-align_absolute-center paymentsText">{totalentsemianual}</h3>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-3">
                <div class="slds-box slds-p-top_xx-small paymentsBorderBox paymentsBackGroundBox">
                    <h3 class="slds-align_absolute-center paymentsText">Total <br>anual:</h3>
                    <h3 class="slds-align_absolute-center paymentsText">{totalentanual}</h3>
                </div>
            </div>
        </template>
    </div>
</template>