.paymentsText {
    color: #005fb2 !important;
    font-weight: bold !important;
}
.paymentsBorderBox {
    border-color: #005fb2 !important;
    min-height: 7em;
    max-height: 7em;
    align-content: center;
    text-align: center;
}
.paymentsBackGroundBox {
    background-color: #DFF4FA !important;
}