<template>
    <lightning-card>
        <div class="slds-text-align_left slds-m-bottom_medium">
            <lightning-pill-container data-id="attachmentsContainer" items={items} onitemremove={handleRemoveItem}></lightning-pill-container>
        </div>
        <div class="slds-align_absolute-center">
            <lightning-button variant="brand" label="Adjuntar Archivos" class="slds-m-left_x-small" onclick={attachFiles}></lightning-button>
        </div>

        <div class="slds-var-p-around_small">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size--2-of-4">
                    <lightning-input type="search" variant="standard" name="Title" label="Título" onchange={handleSearch}></lightning-input>
                </div>

                <div class="slds-col slds-size--2-of-4">
                    <lightning-combobox  name="librariesValues" label="Familia" value="" data-id="librariesValues" onchange={handleLibraries}
                                        placeholder="Seleccion" options={librariesPicklist} class="slds-m-left_x-small"></lightning-combobox>
                </div>

            </div>
        </div>

        <div class="slds-var-p-around_small">
            <lightning-datatable
                    data-id="documentsTable"
                    key-field="id"
                    data={dataList}
                    columns={columnsList}
                    onrowaction={handleRowAction}>
            </lightning-datatable>
        </div>

    </lightning-card>
</template>