<template>
    <div if:true={loading} class="slds-is-relative slds-p-around_large">
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>

    <article class="slds-card" if:false={loading}>
        <!-- No error. -->
        <template if:false={errorMessage}>
            <div class="slds-card__body slds-p-horizontal_medium">
                <div class="slds-path">
                    <div class="slds-grid slds-path__track">
                        <div class="slds-grid slds-path__scroller-container">
                            <div class="slds-path__scroller" role="application">
                                <div class="slds-path__scroller_inner">
                                    <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                                        <!-- List of items to be displayed. -->
                                        <template for:each={itemsToDisplay} for:item="item">
                                            <li key={item.value} class={item.classes} role="presentation"
                                                onclick={handleItemClick} data-id={item.index}>
                                                <a aria-selected={item.selected} class="slds-path__link"
                                                    href="javascript:void(0);" role="option" tabindex="-1">
                                                    <span class="slds-path__stage">
                                                        <lightning-icon size="x-small" icon-name="utility:check"
                                                            alternative-text={item.assistiveText} variant="inverse">
                                                        </lightning-icon>
                                                    </span>
                                                    <span class="slds-path__title">{item.label}</span>
                                                </a>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <template if:true={buttonState}>
                            <div class="slds-grid slds-path__action">
                                <lightning-button class="slds-button slds-button_brand slds-path__mark-complete"
                                    variant="brand" onclick={handleButtonClick} title="Siguiente Etapa" label="Siguiente Etapa">
                                </lightning-button>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <!-- Modal. -->
            <template if:true={openmodel}>
                <div style="height: 640px;">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                    <lightning-icon icon-name="utility:close" size="medium">
                                    </lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h3 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Motivo de descarte</h3>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-form-element slds-m-around_xx-large">
                                    <lightning-record-edit-form object-api-name="Account">
                                        <lightning-messages></lightning-messages>
                                        <lightning-input-field field-name="BPyP_ls_Motivo__c" onchange={handleMotivoChange}></lightning-input-field>
                                    </lightning-record-edit-form>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button label="Cancelar" variant="neutral" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <lightning-button label="Guardar" variant="brand" onclick={saveMethod}></lightning-button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
                </template>
        </template>

        <template if:true={errorMessage}>
            <div class="slds-box slds-theme_error">
                <p>{errorMessage}</p>
            </div>
        </template>
    </article>
</template>