/**
 * @File Name          : MX_SB_VTS_Objeciones_cls.cls
 * @Description        : 
 * @Author             : Eduardo Hernández Cuamatzi
 * @Group              : 
 * @Last Modified By   : Eduardo Hernández Cuamatzi
 * @Last Modified On   : 13/11/2019 18:06:24
 * @Modification Log   : 
 * Ver       Date            Author      		        Modification
 * 1.0    08/06/2020    Jesus Alexandro Corzo Leon      Se realiza ajuste a la hoja de estilos
 **/
.THIS.loadSpinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .eachField.narrowRegion{
    width:100%;
}
.THIS .eachField{
    width:50%;
    display:inline-block;
}
.THIS .tallTextArea textarea {
    height: 5rem;
  }