<template>
        <p>Resumen de la contratación</p>
    <div class="c-container">
        <lightning-layout>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field 1">Folio de la contratación:</p>
                    <p>FOL12839</p>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field2 (3)">Tipo de plan:
                        <lightning-button-icon  variant="border-filled" size="small" alternative-text="More Actions"></lightning-button-icon>
                    </p>
                    <p>Familiar 5 hijos</p>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field 1"></p>
                    <p></p>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field 1">Primer pago :</p>
                    <p>$ 800.05</p>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field2 (3)">Pago subsecuentes :
                    </p>
                    <p>11 meses</p>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field2 (3)">Tipo:
                    </p>
                    <p>Familiar 5 hijos</p>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
    <div class="slds-m-vertical_medium">
        <h1 class="slds-text-heading_small">Resumen de contratación</h1>
        <p class="slds-text-body_regular">Resumen de la informacion de contratación</p>
    </div>
    <div class="slds-m-vertical_medium">
        <h1 class="slds-text-heading_small">Asegurado:</h1>
        <p class="slds-text-body_regular">Resumen de la informacion del Asegurado</p>
  

    <p><lightning-formatted-text value="Nombre: " ></lightning-formatted-text><lightning-formatted-text value="Naurto Uzumaki" ></lightning-formatted-text></p>
    <p><lightning-formatted-text value="Edad: " ></lightning-formatted-text><lightning-formatted-text value="16" ></lightning-formatted-text></p>
    <p><lightning-formatted-text value="Genero: " ></lightning-formatted-text><lightning-formatted-text value="Masculino" ></lightning-formatted-text></p>
    
</div>
<div class="slds-m-vertical_medium">
    <h1 class="slds-text-heading_small">Asegurado 2:</h1>
    <p class="slds-text-body_regular">Resumen de la informacion del Asegurado 2</p>


<p><lightning-formatted-text value="Nombre: " ></lightning-formatted-text><lightning-formatted-text value="Neiji Hyuga" ></lightning-formatted-text></p>
<p><lightning-formatted-text value="Edad: " ></lightning-formatted-text><lightning-formatted-text value="16" ></lightning-formatted-text></p>
<p><lightning-formatted-text value="Genero: " ></lightning-formatted-text><lightning-formatted-text value="Masculino" ></lightning-formatted-text></p>

</div>
<div class="slds-m-vertical_medium">
    <h1 class="slds-text-heading_small">Asegurado 3:</h1>
    <p class="slds-text-body_regular">Resumen de la informacion del Asegurado 3</p>


<p><lightning-formatted-text value="Nombre: " ></lightning-formatted-text><lightning-formatted-text value="Sasuke UChiha" ></lightning-formatted-text></p>
<p><lightning-formatted-text value="Edad: " ></lightning-formatted-text><lightning-formatted-text value="17" ></lightning-formatted-text></p>
<p><lightning-formatted-text value="Genero: " ></lightning-formatted-text><lightning-formatted-text value="Masculino" ></lightning-formatted-text></p>

</div>
</template>