<template>
    <lightning-card class="slds-card_boundary" >
        <div class="titleHeader"><h1 slot="title">{title}</h1></div>
        <div class="slds-card__body slds-card__body_inner">

            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-m-bottom_large"> 
                
                <tbody>
                    <template for:each={rows} for:item="row" for:index="index">
                        <tr class="inputRows" key={row.uuid}>

                            <template for:each={columns} for:item="column">
                                <td key={column.apiName}>
                                    </br>
                                    <c-mx_sb_vts_datos-beneficiarios-v-s-d record={row} field={column.apiName}></c-mx_sb_vts_datos-beneficiarios-v-s-d>
                                    </br>
                                    <lightning-button value={index} variant="brand" label="Quitar" onclick={removeRow}></lightning-button>
                                    </br>
                                    </br>
                                </td>
                            </template>
                            
                        </tr>
                    </template>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            </br>
                            <label>Agregar Beneficiario</label>
                            <lightning-button-icon
                                icon-name="action:add_relationship"
                                variant="bare"
                                onclick={addRow}
                                disabled = {isDisabled}
                                >
                            </lightning-button-icon>
                            </br>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </lightning-card>
</template>