.THIS div .tablaBotonesMetodoPago{
    width:100%; 
    background-color: #fff
}
.THIS.myModal .slds-modal__header{
 background-color: blue; 
} 

/*Modal Body*/
.THIS div .myModal .slds-modal__content{
 background-color: blue; 
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -1.5rem;
    left: -1rem;
    white-space: nowrap;
}