.THIS .title{
    color: #8E8E8E;
    font-weight: bold;
    font-size: 14px;
}

.THIS .data{
    color: #B1B1B1;
    font-size: 14px;
}

.THIS .titleCard{
    font-weight: bold;
    font-size: 15px;
}

.THIS .personalheight{
    height:12rem;
}