<!--
  @File Name          : mx_sb_1500_executive_data.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 5/26/2020, 11:48:25 AM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    5/25/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card id='showData' if:true={showData} title='Datos del Ejecutivo #1500'>
        <template for:each={executiveData} for:item='executive'>
            <li class='remove-dot' key={executive.Id}>
                <p>
                   M: <lightning-formatted-text value={executive.MX_SB_1500_M__c}></lightning-formatted-text>
                </p>
                <p>
                    CR: <lightning-formatted-text value={executive.MX_SB_1500_CR__c}></lightning-formatted-text>
                </p>
                <p> Nombre del Ejecutivo: <lightning-formatted-name
                                        first-name={executive.MX_SB_1500_ExecutiveGivenName__c}
                                        last-name={executive.MX_SB_1500_ExecutiveSureName__c__c}>
                    </lightning-formatted-name>
                </p>
                <p>
                    Correo del Ejecutivo: <lightning-formatted-text value={executive.MX_SB_1500_Email__c}></lightning-formatted-text>
                </p>
                <p>
                    Teléfono Sucursal: <lightning-formatted-phone value={executive.MX_SB_1500_Phone__c}></lightning-formatted-phone>
                </p>
                <p>
                    Extensión: {executive.MX_SB_1500_PhoneExt__c}
                </p>
            </li>
        </template>
    </lightning-card>
</template>