<!--
  @File Name          : mx_sb_1500_executiveAuth.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 5/7/2020, 11:07:19 AM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    3/18/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card>
        <lightning-card>
            <lightning-icon icon-name='standard:client' class='slds-var-m-left_medium'></lightning-icon>
            <span class='slds-card__header-link baseCard__header-title-container slds-var-m-left_small'>Identificar Ejecutivo</span>
        </lightning-card>
        <lightning-card if:true={startValidation}>
            <section class='slds-var-m-left_medium'>
                <p><strong>Nombre del Ejecutivo:</strong> { caseData.MX_SB_1500_ExecutiveGivenName__c } {caseData.MX_SB_1500_ExecutiveSureName__c }</p>
            </section>
            <section class='slds-var-m-left_medium'>
                <lightning-radio-group
                    name='valid-pu-options'
                    options={options}
                    value={value}
                    label='¿Se identificó correctamente el ejecutivo en PU?'
                    type='radio'
                    onchange={handleOnChange}
                    required>
                </lightning-radio-group>
            </section>
            <section class='slds-var-m-left_medium slds-var-m-top_large'>
                <p>{ caseData.MX_SB_1500_ExecutiveGivenName__c }, los datos que me proporcionaste no se encuentran en el registro. Como medida de seguridad, vamos a corroborarlos con el director de sucursal. ¿Me comunicas con él, por favor?</p>
            </section>
            <section class='slds-var-m-left_medium slds-var-m-top_medium'>
                <p>Buenas tardes, soy { agentData.Name } ¿Con quién tengo el gusto?
                    (Nombre del director) Para atender la solicitud del ejecutivo requiero tu usuario M o MB y C.R. ¿Podrías proporcionármelo, por favor?
                </p>
            </section>
            <section class='slds-var-m-left_medium'>
                <lightning-radio-group
                    name='valid-manger-options'
                    options={options}
                    value={value}
                    label='¿Se identifica correctamente al director de sucursal en PU?'
                    type='radio'
                    onchange={handleOnChange}
                    required={managerFlag}
                    disabled={disable1}>
                </lightning-radio-group>
            </section>
            <section class='slds-var-m-left_medium slds-var-m-top_large'>
                <p>{ caseData.MX_SB_1500_ExecutiveGivenName__c }, por medidas de seguridad, para continuar con el proceso es necesaria una validación correcta. Puedes apoyarte con alguno de tus compañeros para que él/ella se mantenga en línea conmigo y de seguimiento al trámite del cliente.</p>
            </section>
            <section class='slds-var-m-left_medium'>
                <lightning-radio-group
                    name='valid-coworker-options'
                    options={options}
                    value={value}
                    label='¿Se comunica e identifica correctamente a compañero de sucursal en PU?'
                    type='radio'
                    onchange={handleOnChange}
                    required={coworkerFlag}
                    disabled={disable2}>
                </lightning-radio-group>
            </section>
        </lightning-card>
        <lightning-card if:true={showSearchData}>
            <c-mx_sb_sac_search-data client-name={clientName} case-id={recordId} case-data={caseData} user-type={userType} comments={shouldShowComments}></c-mx_sb_sac_search-data>
            <lightning-button id='goBack' class='slds-is-relative custom-c-footer' onclick='{backToValidation}' label='Regresar'></lightning-button>
        </lightning-card>
        <lightning-card if:true={commentsFlag}>
            <c-mx_sb_sac_case-comments case-id={recordId} user-name={agentData.Name} record={caseData} custom-text={customText} rows=3></c-mx_sb_sac_case-comments>
            <lightning-button label='Regresar' variant='neutral' class='slds-is-relative custom-c-footer' onclick='{backToSearch}'></lightning-button>
        </lightning-card>
    </lightning-card>
</template>