<template>
    <lightning-card>
        <div class="slds-align_absolute-center">
            <h3 class="titleHeader">Información básica de la cotización</h3>
        </div><br /><br />
        <div class="c-container">
            <div class="slds-grid slds-wrap slds-grid_align-center slds-grid_align-space">
                <div class="slds-col slds-size_10-of-12">
                    <div class="slds-col slds-grid slds-size_1-of-1">
                        <div class="slds-col slds-size_1-of-3">
                            <div
                                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    label="Nombre" type="text" id="val-nameIb" placeholder="" value={valNomIb}
                                    name="valNameIb">
                                </lightning-input>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div
                                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    label="Apellido paterno" type="text" id="ape-patIb" placeholder=""
                                    value={valApePateIb} name="apellidoPateIb">
                                </lightning-input>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div
                                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    label="Apellido materno" type="text" id="apellido-maternoIb" placeholder=""
                                    value={valApeMaIb} name="apellidoMaIb">
                                </lightning-input>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-grid slds-size_1-of-1">
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-form-element  slds-form-element_stacked slds-is-editing">
                                <div
                                    class="slds-form-element__control txtBox slds-input-has-icon slds-input-has-icon_right">
                                    <lightning-input required message-when-value-missing="Por favor complete este campo"
                                        type="date" date-style="short" id="date-birthIb" label="Fecha de nacimiento"
                                        value={birthVal} onchange={getDateVal}></lightning-input>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div
                                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                                <label class="slds-form-element__label">CURP
                                    <lightning-button-icon onclick={onClickMsgCurp} onmouseout={onHideMsgCurp}
                                        icon-name="utility:info" variant="container">
                                    </lightning-button-icon>
                                </label>
                                <div id="divMsgCurp"
                                    class="divMsgCurp slds-float_left tooltipCustomTop slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-slide-from-top-to-bottom slds-hide"
                                    role="tooltip" aria-live="polite">
                                    <div class="slds-popover__body tooltipSize ms-help-popup-body">
                                        <p>
                                            <lightning-formatted-text
                                                value="Si los datos que ingresaste son correctos, el CURP se generará Automáticamente.">
                                            </lightning-formatted-text>
                                        </p>
                                    </div>
                                </div>
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    variant="label-hidden" message-when-too-long="El CURP no es válido"
                                    message-when-too-short="El CURP no es válido" label="CURP" type="text" min-length=13
                                    max-length=20 id="curp" placeholder="" name="curpIb" value={valCurpIb}>
                                </lightning-input>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div
                                class="slds-form-element__control slds-input-has-icon txtBox slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                                <lightning-input message-when-value-missing="Por favor complete este campo"
                                    message-when-type-mismatch="El correo no es válido" label="Correo electrónico"
                                    type="email" id="correoElecIb" placeholder="" value={valCorreoIb}></lightning-input>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-grid slds-size_1-of-1">
                        <div class="slds-col slds-size_1-of-3">
                            <div
                                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right  slds-form-element_stacked slds-is-editing">
                                <lightning-input required message-when-value-missing="Por favor complete este campo"
                                    message-when-pattern-mismatch="Por favor, ingresa un número telefónico a 10 dígitos"
                                    label="Teléfono celular" type="tel" max-length=10 min-length=10 pattern="[0-9]{10}"
                                    id="cel-phoneIb" placeholder="" name="cellPhoneIb" value={valPhoneIb}>
                                </lightning-input>
                            </div>
                        </div>
                    </div>
                    <br />
                    <c-mx_sb_vts_datos-s-a></c-mx_sb_vts_datos-s-a>
                </div>
            </div>
        </div>
        <br /><br />
        <div slot="footer" class="noFoot">
            <lightning-button class="slds-m-top_small button-space" type="submit" label="Regresar">
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space" type="submit" label="Guardar">
            </lightning-button>
            <lightning-button class="slds-m-top_small button-space"  onclick={handledNextAction} variant="brand" type="submit" label="Continuar">
            </lightning-button>
        </div>
    </lightning-card>
</template>