.titleHeader {
text-align: center !important;
font-size: 20px !important;
color: #005fb2;
font-weight: bold !important;
}
.txtBox {
margin-top: 16px;
}
.button-space{
margin-left:23px;
}
.slds-slide-from-top-to-bottom {
transform: translateY(-100%);
will-change: transform;
padding: 0px;
margin-bottom: calc(-7 * var(--lwc-spacingSmall, 0.75rem));
}
.tooltipCustomTop {
margin-left: 24px;
margin-top: -37px;
}